body {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

.default-body {
    background-color: #fff;
}

.default-main {
    padding-top: 100px;
    width: 100%;
}

.default-max-width {
    max-width: 1206px;
    margin: 0 auto;
}

.content-container, .content-container > .row > h1 + div {
    padding-left: 0;
    padding-right: 0;
}

    .content-container > .row {
        margin-left: 0;
        margin-right: 0;
    }

        .content-container > h1#get-started {
            margin-top: 64px;
            margin-bottom: 6px;
            font-size: 46px;
            font-weight: lighter;
            line-height: 56px;
        }

        .content-container > h1#get-started + p,
        .content-container > h1#get-started + p + p {
            font-size: 24px;
            font-weight: lighter;
            line-height: 28px;
            color: #6d6d6d;
        }

.chrome-header-wrapper .shell-header-wrapper, .chrome-footer-wrapper .shell-footer-wrapper {
    max-width: 1206px !important;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    border-radius: 0;
}

a:link else, a:visited {
    color: #0078D7;
}

a:link {
    color: #006cd8;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.btn-build {
    background-color: #9E9E9E;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0;
}

.shell-header {
    background-color: #fff !important;
    border: 0 !important;
    top: 0 !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 9999;
}

.iot-site-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

    .iot-site-footer > .row > div > p {
        margin-bottom: 20px;
    }

a:hover {
    text-decoration: none;
}

.image-border {
    border: 1px solid rgb(225,225,225);
}

.device {
    padding-left: 0;
}

.section-heading {
    margin-bottom: 50px;
}

.build2015-iframe,
.sanmateo-iframe {
    width: 100%;
    height: 300px;
}

.right.carousel-control, .left.carousel-control {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    opacity: 1;
    filter: alpha(opacity=1); /* IE support */
}

.community-wrapper {
    min-height: 800px;
}

.device-images {
    width: 100%;
    max-width: 600px;
}

.screen-snippet{
   border:3px solid #9E9E9E;
}

.downloads-image {
    background-image: url('../images/DevelopmentBoards.PNG');
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 300px;
    margin-top: 30px;
}

.faq-h2 {
    background-color: #9E9E9E;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.faq-nav {
    position: fixed;
}

    .faq-nav > a > h4 {
        margin-bottom: 20px;
    }

.build-2015-background {
    background-image: url('../images/sf_coverB.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

    .build-2015-background > div > h1 {
        margin-top: 100px;
        text-shadow: 1px 1px 5px #000;
        color: #fff;
        font-size: 50px;
    }

.build-2015-windows {
    background-image: url('../images/IoT-rp2-banner-edit.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
}

.highlight {
    background-color: #9E9E9E;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

.inactive {
    color: #BFBFBF;
}

.active {
    color: #000;
}

ul.get-started-steps > li > a:hover {
    background-color: #fff;
}

.downloads-background {
    background-color: #f1f1f1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    padding: 20px;
}
