---
layout: default
title: Get Started
permalink: /GetStarted.htm
device: RPI2
---

<div class="row">
    <h1>Get Started</h1>
    <div class="col-md-8">
        <p>
            Select your device to get started. If you already have a device running Windows 10 IoT Core Insider Preview, then start building with <a href="{{site.baseurl}}/win10/samples/PowerShell.htm">PowerShell</a> now.
        </p>
        <p><a href="{{site.hardwareurl}}" target="_blank">Learn more about Windows IoT devices</a></p>
    </div>
    {% include steps.html %}
    <!-- <div class="row">
        <ul class="nav nav-justified get-started-steps text-center">
            <li>
                <a href="{{site.baseurl}}/GetStarted.htm"><h3 class="active">1. Select Your Device</h3></a>
            </li>
            <li>
                <a href="{{site.baseurl}}/win10/SetupRPI.htm"><h3 class="inactive">2. Set up Device</h3></a>
            </li>
            <li>
                <a href="{{site.baseurl}}/win10/SetupPC.htm"><h3 class="inactive">3. Set up your PC</h3></a>
            </li>
            <li>
                <a href="{{site.baseurl}}/win10/samples/Blinky.htm"><h3 class="inactive">4. Develop</h3></a>
            </li>
        </ul>
    </div> -->
</div>
<div class="row">
    {% include devices.html %}
</div>
