---
layout: default
title: Code samples
description: Code samples to demonstrate proven concepts and to help you start coding.
keyword: windows iot, samples
permalink: /en-US/Samples.htm
lang: en-US
---

<section class="section">
  <header class="page-title-header remove-top-margin">
    <h1 class="page-title">Code samples</h1>
    <h2 class="page-subtitle">
      Jumpstart your project and explore in-depth samples.
    </h2>
    <p>
      Our sample code lives on <a href="https://github.com/Microsoft/Windows-iotcore-samples" target="_blank">GitHub</a>.
    </p>
  </header>
</section>

<script>
function init() {
    $(".tagBox").parent().hide();
    $(".tagBtn").removeClass("active");
}

window.addEventListener("load", init);
</script>

<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-xs-24">
        <div class="win-color-bg-10" style="padding: 20px">
          <div class="row">
            <div class="col-xs-24 col-md-4">
              <h3>Filter by tags</h3>
              <!--select/deselect buttons -->
              <div class="btn-group">
                <button style="min-width: 0;" onclick="selectAllTags()">all</button>
                <button style="min-width: 0;" onclick="deselectAllTags()">none</button>
              </div>
            </div>
            <div class="col-xs-24 col-md-20">
              <div class="row">
                {% assign tagsCategories = site.data._samples["en-US-cat-tags"] %}
                {% for cat in tagsCategories %}
                  <div class="col-xs-24 col-md-12">
                    <span style="display: inline-block; min-width: 100px;">{{cat.name}}</span>
                    {% for item in cat.tags %}
                      <button id="{{item | downcase | replace: 'c++', 'cxx' | slugify }}" style="min-width: 0; margin: 1px 1px 1px 0px;" class="btn tagBtn active" data-toggle="button" aria-pressed="true" autocomplete="off" onclick="toggleTag('{{item | downcase | replace: 'c++', 'cxx' | slugify}}')">{{item}}</button>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row spacer-32-top">
      {% assign sortedInfo = (site.data._samples[page.lang] | sort: 'title') %}
      {% for entry in sortedInfo %}
        <div class="col-md-6" style="min-height:275px">
          <p><span class="text-base"><a href="{{entry.link}}">{{entry.title}}</a></span></p>
          <p>{{entry.description}}</p>
          <p class="win-color-fg-secondary">
            tags:
            {% for item in entry.tags %}
              {{item | downcase}}{% if forloop.rindex0 != 0 %}, {% endif %}
            {% endfor %}
          </p>
          <span style="display: none;" class="tagBox">
            {% for tag in entry.tags %}
              {{tag | downcase | replace: 'c++', 'cxx'' | slugify}},
            {% endfor %}
          </span>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>

  function toggleTag(tagname) {
    var spanTags = document.getElementsByClassName("tagBox");
    var isActive = $('#' + tagname).hasClass("active");
    for (var i = 0; i < spanTags.length; i++) {
      if (spanTags[i].textContent.indexOf(tagname.toLowerCase() + ",") > -1) {
        if (isActive) {
          spanTags[i].parentNode.style.display = 'none';
        } else {
          spanTags[i].parentNode.style.display = 'block';
        }
      }
    }
  }

  function selectAllTags() {
    $(".tagBtn").attr("aria-pressed", "true").addClass("active");
    $(".tagBox").parent().show();
  }

  function deselectAllTags() {
    $(".tagBtn").attr("aria-pressed", "false").removeClass("active");
    $(".tagBox").parent().hide();
  }
</script>
