<div class="row">
  <div class="col-xs-4">
    <section class="section section-top-margin">
      <div class="section-body">
        <p class="text-caption">
          <span class="win-color-fg-secondary">Instructions for:</span><br/>
          {% include_relative selection-list.inc %}
          <a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">Change</a>
        </p>
        <br/>
        <p><a href="GetStartedStep1.htm">1 Get the tools</a></p>
        <p><a href="GetStartedStep2.htm">2 Set up your device</a></p>
        <p><a href="GetStartedStep3.htm">3 Set up Visual Studio</a></p>
        <p>4 Write your first app</a></p>
      </div>
    </section>
  </div>
  <div class="col-xs-20">
    <section class="section">
      <header class="page-title-header">
        <h1 class="page-title">Step 4 of 4: Write your first app</h1>
        <h2 class="page-subtitle">We'll create a Digital Signage application for your Windows 10 IoT Core device.</h2>
      </header>
    </section>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">1</span>Load the project in Visual Studio<span class="pull-right"><a id="load-project-toggle" class="text-body toggle-button" onClick="hideDiv('load-project')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="load-project">
            <p>
              Download the <a href="https://github.com/ms-iot/samples/archive/develop.zip">source code</a> for the samples and navigate to <b>samples-develop\DigitalSign</b>.
            Make a copy of the folder on your disk and open the project from Visual Studio.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">2</span>Deploy your app<span class="pull-right"><a id="deploy-app-toggle" class="text-body toggle-button" onClick="hideDiv('deploy-app')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="deploy-app">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol>
                  <li value="1">With the application open in Visual Studio, set the architecture (<code>x86</code>) in the toolbar dropdown.</li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol>
                  <li value="2">Next, in the Visual Studio toolbar, click on the <code>Local Machine</code> dropdown and select <code>Remote Machine</code>.</li>
                </ol>
              </div>
              <div class="col-xs-24 col-md-11">
                <p><img alt="Remote Machine Target" src="{{site.baseurl}}/Resources/images/HelloWorld/cs-remote-machine-debugging.png"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol>
                  <li value="3">
                    At this point, Visual Studio will present the <b>Remote Connections</b> dialog. If you previously used IoT Dashboard to set a unique name for your device, you can enter it here (in this example, we're using <b>my-device</b>).
                    Otherwise, use the IP address of your Windows IoT Core device. After entering the device name/IP select <code>Universal</code> for Windows Authentication, then click <b>Select</b>.
                  </li>
                </ol>
              </div>
              <div class="col-xs-24 col-md-11">
                <p><img alt="Remote Machine Debugging" src="{{site.baseurl}}/Resources/images/HelloWorld/cs-remote-connections.PNG"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol>
                  <li value="4">
                    You can verify or modify these values by navigating to the project properties
                    (select <b>Properties</b> in the Solution Explorer) and choosing the <code>Debug</code> tab on the left.
                  </li>
                </ol>
              </div>
              <div class="col-xs-24 col-md-11">
                <p><img alt="Project Properties Debug Tab" src="{{site.baseurl}}/Resources/images/remote-debug-properties.PNG"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol>
                  <li value="5">
                    When everything is set up, you should be able to press F5 from Visual Studio.
                    If there are any missing packages that you did not install during setup, Visual Studio may prompt you to acquire those now.
                    The <a href="{{site.baseurl}}/{{page.lang}}/Samples/DigitalSign.htm">Digital Signage</a> app will deploy and start on the Windows IoT device. Click the play button on the Main Page to start the slide show. 
                  </li>
                </ol>
              </div>
              <div class="col-xs-24 col-md-11">
                <p><img alt="Digital Sign Application Running" src="{{site.baseurl}}/Resources/images/DigitalSignage/DigitalSignage1.png"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol>
                  <li value="6">Congratulations! You now have the Digital Sign Application running on your Windows IoT device.</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  
    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-body">
            <p class="win-color-fg-green">Step 4 of 4: Write your first app is complete.</p>
            <p class="win-color-fg-green">You're done. Setup and installation is now finished.</p>
            <br/>
            <p class="text-title">What next? Check out docs and other samples</p>
            <div class="btn-group">
              <a href="{{site.baseurl}}/{{page.lang}}/Docs.htm" class="btn btn-primary">View documentation</a>
              <a href="{{site.baseurl}}/{{page.lang}}/Samples.htm" class="btn btn-primary">View samples</a>
            </div>
            <p><a href="https://microsoft.hackster.io/">See what the community has built</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  function hideDiv(div) {
    var pdiv = "#" + div,
        button = pdiv + "-toggle"

    if ($(pdiv).css('display') == 'none') {
      $(pdiv).toggle('slow');
      $(button).html('Hide');
    }
    else {
      $(pdiv).toggle('slow');
      $(button).html('Show');
    }
  }
</script>