<div class="row">
  <div class="col-xs-4">
    <section class="section section-top-margin">
      <div class="section-body">
        <p class="text-caption">
          <span class="win-color-fg-secondary">Instructions for:</span><br/>
          {% include_relative selection-list.inc %}
          <a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">Change</a>
        </p>
        <br/>
        <p>1 Get Windows installed</p>
        <p><a href="GetStartedStep2.htm">2 Setup your device</a></p>
        <p><a href="GetStartedStep3.htm">3 Setup Visual Studio</a></p>
        <p><a href="GetStartedStep4.htm">4 Write your first app</a></p>
      </div>
    </section>
  </div>
  <div class="col-xs-20">
    <section class="section">
      <header class="page-title-header">
        <h1 class="page-title">Step 1 of 4: Get Windows installed</h1>
        <h2 class="page-subtitle">Download the tools and software you need to set up your device and install Windows IoT.</h2>
      </header>
    </section>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">1</span>Get Windows 10<span class="pull-right"><a id="get-windows-10-toggle" class="text-body toggle-button" onClick="hideDiv('get-windows-10')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="get-windows-10">
            <p>
              Make sure you are running the public release of Windows 10 (version 1607 or better).<br/>
              You can find your current build number by clicking the <b>start</b> button, typing <b>"winver"</b>, and pressing the <b>Enter</b> key.
            </p>
            <p>
              If you're not running Windows 10 (version 1607 or better) you can upgrade from <a href="http://www.microsoft.com/en-us/software-download/windows10" target="_blank">here</a>.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">2</span>Configure a USB flash drive<span class="pull-right"><a id="configure-toggle" class="text-body toggle-button" onClick="hideDiv('configure')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="configure">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol class="inline-list">
                  <li>Download and install the <a href="https://developer.microsoft.com/en-us/windows/hardware/windows-assessment-deployment-kit" target="_blank">Windows Assessment and Deployment Kit</a> that matches the Windows 10 version you noted at the top of this page.<p></p>
                        <ul><li>Note the path where the kit is installed. Normally it is C:\Program Files (x86)\Windows Kits\10\.</li>
                        <li>The <b>Deployment Tools</b> and <b>Windows Preinstallation Environment</b> features are required. The rest are optional.</li></ul>
                   </li>     
                  <li>Create a USB Bootable WinPE image by following <a href="https://technet.microsoft.com/en-us/library/hh825109.aspx" target="_blank">these instructions</a>. Follow the Steps on <b>Install Windows PE</b>. Specify your device as x86 in these commands.</li>
                  <li>Download <a href="https://downloadcenter.intel.com/download/26320/Windows-10-IoT-Core-install-script-for-Intel-Joule-" target="_blank">JouleInstaller.zip</a> from the Intel website, unzip the file, and copy the JouleInstaller.cmd to the root of the USB drive you created in the previous step.</li>
                </ol>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">3</span>Download the Windows 10 IoT Core image for the Intel Compute Stick<span class="pull-right"><a id="get-windows-iotcore-toggle" class="text-body toggle-button" onClick="hideDiv('get-windows-iotcore')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="get-windows-iotcore">
            <ol class="inline-list"> 
                <li>
                    <p>Download the most recent Insider Preview image for the MinnowBoard Max.</p>
                    <div class="btn-group">
                      <a href="http://go.microsoft.com/fwlink/?LinkID=733603" target="_blank" id="insider-preview-link" class="btn btn-primary">Get Windows 10 IoT Core Insider Preview</a>
                    </div>
                    <p>Sign in with your Microsoft Account. You need to be signed up for the Windows Insider Program to download the Insider Preview.</br>
                     Visit the <a href="http://go.microsoft.com/fwlink/p/?linkID=532967" target="_blank"> download page</a> for more details.</p>
                </li>
            
                <li>
                    <p>Click the desired image under the <b>Windows 10 IoT Core Insider Preview</b>. </br>
                    Once you have signed in, select the build version <i>(a higher number indicates a newer build)</i> and your device, click <b>Download Now</b>.</p> 
                    {% include note.html text="The Windows 10 Core IoT image for MinnowBoard Max will be used here." %}
                </li>                          
                <li> 
                    <p>Double click the downloaded ISO file. This will automatically mount the ISO as a new virtual CD-drive <i>(Look for a new CD-ROM drive)</i>. </p>
                </li>
                  
                <li>
                    <p>The mounted virtual drive contains a <b>.msi</b> installer file . Double click the file to start the installation and follow the installation steps.</p>
                    <p><img  alt="msi for Windows 10 IoT Core for MBM" class="image-border" src="{{site.baseurl}}/Resources/images/manual-setup/mbm-manual-Step-1.PNG"></p>
                </li> 
                   
       
                <li>
                    <p>The installer creates a new directory: C:\Program Files (x86)\Microsoft IoT\FFU\MinnowBoardMax\ which contains the image file <b>flash.ffu</b>.</p>
                    <p><img alt="ffu for Windows 10 IoT Core for MBM" class="image-border" src="{{site.baseurl}}/Resources/images/manual-setup/mbm-manual-Step-2.PNG" /></p>
                </li>
                
                <li>
                    <p>Copy the <b>flash.ffu</b> to the root of the WinPE USB drive you created in Step 2 above. This USB drive will be used in the next step to install Windows IoT.</p>
                </li>
                      
                <li>
                <p>Eject the USB drive when done.</p>
                </li>               
            </ol>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">4</span>Install Windows IoT on the Intel Stick<span class="pull-right"><a id="install-toggle" class="text-body toggle-button" onClick="hideDiv('install')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="install">
            <div class="row">
              <div class="col-xs-24 col-md-12">
              <h4> What you need </h4>
                <p>
                <ul>
                  <li>The USB drive you finished creating in Step 3.</li>
                  <li>Intel Compute Stick.</li>
                  <li>Power cord to power On the Intel Compute Stick.</li>
                  <li>Monitor with an HDMI port.</li>
                  <li>Multiple USB Port Hub.</li>
                  <li>USB keyboard and mouse. </li>
                </ul>
                </p>
                <p>
                <h4> Setup </h4>
                  <ul>
                  <li>Through the USB hub, connect the USB drive you created, attach a USB keyboard, and a USB mouse.</li>
                  <li>Connect the Intel Compute Stick to the monitor.</li>
                  <li>Power On the Device.</li>
                  <li>Press F2 to enter the BIOS Setup.</li>
                  <li>Select <b>Windows</b> as the Operating System.</li>
                  <li>Select <b>Boot Manager -> USB Device</b> to boot up from the USB drive.</li>                
                  </ul>
                  </p>
              <h4>Install Windows IoT</h4>
                <ol class="setup-content-list">
                <p>
                  <li>When the system boots, you will see the WinPE command prompt. Switch the WinPE prompt to the USB drive. Normally, this is "C:" or "D:", but you may need to try other drive letters.</li>
                  <li>Run <b>JouleInstaller.cmd</b> to install the Flash.ffu file from the USB drive to the eMMC storage on the device.</li>
                  <li>When prompted, press any key to continue. This will take you the WinPE prompt.</li>
                  <li>From the WinPE prompt, run <b>wpeutil reboot</b>.</li>
                  <li>When the system tries to reboot, press F2 and enter the BIOS Setup.</li>
                  <li>Change the Boot Drive Order to load from <b>Hard Drive : Part 1 : OS Bootloader. Save the changes.</b></li>
                  <li>The system will boot to Windows 10 IoT Core, start the configuration process, and load the <a href="{{site.baseurl}}/{{page.lang}}/samples/iotdefaultapp.htm" target="_blank">default app</a>. You may remove the USB flash drive. You will no longer need it.</li>
                </p>
                </ol>       
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-body">
            <p>
              <span class="win-color-fg-green">Step 1 of 4: Windows IoT is installed.</span>
              Setup your device <span class="win-color-fg-secondary">is next.</span>
            </p> 
            <div class="btn-group">
              <a href="GetStartedStep2.htm" class="btn btn-primary">Next</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  function hideDiv(div) {
    var pdiv = "#" + div,
        button = pdiv + "-toggle"

    if ($(pdiv).css('display') == 'none') {
      $(pdiv).toggle('slow');
      $(button).html('Hide');
    }
    else {
      $(pdiv).toggle('slow');
      $(button).html('Show');
    }
  }
</script>
