<div class="row">
  <div class="col-xs-4">
    <section class="section section-top-margin">
      <div class="section-body">
        <p class="text-caption">
          <span class="win-color-fg-secondary">Instructions for:</span><br/>
          {% include_relative selection-list.inc %}
          <a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">Change</a>
        </p>
        <br/>
        <p>1 Get the tools</p>
        <p><a href="GetStartedStep2.htm">2 Set up your device</a></p>
        <p><a href="GetStartedStep3.htm">3 Set up Visual Studio</a></p>
        <p><a href="GetStartedStep4.htm">4 Write your first app</a></p>
      </div>
    </section>
  </div>
  <div class="col-xs-20">
    <section class="section">
      <header class="page-title-header">
        <h1 class="page-title">Step 1 of 4: Get the tools</h1>
        <h2 class="page-subtitle">Download the tools and software you need to set up your board, build and explore Windows IoT.</h2>
      </header>
    </section>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">1</span>Get Windows 10<span class="pull-right"><a id="get-windows-10-toggle" class="text-body toggle-button" onClick="hideDiv('get-windows-10')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="get-windows-10">
            <p>
              Make sure you are running the public release of Windows 10 (build 14393 or better).<br/>
              You can find your current build number by clicking the start button, typing "winver", and hitting the Enter key.
            </p>
            <p>
              To upgrade, visit the <a href="http://www.microsoft.com/en-us/software-download/windows10" target="_blank">Download Windows 10 page</a>.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">2</span>Download and install Windows 10 IoT Core Dashboard<span class="pull-right"><a id="download-and-install-toggle" class="text-body toggle-button" onClick="hideDiv('download-and-install')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="download-and-install">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <p>By downloading and using the Windows 10 IoT Core Dashboard you agree to the <a href="http://go.microsoft.com/fwlink/?LinkID=703960&clcid=0x4809" target="_blank">license terms</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">privacy statement</a> for Windows 10 IoT Core Dashboard.</p>
                <div class="btn-group">
                  <a href="http://go.microsoft.com/fwlink/?LinkID=708576" id="device-center-link" class="btn btn-primary">Download Dashboard</a>
                </div>
              </div>
              <div class="col-xs-24 col-md-11">
                <img alt="dashboard for windows 10 iot core" src="{{site.baseurl}}/Resources/images/IoTDashboard/IoTDashboard_WelcomePage.PNG">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-body">
            <p>
              <b>Next: Set up your device.</b>
            </p> 
            <div class="btn-group">
              <a href="GetStartedStep2.htm" class="btn btn-primary">Next</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  function hideDiv(div) {
    var pdiv = "#" + div,
        button = pdiv + "-toggle"

    if ($(pdiv).css('display') == 'none') {
      $(pdiv).toggle('slow');
      $(button).html('Hide');
    }
    else {
      $(pdiv).toggle('slow');
      $(button).html('Show');
    }
  }
</script>
