<div class="row">
  <div class="col-xs-4">
    <section class="section section-top-margin">
      <div class="section-body">
        <p class="text-caption">
          <span class="win-color-fg-secondary">Instructions for:</span><br/>
          {% include_relative selection-list.inc %}
          <a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">Change</a>
        </p>
        <br/>
        <p>1 Get the tools</p>
        <p><a href="GetStartedStep2.htm">2 Set up your device</a></p>
        <p><a href="GetStartedStep3.htm">3 Set up Visual Studio</a></p>
        <p><a href="GetStartedStep4.htm">4 Write your first app</a></p>
      </div>
    </section>
  </div>
  <div class="col-xs-20">
    <section class="section">
      <header class="page-title-header">
        <h1 class="page-title">Step 1 of 4: Get the tools</h1>
        <h2 class="page-subtitle">Download the tools and software you need to set up your board, build and explore Windows IoT.</h2>
      </header>
    </section>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">1</span>Get Windows 10<span class="pull-right"><a id="get-windows-10-toggle" class="text-body toggle-button" onClick="hideDiv('get-windows-10')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="get-windows-10">
            <p>
              Make sure you are running the public release of Windows 10 (build 14393 or better).<br/>
              You can find your current build number by clicking the start button, typing "winver", and hitting the Enter key.
            </p>
            <p>
              To upgrade, visit the <a href="http://www.microsoft.com/en-us/software-download/windows10" target="_blank">Download Windows 10 page</a>.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">2</span>Download and install the DragonBoard Update Tool<span class="pull-right"><a id="download-and-install-toggle" class="text-body toggle-button" onClick="hideDiv('download-and-install')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="download-and-install">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol class="inline-list">
                  <li>Download the DragonBoard Update Tool by selecting the download link appropriate for your PC: <a href="https://developer.qualcomm.com/download/db410c/windows-10-iot-update-tool-dragonboard-410c-x86.zip" target="_blank">x86</a> or <a href="https://developer.qualcomm.com/download/db410c/windows-10-iot-update-tool-dragonboard-410c-x64.zip" target="_blank">x64</a>. To determine whether your PC is x86 or x64, follow this <a href="https://www.tenforums.com/tutorials/4399-system-type-32-bit-x86-64-bit-x64-windows-10-a.html">tutorial</a>. While the screenshots are outdated, the directions still apply.</li>
                  <li>Right click on the downloaded zip file and select extract all. This will create a new folder with the same name as the downloaded zip file.</li>
                  <li>Open the folder and double-click on the only file available: either DragonBoardUpdateTool_X86 or DragonBoardUpdateTool_X64.</li>
                  <li>
                    <p>Follow the instructions and when prompted allow the USB driver to install by clicking "install".</p>
                    <p><img alt="screenshot: install usb driver" class="image-border" src="{{site.baseurl}}/Resources/images/SetupDB410c/DB410c_UpdateTool_DriverInstall.png" /></p>
                  </li>
                  <li>The installer will create a shortcut to the DragonBoard Update Tool on your desktop and in your start menu, under Qualcomm->DragonBoardUpdate Tool.</li>
                </ol>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">3</span>Download and install Windows 10 IoT Core Dashboard<span class="pull-right"><a id="download-and-install-toggle" class="text-body toggle-button" onClick="hideDiv('download-and-install')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="download-and-install">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <p>You will use the Dashboard to access your device through the "My devices" tab once you connect it to your network. We will cover the details of connecting to your device through Windows Device Portal, SSH, and PowerShell in the next step (<a href="GetStartedStep2.htm"> Set up your device </a>).</p>
                <p>By downloading and using the Windows 10 IoT Core Dashboard you agree to the <a href="http://go.microsoft.com/fwlink/?LinkID=703960&clcid=0x4809" target="_blank">license terms</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">privacy statement</a> for Windows 10 IoT Core Dashboard.</p>
                <div class="btn-group">
                  <a href="http://go.microsoft.com/fwlink/?LinkID=708576" id="device-center-link" class="btn btn-primary">Download Dashboard</a>
                </div>
              </div>
              <div class="col-xs-24 col-md-11">
                <img alt="dashboard for windows 10 iot core" src="{{site.baseurl}}/Resources/images/IoTDashboard/IoTDashboard_WelcomePage.PNG">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
     <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">4</span>Download the DragonBoard Windows 10 IoT Core Image<span class="pull-right"><a id="get-windows-iotcore-toggle" class="text-body toggle-button" onClick="hideDiv('get-windows-iotcore')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="get-windows-iotcore">
            <ol class="inline-list">
                  <div class="row">
                  <li>
                    <p>Download the most recent Insider Preview image</p>
                    <div class="btn-group">
                      <a href="http://go.microsoft.com/fwlink/?LinkID=733603" target="_blank" id="insider-preview-link" class="btn btn-primary">Get Windows 10 IoT Core Insider Preview</a>
                    </div>
                    <p>You need a valid Microsoft Account and need to be signed up for the Windows Insider Program to to download the Insider Preview.
                    Visit the <a href="http://go.microsoft.com/fwlink/p/?linkID=532967" target="_blank">downloads page</a> for more details.</p>
                  </li>
                  <li>
                    <p>Click the desired image under the "Windows 10 IoT Core Insider Preview". You need a Microsoft account and must be part of the Windows Insider Program to gain access to this image. Windows Insider Program is free and anyone can join it.
                    Once you're signed up, select the build version (a higher number indicates a newer build) and your device, click "Download Now".</p>
                  </li>
                  <li>Double click the downloaded ISO file. This will automatically mount the ISO as a new virtual CD-drive. (Look for a new CD-ROM drive)</li>
                  <li>
                    <p>The mounted virtual drive contains an installer file "Windows_10_IoT_Core_for_QCDB410C.msi". Double click the file to start the installation.</p>
                    <p><img alt="windows installer for dragonboard 410c" class="image-border" src="{{site.baseurl}}/Resources/images/SetupDB410c/DB410c_WindowsInstaller.png" /></p>
                    <p>The installer creates a new directory: C:\Program Files (x86)\Microsoft IoT\FFU\QCDB410C\ which contains the DragonBoard410c image file "flash.ffu".</p>
                    <p><img alt="ffu for windows 10 iot core for dragonboard 410c" class="image-border" src="{{site.baseurl}}/Resources/images/SetupDB410c/DB410c_FlashFile_FFU.JPG" /></p>
                    <p>Unlike Raspberry Pi 2 or 3 and Minnowboard Max, we will not be applying this FFU to an SD card. Instead, we will use this flash file on the next page.</p>
                  </li>
                  <li>Eject the virtual CD-drive when done by clicking on 'This PC' in the navigation pane of file explorer, then right click the virtual drive and click Eject.</li>
                </ol>
          </div>
        </section>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-body">
            <p>
              <span class="win-color-fg-green">Step 1 of 4: Get the tools is complete.</span>
              Set up your device <span class="win-color-fg-secondary">is next.</span>
            </p>
            <div class="btn-group">
              <a href="GetStartedStep2.htm" class="btn btn-primary">Next</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  function hideDiv(div) {
    var pdiv = "#" + div,
        button = pdiv + "-toggle"

    if ($(pdiv).css('display') == 'none') {
      $(pdiv).toggle('slow');
      $(button).html('Hide');
    }
    else {
      $(pdiv).toggle('slow');
      $(button).html('Show');
    }
  }
</script>