<div class="row">
  <div class="col-xs-4">
    <section class="section section-top-margin">
      <div class="section-body">
        <p class="text-caption">
          <span class="win-color-fg-secondary">Instructions for:</span><br/>
          {% include_relative selection-list.inc %}
          <a href="{{site.baseurl}}/{{page.lang}}/GetStarted0.htm">Change</a>
        </p>
        <br/>
        <p><a href="GetStartedStep1.htm">1 Get the tools</a></p>
        <p>2 Set up your device</p>
        <p><a href="GetStartedStep3.htm">3 Set up Visual Studio</a></p>
        <p><a href="GetStartedStep4.htm">4 Write your first app</a></p>
      </div>
    </section>
  </div>
  <div class="col-xs-20">
    <section class="section">
      <header class="page-title-header">
        <h1 class="page-title">Step 2 of 4: Set up your device</h1>
        <h2 class="page-subtitle">Download, flash and install Windows 10 IoT Core onto your board using the IoT Core Dashboard.</h2>
      </header>
    </section>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">1</span>Download and flash<span class="pull-right"><a id="download-and-flash-toggle" class="text-body toggle-button" onClick="hideDiv('download-and-flash')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="download-and-flash">
            {% include getstarted/shared/DownloadAndFlash.htm %}
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">2</span>Connect the board to the network<span class="pull-right"><a id="connect-to-network-toggle" class="text-body toggle-button" onClick="hideDiv('connect-to-network')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="connect-to-network">
            {% include getstarted/shared/ConnectToNetwork.htm %}
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">3</span>Configure your board<span class="pull-right"><a id="configure-board-toggle" class="text-body toggle-button" onClick="hideDiv('configure-board')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="configure-board">
            {% include getstarted/shared/ConfigureBoard.htm %}
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">4</span>Try out the Quick-Run samples<span class="pull-right"><a id="quick-run-samples-toggle" class="text-body toggle-button" onClick="hideDiv('quick-run-samples')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="quick-run-samples">
            {% include getstarted/shared/QuickRunSamples.htm %}
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-body">
            <p>
              <span class="win-color-fg-green">Step 2 of 4: Set up your device is complete.</span>
              Set up Visual Studio <span class="win-color-fg-secondary">is next.</span>
            </p> 
            <div class="btn-group">
              <a href="GetStartedStep3.htm" class="btn btn-primary">Next</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>