<div class="row">
  <div class="col-xs-4">
    <section class="section section-top-margin">
      <div class="section-body">
        <p class="text-caption">
          <span class="win-color-fg-secondary">Instructions for:</span><br/>
          {% include_relative selection-list.inc %}
          <a href="{{site.baseurl}}/{{page.lang}}/GetStarted0.htm">Change</a>
        </p>
        <br/>
        <p><a href="GetStartedStep1.htm">1 Get the tools</a></p>
        <p><a href="GetStartedStep2.htm">2 Set up your device</a></p>
        <p>3 Set up Visual Studio</p>
        <p><a href="GetStartedStep4.htm">4 Write your first app</a></p>
      </div>
    </section>
  </div>
  <div class="col-xs-20">
    <section class="section">
      <header class="page-title-header">
        <h1 class="page-title">Step 3 of 4: Set up Visual Studio</h1>
        <h2 class="page-subtitle">Set up your development environment to explore and run the IoT samples.</h2>
      </header>
    </section>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title">Set up your developement environment<span class="pull-right"><a id="setup-vs-toggle" class="text-body toggle-button" onClick="hideDiv('setup-vs')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="setup-vs">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol class="inline-list">
                  <li>
                    <p><b>Dowload and install Visual Studio Community 2015 from <a href="http://go.microsoft.com/fwlink/?LinkID=534599" target="_blank">here</a></b></p>
                    <p class="win-color-fg-secondary">
                      NOTE: Visual Studio Professional 2015 and Visual Studio Enterprise 2015 can be downloaded from <a href="https://www.visualstudio.com/vs-2015-product-editions" target="_blank">here</a>.
                      If you choose to install a different edition of Visual Studio make sure to do a custom installation and select Universal Windows App Development Tools > Tools and Windows SDK.
                    </p>
                  </li>
                  <li>
                    <p><b>Update Visual Studio 2015, if necessary</b></p>
                    <p class="win-color-fg-secondary">
                      Install Update 2 from the Extensions and Update dialog in Visual Studio or from <a href="http://go.microsoft.com/fwlink/?LinkID=691134" target="_blank">here</a>.
                    </p>
                  </li>
                  <li>
                    <p><b>Validate your installation</b></p>
                    <p>Select Help > About Microsoft Visual Studio to display version information.</p>
                    <p>The required version of Visual Studio is 14.0.25123.00 Update 1.</p>
                    <p>The required version of Visual Studio Tools for Universal Windows Apps is 14.0.25208.00.</p>
                  </li>
                  <li>
                    <p>
                      <b>Enable developer mode</b> on your device running Visual Studio. Instructions are <a href="https://msdn.microsoft.com/library/windows/apps/xaml/dn706236.aspx" target="_blank">here</a>.
                    </p>
                  </li>
                </ol>
              </div>
              <div class="col-xs-24 col-md-11">
                <img alt="dashboard for windows 10 iot core" src="{{site.baseurl}}/Resources/images/setup-pc.png">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-body">
            <p>
              <span class="win-color-fg-green">Step 3 of 4: Set up Visual Studio is complete.</span>
              Write your first app <span class="win-color-fg-secondary">is next.</span>
            </p> 
            <div class="btn-group">
              <a href="GetStartedStep4.htm" class="btn btn-primary">Next</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  function hideDiv(div) {
    var pdiv = "#" + div,
        button = pdiv + "-toggle"

    if ($(pdiv).css('display') == 'none') {
      $(pdiv).toggle('slow');
      $(button).html('Hide');
    }
    else {
      $(pdiv).toggle('slow');
      $(button).html('Show');
    }
  }
</script>