<div class="row">
  <div class="col-xs-4">
    <section class="section section-top-margin">
      <div class="section-body">
        <p class="text-caption">
          <span class="win-color-fg-secondary">Instructions for:</span><br/>
          {% include_relative selection-list.inc %}
          <a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">Change</a>
        </p>
        <br/>
        <p>1 Get Windows installed</p>
        <p><a href="GetStartedStep2.htm">2 Setup your device</a></p>
        <p><a href="GetStartedStep3.htm">3 Setup Visual Studio</a></p>
        <p><a href="GetStartedStep4.htm">4 Write your first app</a></p>
      </div>
    </section>
  </div>
  <div class="col-xs-20">
    <section class="section">
      <header class="page-title-header">
        <h1 class="page-title">Step 1 of 4: Get Windows installed</h1>
        <h2 class="page-subtitle">Download the tools and software you need to set up your board and install Windows IoT.</h2>
      </header>
    </section>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">1</span>Get Windows 10<span class="pull-right"><a id="get-windows-10-toggle" class="text-body toggle-button" onClick="hideDiv('get-windows-10')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="get-windows-10">
            <p>
              Make sure you are running the public release of Windows 10 (build 14393 or better).<br/>
              You can find your current build number by clicking the <b>start</b> button, typing <b>"winver"</b>, and pressing the <b>Enter</b> key.
            </p>
            <p>
              To upgrade, visit the <a href="http://www.microsoft.com/en-us/software-download/windows10" target="_blank">Download Windows 10 page</a>.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">2</span>Configure a USB flash drive<span class="pull-right"><a id="configure-toggle" class="text-body toggle-button" onClick="hideDiv('configure')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="configure">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <ol class="inline-list">
                  <li>Download and install the <a href="https://developer.microsoft.com/en-us/windows/hardware/windows-assessment-deployment-kit" target="_blank">Windows Assessment and Deployment Kit</a> that matches the Windows 10 version you noted at the top of this page.</li>
                  <li>Note the path where the kit is installed. Normally it is C:\Program Files (x86)\Windows Kits\10\. The Deployment Tools and Windows Preinstallation Environment features are required, the rest are optional.</li>
                  <li>Reboot your machine after the installation is complete.</li>
                  <li>Create a USB Bootable WinPE image by following <a href="https://technet.microsoft.com/en-us/library/hh825109.aspx" target="_blank">these instructions</a>. When necessary, use the amd64 option.</li>
                  <li>Download <a href="https://downloadcenter.intel.com/download/26320/Windows-10-IoT-Core-install-script-for-Intel-Joule-" target="_blank">JouleInstaller.zip</a> from the Intel website, unzip the file, and copy the JouleInstaller.cmd to the root of the USB drive you created in step 3.</li>
                </ol>
                <!--<p><img alt="USB flash drive contents" class="image-border" src="{{site.baseurl}}/Resources/images/SetupJoule/joule_USB_contents.JPG" /></p>-->
            </div>
          </div>
        </section>
      </div>
    </div>

     <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">3</span>Download the Windows 10 IoT Core image for Joule<span class="pull-right"><a id="get-windows-iotcore-toggle" class="text-body toggle-button" onClick="hideDiv('get-windows-iotcore')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="get-windows-iotcore">
            <ol class="inline-list">
                  <li>Download the <a href="https://www.microsoft.com/en-us/software-download/windowsiot" target="_blank">Windows 10 IoT Core Insider image</a> Build 14931 or later for Joule.</li>
                  <li>Double click the downloaded ISO file. This will automatically mount the ISO as a new virtual CD-drive. (Look for a new CD-ROM drive)</li>
                  <li>
                    <p>The mounted virtual drive contains an installer file "Windows_10_IoT_Core_for_Broxton.msi". Double click the file to start the installation.</p>
                    <p><img alt="windows installer for joule" class="image-border" src="{{site.baseurl}}/Resources/images/SetupJoule/joule_WindowsInstaller.JPG" /></p>
                    <p>The installer creates a new directory: C:\Program Files (x86)\Microsoft IoT\FFU\Broxton\ which contains the Joule image file "flash.ffu".</p>
                    <p><img alt="ffu for windows 10 iot core for joule" class="image-border" src="{{site.baseurl}}/Resources/images/SetupJoule/joule_FlashFile_FFU.JPG" /></p>
                    <p>Copy flash.ffu to the root of the WinPE USB drive you created in step 2 above. You will use this USB drive in the next step to install Windows IoT.</p>
                  </li>
                  <li>Eject the virtual CD-drive when done.</li>
                </ol>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-header">
            <h2 class="section-title"><span class="step">4</span>Install Windows IoT on Joule<span class="pull-right"><a id="configure-toggle" class="text-body toggle-button" onClick="hideDiv('configure')">Hide</a></span></h2>
          </div>
          <div class="section-body toggle-section" id="configure">
            <div class="row">
              <div class="col-xs-24 col-md-12">
                <h4> What you need </h4>
                  <p>
                  <ul>
                    <li>The USB drive you finished creating in step 3 above.
                    <li>Joule Development Platform </li>
                    <li>12V, 3A power adapter (power adapter must be Listed LPS or Class 2 output rated, 12Vdc, 3A minimum) with barrel jack for powering the expansion board. The barrel dimensions are 5.5mm outer diameter, and 2.1mm inner diameter. The barrel length is ~9-10mm. The plug is positive center.</li>
                    <li>Micro HDMI cable and monitor </li>
                    <li><b>POWERED</b> USB 3.0 hub. The development platform has only one Type A USB port. The Type B and C ports should not be used unless directed. </li>
                    <li>USB keyboard and mouse </li>
                    <li>Other cords and peripherals as <a href="https://software.intel.com/en-us/getting-started-on-joule" target="_blank">documented by Intel.</a></li>
                  </ul>
                  </p>
                <h4>Update the Joule firmware</h4>
                  <ol class="setup-content-list">
                    <li>Follow the process on <a href="https://software.intel.com/en-us/flashing-the-bios-on-joule" target="_blank">Intel's website</a> to download and install the latest firmware for Joule.</li>
                    <li>If installed, remove the SD card from the Joule.
                    <li>If you haven't already, through the USB hub, connect the USB drive you created, attach a USB keyboard, and a USB mouse.</li>
                    <li>After you've flashed the device, power it up. The first boot after flashing will take longer than normal. When you see the Intel logo splash screen, immediately press F2 to enter the firmware setup. If you miss the prompt, reboot and try again.</li>
                    <li>Confirm the firmware has been updated. It should read GTPP131A.X64.0143.B30.1609232056</li>
                    <li>From the firmware setup screen, go to Device Manager -> System Setup -> Boot and set "OS Selection" to Windows.</li>
                    <li>Save the changes with F4 and allow the system to restart.</li>
                    <li>Press F2 to enter the firmware again.</li>
                    <li>From the firmware setup screen, Select Boot Manager -> EFI USB Device. Press Enter. The system will restart and boot WinPE from the USB drive.</li>
                  </ol>
                <h4>Install Windows IoT</h4>
                  <ol class="setup-content-list">
                    <li>When the system reboots, you will see the WinPE command prompt. Switch the WinPE prompt to the USB drive. Normally, this is "C:" or "D:", but you may need to try other drive letters.</li>
                    <li>Run JouleInstaller.cmd to install the Flash.ffu file from the USB drive to the eMMC storage on Joule.</li>
                    <li>When prompted, press any key to continue. This will take you the WinPE prompt.</li>
                    <li>From the WinPE prompt, run "wpeutil reboot"</li>
                    <li>The system will boot to Windows 10 IoT Core, start the configuration process, and load the <a href="{{site.baseurl}}/{{page.lang}}/samples/iotdefaultapp.htm" target="_blank">default app</a>. You may remove the USB flash drive. You will no longer need it.</li>
                  </ol>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-24">
        <section class="section">
          <div class="section-body">
            <p>
              <span class="win-color-fg-green">Step 1 of 4: Windows IoT is installed.</span>
              Setup your device <span class="win-color-fg-secondary">is next.</span>
            </p> 
            <div class="btn-group">
              <a href="GetStartedStep2.htm" class="btn btn-primary">Next</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  function hideDiv(div) {
    var pdiv = "#" + div,
        button = pdiv + "-toggle"

    if ($(pdiv).css('display') == 'none') {
      $(pdiv).toggle('slow');
      $(button).html('Hide');
    }
    else {
      $(pdiv).toggle('slow');
      $(button).html('Show');
    }
  }
</script>
