<div>
    {% for device in site.data.devices[page.lang] %}
      {% assign value = forloop.index0 | modulo:3 %}
      {% if value == 0 %}
        <div class="row">
      {% endif %}
      <div class="col-md-4 device">
        <a href="{{device.link}}"><img src="{{site.baseurl}}/Resources/images/devices/{{device.image}}"></a>
        <h3 class="text-left"><a href="{{device.link}}">{{device.name}}</a></h3>
        <p>{{device.text}}</p>
        <p><a href="{{device.link}}">{{device.start-text}}</a></p>
        <p>
        <a
        {%if device.buy %}
            href="{{device.buy}}" target="_blank"
        {%else%}
            href="{{site.baseurl}}/{{page.lang}}/{{device.buy-inter}}"
        {%endif%}
        >{{device.buy-text}}</a>
        </p>
      </div>
      {% if value == 2 %}
        </div>
      {% endif %}
    {% endfor %}
</div>
