<div class="sockWrapper" data-sockbgcolor="">
      <div class="sock">
        <div class="text-body sock-social-links">
          <span class="text-body sock-social-followtext">Follow us</span>
          <!-- Windows Social Icons -->
          <a class="sock-social-icon windows-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=317808" tabindex="81" style="display: inline;">
            <img id="sock-twitter-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/twitter.png" alt="Twitter">
          </a>
          <a class="sock-social-icon windows-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?linkid=393788" tabindex="82" style="display: inline;">
            <img id="sock-blog-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/blog.png" alt="Blog">
          </a>
          <a class="sock-social-icon windows-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=317807" tabindex="83" style="display: inline;">
            <img id="sock-facebook-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/facebook.png" alt="Facebook">
          </a>
          <!-- Hardware Social Icons -->
          <a class="sock-social-icon hardware-icons" target="_blank" href="//twitter.com/winhec" tabindex="84" style="display: none;">
            <img id="sock-twitter-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/twitter.png" alt="Twitter">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=690709" tabindex="85" style="display: none;">
            <img id="sock-blog-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/blog.png" alt="Blog">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkId=799507" tabindex="86" style="display: none;">
            <img id="sock-facebook-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/facebook.png" alt="Facebook">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=532711" tabindex="87" style="display: none;">
            <img id="sock-facebook-icon" src="https://assets.windowsphone.com/c56a43fb-9548-44b1-bead-fc0504fb7775/WeChat-icon_InvariantCulture_Default.png" alt="WeChat">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkId=761524" tabindex="88" style="display: none;">
            <img id="sock-facebook-icon" src="https://assets.windowsphone.com/009310dd-97a7-45f3-8029-2102ef76a8ae/LINE-icon_InvariantCulture_Default.png" alt="line">
          </a>
        </div>
        <!-- Feedback question -->
        <div class="sock-feedback-question x-hidden-focus">
          <span class="text-body sock-feedback-text">Was this page helpful?</span>
          <button class="btn btn-outline sock-feedback-yes text-body" data-bi-dnt="">Yes</button>
          <button class="btn btn-outline sock-feedback-no text-body" data-bi-dnt="">No</button>
        </div>
        <!-- Feedback submit/skip form -->
        <div class="sock-feedback-form">
          <span class="text-body sock-feedback-text">Additional feedback?</span>
          <textarea class="sock-feedback-response"></textarea>
          <button class="btn btn-outline sock-feedback-submit text-body" data-bi-dnt="">Submit</button>
          <button class="btn btn-outline sock-feedback-skip text-body" data-bi-dnt="">Skip this</button>
        </div>
        <!-- Feedback thank you messages -->
        <div class="sock-feedback-thanks">
          <span class="text-body sock-feedback-text responsiveLine1">Thank you! </span>
          <span class="text-body sock-feedback-text responsiveLine2">We appreciate your feedback.</span>
        </div>
        <!-- Sock social responsive content -->
        <div class="text-body sock-social-responsive">
          <span class="text-body sock-social-followtext">Follow us</span>
          <a class="sock-social-icon windows-icons" href="http://go.microsoft.com/fwlink/p/?LinkID=317808" tabindex="89" style="display: inline;">
            <img id="sock-twitter-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/twitter.png" alt="Twitter">
          </a>
          <a class="sock-social-icon windows-icons" href="http://go.microsoft.com/fwlink/p/?linkid=393788" tabindex="90" style="display: inline;">
            <img id="sock-blog-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/blog.png" alt="Blog">
          </a>
          <a class="sock-social-icon windows-icons" href="http://go.microsoft.com/fwlink/p/?LinkID=317807" tabindex="91" style="display: inline;">
            <img id="sock-facebook-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/facebook.png" alt="Facebook">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="//twitter.com/winhec" tabindex="92" style="display: none;">
            <img id="sock-twitter-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/twitter.png" alt="Twitter">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=690709" tabindex="93" style="display: none;">
            <img id="sock-blog-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/blog.png" alt="Blog">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkId=799507" tabindex="94" style="display: none;">
            <img id="sock-facebook-icon" src="//cmsresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/facebook.png" alt="Facebook">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=532711" tabindex="95" style="display: none;">
            <img id="sock-facebook-icon" src="https://assets.windowsphone.com/c56a43fb-9548-44b1-bead-fc0504fb7775/WeChat-icon_InvariantCulture_Default.png" alt="WeChat">
          </a>
          <a class="sock-social-icon hardware-icons" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkId=761524" tabindex="96" style="display: none;">
            <img id="sock-facebook-icon" src="https://assets.windowsphone.com/009310dd-97a7-45f3-8029-2102ef76a8ae/LINE-icon_InvariantCulture_Default.png" alt="line">
          </a>
        </div>
        <br class="breakfloat">
      </div>
    </div>

    
 <!-- Feedback sock control JS -->
 <script type="text/javascript" src="https://assets.windowsphone.com/994653a1-7d07-479e-89a2-3f56597f7ce4/custom-min_InvariantCulture_Default.css"></script>