{% capture page_name_w_ext %}{{page.permalink | slice: -7, 7}}{% endcapture %}
{% capture page_lang_lower %}{{page.lang | downcase}}{% endcapture %}
<div class="container iot-site-footer">
    <div class="row">
        <div class="col-md-24 text-center">
            <h3>{{ site.data.resources[page_lang_lower].footer-header | default: site.data.resources["en-us"].footer-header }}</h3>
            <p>{{ site.data.resources[page_lang_lower].footer-community-text | default: site.data.resources["en-us"].footer-community-text }}<a href="{{site.baseurl}}/{{page.lang}}/Community">{{ site.data.resources[page_lang_lower].footer-community-link-text | default: site.data.resources["en-us"].footer-community-link-text }}</a> or <a href="windows-feedback:?contextid=441&metadata={"Metadata":[{"OS":"IoTUAP"},{"Source":"WindowsOnDevices.com"}]}??">{{ site.data.resources[page_lang_lower].footer-feedback-link-text | default: site.data.resources["en-us"].footer-feedback-link-text }}</a>{{ site.data.resources[page_lang_lower].footer-feedback-text | default: site.data.resources["en-us"].footer-feedback-text }}</p>
            <a href="{{ site.repositoryurl }}{{ page.path }}">
                <img src="{{site.baseurl}}/Resources/images/Octocat.png" class="nr" />{{ site.data.resources[page_lang_lower].github-edit-text | default: site.data.resources["en-us"].github-edit-text }}
            </a>
        </div>
    </div>
</div>

