<div class="container iot-site-footer">
    <div class="row">
        <div class="col-md-24 text-center">
            <h3>{{site.data.resources[page.lang].footer-header}}</h3>
            <p>{{site.data.resources[page.lang].footer-p-text}}<a href="{{site.baseurl}}/{{page.lang}}/Community.htm#contact">{{site.data.resources[page.lang].footer-a-text}}</a></p>
            <a href="{{site.repositoryurl}}{{ page.path }}">
                <img src="{{site.baseurl}}/Resources/images/Octocat.png" class="nr" />{{site.data.resources[page.lang].github-edit-text}}
            </a>
        </div>
    </div>
</div>
