<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page.title}} - {{ site.data.resources[page.lang].title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.data.resources[page.lang].description }}">
    <meta name="keywords" content="{{ site.data.resources[page.lang].keywords }}">

    <link id="linkBaseUrl" href="{{site.baseurl}}" />

    <link rel="icon" type="image/png" href="{{site.url}}/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="{{site.url}}/favicon.ico"/><![endif]-->

    <!-- Bootstrap core CSS -->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://dev.windows.com/content/WebCore.4.3.0.ltr.light.min.css" />
    <!--<link href="{{site.baseurl}}/Resources/css/bootstrap.css" rel="stylesheet" />-->
    <link href="{{site.baseurl}}/Resources/css/pygments.css" rel="stylesheet" />
    <link href="{{site.baseurl}}/Resources/css/main.css" rel="stylesheet" />
    {% include css-base.html %}
    <link href="{{site.baseurl}}/Resources/css/nav.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://assets.windowsphone.com/c87b935e-f679-4b69-9640-7afd04586278/custom-min.css" />
    <!-- feedbacksock minified js -->
    <script type="text/javascript" src="https://assets.windowsphone.com/26cc6e61-fd0a-41b6-8e56-4bb8cb0c117d/feedbacksock-min.js"></script> 

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "e38fbe82-9f06-4e70-a70e-86e018b1cbdf"
        });

        window.appInsights = appInsights;
        // appInsights.trackPageView();
		
		appInsights.trackPageView(null, null, {urlReferrer: document.referrer});
		
    </script>


</head>
