<div class="row">
  <div class="col-md-10 col-sm-12 col-md-offset-2">
    <p class="hth-major-text text-center">We're continuously working to expand and improve on this list.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-12">
    <input type="checkbox" id="RPI2" value="Bike" checked>Raspberry Pi 2<br>
    <input type="checkbox" id="MBM" value="Car" checked>MinnowBoard MAX<br>
    <input type="checkbox" id="410c" value="pi" checked>DragonBoard 410c<br>
    <input type="text" id="searchBox" placeholder="Search">
    <button onClick="search()"> Search </button>
    <button onClick="clearSearch()">Clear</button>
  </div>
  <div class="col-md-10 col-sm-12 tile-display" onClick="buildCards()">

  </div>
</div>

