<div class="row">
  <div class="col-md-10 col-sm-12 col-md-offset-2">
    <p class="hth-major-text text-center">We're continuously working to expand and improve on this list.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-12 searchbox">
    <input type="text" id="searchBox" placeholder="Search">
    <button onClick="search()"> Search </button>
    <button onClick="clearSearch()">Clear</button>
    <p>Boards: </p>
    <input type="checkbox" onClick="filter('rpi2')" id="rpi2" checked>Raspberry Pi 2<br>
    <input type="checkbox" onClick="filter('mbm')" id="mbm" checked>MinnowBoard MAX<br>
    <input type="checkbox" onClick="filter('410c')" id="410c" checked>DragonBoard 410c<br>
    <p>Documentation:</p>
    <input type="checkbox" onClick="filter('hackster')" id="hackster" checked>Hackster Post<br>
    <input type="checkbox" onClick="filter('sample')" id="sample" checked>Sample<br>
  </div>
  <div class="col-md-10 col-sm-12 tile-display" onClick="buildCards()">

  </div>
</div>

