{% assign localurl = page.url | remove_first:page.lang %}
{% assign localurl = localurl | remove_first:'//'      %}
{% for stepurl in site.data.kit-steps[include.device]      %}
{% if stepurl == localurl                              %}

<h4 class="maker-kit text-right"><a href="{{site.baseurl}}/{{page.lang}}/{{site.data.kit-steps[include.device].[forloop.index]}}">Next: {{site.data.kit-step-resources[page.lang][forloop.index]}}</a></h4>

{% endif                                              %}
{% endfor                                             %}