<div class="row">
  <div class="col-xs-24">
    <ul class="nav nav-justified maker-kit get-started-steps">
      {% for step in site.data.kit-steps[include.device] %}
      {% if step == page.step %}
      <li>
        <a href="{{site.baseurl}}/{{page.lang}}/{{step}}"><h2 class="steps thin-header active">{{forloop.index}}. {{site.data.kit-step-resources[page.lang][forloop.index0]}}</h2></a>
      </li>
      {% else %}
      <li>
        <a href="{{site.baseurl}}/{{page.lang}}/{{step}}"><h2 class="steps thin-header inactive">{{forloop.index}}. {{site.data.kit-step-resources[page.lang][forloop.index0]}}</h2></a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
