{% capture page_name_w_ext %}{{page.permalink | slice: -7, 7}}{% endcapture %}
{% capture page_lang_lower %}{{page.lang | downcase}}{% endcapture %}
<div data-grid="container">
    <div data-grid="col-12" class="x-type-center">
            <h3>{{ site.data.resources[page_lang_lower].footer-header | default: site.data.resources["en-us"].footer-header }}</h3></br>
            <p>{{ site.data.resources[page_lang_lower].footer-community-text | default: site.data.resources["en-us"].footer-community-text }}<a class="c-hyperlink" href={% if page_name_w_ext == "iot.htm" %}"/Community"{% else %}"{{site.baseurl}}/{{page.lang}}/Community"{% endif %}>{{ site.data.resources[page_lang_lower].footer-community-link-text | default: site.data.resources["en-us"].footer-community-link-text }}</a> or <a class="c-hyperlink" href="windows-feedback:?contextid=441&metadata={"Metadata":[{"OS":"IoTUAP"},{"Source":"WindowsOnDevices.com"}]}??">{{ site.data.resources[page_lang_lower].footer-feedback-link-text | default: site.data.resources["en-us"].footer-feedback-link-text }}</a>{{ site.data.resources[page_lang_lower].footer-feedback-text | default: site.data.resources["en-us"].footer-feedback-text }}</p>
            </br>
            <a class="c-hyperlink" href="{{ site.repositoryurl }}{{ page.path }}">
                <img src="{{site.baseurl}}/Resources/images/Octocat.png" />{{ site.data.resources[page_lang_lower].github-edit-text | default: site.data.resources["en-us"].github-edit-text }}
            </a>
    </div>
</div>

