<div class="l2-nav hidden-xs">
    <ul class="nav nav-justified">
        <li role="presentation"><a href="{{site.landingurl}}">IoT home</a></li>
        <li role="presentation"><a href="{{site.baseurl}}/GetStarted.htm">Get started</a></li>
        <li role="presentation"><a href="{{site.hacksterurl}}">Projects</a></li>
        <li role="presentation"><a href="{{site.baseurl}}/win10/StartCoding.htm">Docs &amp; samples</a></li>
        <li role="presentation"><a href="{{site.baseurl}}/Faqs.htm">FAQs</a></li>
        <li role="presentation"><a href="{{site.baseurl}}/Downloads.htm">Downloads</a></li>
        <li role="presentation"><a href="{{site.hardwareurl}}">Hardware</a></li>
        <li role="presentation"><a href="{{site.baseurl}}/Community.htm">Community</a></li>
        <li role="presentation"><a href="{{site.baseurl}}/Build2015.htm">Build 2015</a></li>
    </ul>
</div>

<!-- Nav for mobile view -->
<button class="btn btn-default iot-nav visible-xs" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">IoT Nav<br /><div class="glyphicon glyphicon-menu-down"></div></button>
<div class="collapse" id="collapseExample">
    <div class="well">
        <ul class="nav">
            <li role="presentation"><a href="{{site.landingurl}}/">Home</a></li>
            <li role="presentation"><a href="{{site.baseurl}}/GetStarted.htm">Get started</a></li>
            <li role="presentation"><a href="{{site.hacksterurl}}">Projects</a></li>
            <li role="presentation"><a href="{{site.baseurl}}/win10/StartCoding.htm">Docs &amp; samples</a></li>
            <li role="presentation"><a href="{{site.baseurl}}/Faqs.htm">FAQs</a></li>
            <li role="presentation"><a href="{{site.baseurl}}/Downloads.htm">Downloads</a></li>
            <li role="presentation"><a href="{{site.hardwareurl}}">Hardware</a></li>
            <li role="presentation"><a href="{{site.baseurl}}/Community.htm">Community</a></li>
            <li role="presentation"><a href="{{site.baseurl}}/Build2015.htm">//Build 2015</a></li>
        </ul>
    </div>
</div>
<!-- end mobile nav -->
