<nav class="navbar">
    <div class="l2-nav">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-justified">
                <li role="presentation"><a href="{{site.landingurl}}">{{site.data.nav-resources[page.lang].home}}</a></li>
                <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">{{site.data.nav-resources[page.lang].getstarted}}</a></li>
                <li role="presentation"><a href="{{site.hacksterurl}}">{{site.data.nav-resources[page.lang].projects}}</a></li>
                <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/win10/StartCoding.htm">{{site.data.nav-resources[page.lang].docssamples}}</a></li>
                <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/Faqs.htm">{{site.data.nav-resources[page.lang].faq}}</a></li>
                <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/Downloads.htm">{{site.data.nav-resources[page.lang].downloads}}</a></li>
                <li role="presentation"><a href="{{site.hardwareurl}}">{{site.data.nav-resources[page.lang].hardware}}</a></li>
                <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/Community.htm">{{site.data.nav-resources[page.lang].community}}</a></li>
                <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/makerfaire.htm">{{site.data.nav-resources[page.lang].makerfaire}}</a></li>
            </ul>
        </div>
    </div>
</nav>
