<!-- Module 0:1 Hero w/ Quick Links Band -->
<div class="linkband spacer-84-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <ul>
                    <li role="presentation"><a href="{{site.landingurl}}">{{site.data.nav-resources[page.lang].home}}</a></li>
                    <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">{{site.data.nav-resources[page.lang].getstarted}}</a></li>
                    <li role="presentation"><a href="{{site.hacksterurl}}/{{page.lang}}">{{site.data.nav-resources[page.lang].projects}}</a></li>
                    <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/win10/StartCoding.htm">{{site.data.nav-resources[page.lang].docssamples}}</a></li>
                    <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/Faqs.htm">{{site.data.nav-resources[page.lang].faq}}</a></li>
                    <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/Downloads.htm">{{site.data.nav-resources[page.lang].downloads}}</a></li>
                    <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/win10/SupportedInterfaces.htm">{{site.data.nav-resources[page.lang].hardware}}</a></li>
                    <li role="presentation"><a href="{{site.baseurl}}/{{page.lang}}/Community.htm">{{site.data.nav-resources[page.lang].community}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
