{% capture page_lang_lower %}{{page.lang | downcase}}{% endcapture %}
{% assign currentPage = page.url | split: '/' | last %}
{% assign samplesList = (site.data._samples[page.lang] | default: site.data._samples[en-US]) %}
{% for entry in samplesList %}
    {% for link in entry.link %}
      {% assign currentLink = link | split: '/' | last %}
      {% if currentPage == currentLink %}
        {% if page.samplelink == 'N/A' %}
        <p><span class="win-icon win-icon-Code"></span>No sample code available</p>
        {% else %}
        <p><a {% if page.samplelink %}href="{{page.samplelink}}"{% else %}href="{{site.sampleurl}}"{%endif%} target="_blank"><span class="win-icon win-icon-Code"></span>Sample code</a></p>
        {% endif %}
        <p><strong>Language:</strong> {% if entry.lang.first %}{{entry.lang[forloop.index0]}}{% else %}{{entry.lang}}{%endif%}</p>
        <p><strong>Tags:</strong> {% for tag in entry.tags %}{{tag}}{% if forloop.rindex0 != 0 %},{% endif %} {% endfor %}</p>    
        <strong>Verified to work with:</strong> 
        <div>
          <a href="http://go.microsoft.com/fwlink/?LinkId=715696">Windows 10 IoT Core: Version 10.0.10586.0</a>
          <br/>
          <a href="https://go.microsoft.com/fwlink/?linkid=845271">Visual Studio 2017</a>
          <br/>
          <a href="http://go.microsoft.com/fwlink/?LinkId=715693">Windows SDK: Version 10586</a><br/><span class="win-color-fg-secondary">(Included with Visual Studio)</span>
        </div>
        <br/><br/>
        <p><a href="{{ site.repositoryurl }}{{ page.path }}" target="_blank">
          <span class="win-icon win-icon-Edit"></span>{{ site.data.resources[page_lang_lower].github-edit-text | default: site.data.resources["en-us"].github-edit-text }}
        </a></p>
      {% endif %}
    {% endfor %}
{% endfor %}
    
    