<section>
    <h3 class="c-subheading-2">Connecting to a network</h3>
    <blockquote class="c-blockquote">
    <p class="c-paragraph">NOTE:  Skip this step if you've already connected your device to a network in Step 1.</p>
    </blockquote>
    <h4 class="c-subheading-4">Wired</h4>
    <p class="c-paragraph-4">If the device comes with [an Ethernet port | USB Ethernet adapter support] to enable a wired connection, attach an Ethernet cable to connect it to your network.</p>
    <h4 style="padding-top:36px;" class="c-subheading-4">Wireless</h4>
    <p class="c-paragraph-4">If the device supports Wi-Fi connectivity and you've connected a display to it, follow these instructions:</p>
            1. In the Windows 10 IoT Core default application, click the <b>Settings</b> button next to the clock.<br>
            2. On the Settings page, select <b>Network & Wi-Fi</b> via the menu on the left.<br>
            3. Your device will begin scanning for wireless networks.<br>
            4. Once your network appears in the list, select it and click <b>Connect.</b><br>
        <p class="c-paragraph-3">If you haven’t connected a display and would like to connect via Wi-Fi, follow these instructions instead:</p>
            1. In the Dashboard, click on the <b>My Devices</b> tab<br>
            2. Find your unconfigured board from the list. Its name will begin with "AJ_" (e.g. AJ_58EA6C68).  If you don't see your board appear after a few minutes, try rebooting your board.<br>
            3. Click on <b>Configure Device</b> and enter your network credentials. This will connect your board to the network.
</section>
<br><br><section>
    <h3 class="c-subheading-2">Connecting to your developer machine</h3>                        
    <h4 style="padding-top:36px;" class="c-subheading-4">Windows Device Portal</h4>
    <p class="c-paragraph-4">Use the  <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/deviceportal">Windows Device Portal</a> to connect to your device through a web browser. The device portal provides configuration and device management capabilities, as well as advanced diagnostic tools.  </p>
    <h4 style="padding-top:36px;" class="c-subheading-4"> Others</h4>
    <p class="c-paragraph-4">You also can use <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/powershell">PowerShell</a> to connect to your device through a command shell. You can also follow the  <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/ssh">SSH</a> instructions to use SSH to connect to your device.</p>
    <blockquote class="c-blockquote">
    <p class="c-paragraph">To best secure your device, we highly recommended that you update the default password for the Administrator account. Instructions are included in the documentation for  <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/deviceportal">Windows Device Portal</a> and <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/powershell"> Powershell</a>, respectively.</p>
    </blockquote>  
</section>
