
<!-- Individual loc (RTL) css goes here -->

<div class="sockWrapper">
    <div class="sock"
        data-win-control="DevCenter.FeedbackSock" 
        data-win-options="{
            lang: 'en-us',
            loc_string_url: '{cdn://ea89507b-baf5-4d29-a56b-b761bd11c0c6}'
        }">
        <noscript>
            <img alt="" width="1" height="1" src="http://c.microsoft.com/trans_pixel.aspx"/>
        </noscript>
        
        <div class="text-body sock-social-links">
            <span class="text-body sock-social-followtext">Follow us</span>
            <a class="sock-social-icon" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=317808" alt="Twitter">
                <img id="sock-twitter-icon" src="https://cmspreviewresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/twitter.png" style="display: inline-block;" />
            </a>
            <a class="sock-social-icon" target="_blank" href="http://go.microsoft.com/fwlink/p/?linkid=393788" alt="Blog">
                <img id="sock-blog-icon" src="https://cmspreviewresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/blog.png" style="display: inline-block;"/>
            </a>
            <a class="sock-social-icon" target="_blank" href="http://go.microsoft.com/fwlink/p/?LinkID=317807" alt="Facebook">
                <img id="sock-facebook-icon" src="https://cmspreviewresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/facebook.png" style="display: inline-block;"/>
            </a>
        </div>
        
        <div class="sock-feedback-question">
            <span class="text-body sock-feedback-text">Was this page helpful?</span>
            <button class="sock-feedback-yes text-body">Yes</button>
            <button class="sock-feedback-no text-body">No</button>
        </div>
        
        <div class="sock-feedback-form">
            <span class="text-body sock-feedback-text">Additional feedback?</span>
            <textarea class="sock-feedback-response" columns="48"></textarea>
            <button class="sock-feedback-submit text-body">Submit</button>
            <button class="sock-feedback-skip text-body">Skip this</button>
        </div>
        
        <div class="sock-feedback-thanks">
            <span class="text-body sock-feedback-text responsiveLine1">Thank you! </span>
            <span class="text-body sock-feedback-text responsiveLine2">We appreciate your feedback.</span>
        </div>
        
        <div class="text-body sock-social-responsive">
            <span class="text-body sock-social-followtext">Follow us</span>
            <a class="sock-social-icon" href="http://go.microsoft.com/fwlink/p/?LinkID=317808" alt="Twitter">
                <img id="sock-twitter-icon" src="https://cmspreviewresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/twitter.png" style="display: inline-block;"/>
            </a>
            <a class="sock-social-icon" href="http://go.microsoft.com/fwlink/p/?linkid=393788" alt="Blog">
                <img id="sock-blog-icon" src="https://cmspreviewresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/blog.png" style="display: inline-block;"/>
            </a>
            <a class="sock-social-icon" href="http://go.microsoft.com/fwlink/p/?LinkID=317807" alt="Facebook">
                <img id="sock-facebook-icon" src="https://cmspreviewresources.windowsphone.com/devcenter/en-us/DevCenter_v4/img/sock/facebook.png" style="display: inline-block;"/>
            </a>
        </div>
        
        <br class="breakfloat" />
    </div>
</div>

<div class="clearBoth"></div>