
{% assign device = site.data.steps[include.device] %}
<div class="row">
   <ul class="nav nav-justified get-started-steps text-center">
       <li>
         <a href="{{site.baseurl}}{{device.step1}}"><h3 class="steps inactive">1. Select Your Device</h3></a>
       </li>
       <li>
         <a href="{{site.baseurl}}{{device.step2}}"><h3 class="steps inactive">2. Set up your Device</h3></a>
       </li>
       <li>
         <a href="{{site.baseurl}}{{device.step3}}"><h3 class="steps inactive">3. Set up your PC</h3></a>
       </li>
       <li>
         <a href="{{site.baseurl}}{{device.step4}}"><h3 class="steps inactive">4. Develop</h3></a>
       </li>
   </ul>
</div>
