<!--[if lte IE 8]>
    <script src="https://assets.onestore.ms/cdnfiles/onestorerolling-1508-19013/shell/common/js/shell_ie8.js"></script>
<![endif]-->



<script src="https://mem.gfx.ms/meversion?partner=dev-center-win-apps"></script>
<script src="https://assets.onestore.ms/cdnfiles/onestorerolling-1508-19013/shell/generated/shellservice.v1_4.min.js"></script>
<script src="https://assets.onestore.ms/cdnfiles/onestorerolling-1508-19013/store/blender/js/blender.js"></script>
<div class="shell-rwd shell-footer" lang="zh" data-bi-area="Footer" data-bi-view="3xLinks">
    <div class="shell-footer-wrapper">
        <div class="shell-footer-lang">
                <ul>
                    <li>
                        <i class="shell-icon-globe"></i>
                    </li>
                    <li>
                        <a id="locale-picker-link" href="https://dev.windows.com/locale"
                           data-bi-name="LocalePicker">
                              中文(中华人民共和国)&lrm;
                        </a>
                    </li>
                </ul>
        </div>
        <div class="shell-footer-copyright">
            <ul>
                            <li>
                                <a id="privacyandcookies" href="//go.microsoft.com/fwlink/p/?LinkId=248681" class="ctl_footerNavLink" data-bi-name="PrivacyAndCookies" data-bi-slot="1">
                                    隐私和 Cookie
                                </a>
                            </li>
                            <li>
                                <a id="termsofuse" href="//go.microsoft.com/fwlink/p/?linkid=248155" class="ctl_footerNavLink" data-bi-name="TermsOfUse" data-bi-slot="2">
                                    使用条款
                                </a>
                            </li>
                            <li>
                                <a id="trademarks" href="//go.microsoft.com/fwlink/p/?linkid=248154" class="ctl_footerNavLink" data-bi-name="Trademarks" data-bi-slot="3">
                                    商标
                                </a>
                            </li>

                <li class="ctl_footerCopyright">
                    &copy; 2015 Microsoft
                </li>
            </ul>
        </div>
    </div>
</div>