<link href="https://assets.onestore.ms/cdnfiles/onestorerolling-1508-19013/shell/v1_4/scss/shell.min.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]>    
    <link href="https://assets.onestore.ms/cdnfiles/onestorerolling-1508-19013/shell/common/respond-proxy.html" id="respond-proxy" rel="respond-proxy"/>
<![endif]-->
<div id="shell-header" class="shell-rwd shell-rwd shell-bottomborder shell-header " lang="zh">
    <div class="shell-header-L1-bar"></div>
    <div class="shell-header-wrapper">
        <div class="shell-header-top" data-bi-area="HeaderL0" data-bi-view="L0V1">
            <div class="shell-header-topfix">
                <div class="shell-header-brand">
                    <a id="srv_shellHeaderMicrosoftLogo" href="https://www.microsoft.com"
                       title="Microsoft" data-bi-name="BrandLogo">
                        <img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1508-19013/shell/v1_4/images/logo/microsoft.png" alt="Microsoft"/>
                    </a>
                </div>

                <ul class="shell-header-toggle">
                        <li>
                            <button class="shell-header-toggle-search" type="button" data-bi-name="Toggle Search Icon">
                                <i class="shell-icon-search"></i>
                            </button>
                        </li>
                                        <li>
                        <button class="shell-header-toggle-menu" type="button" data-bi-name="Toggle Menu">
                            <i class="shell-icon-menu"></i>
                        </button>
                    </li>
                </ul>

                    <h2 class="shell-header-subtitle shell-header-mtop">
                        <span class="shell-header-vertical-bar"></span>
                        <a href="https://dev.windows.com/zh-cn/home" data-bi-name="Segment Title">Windows 开发人员中心</a>
                    </h2>
            </div>
            <div class="shell-header-actions">
                    <form id="srv_shellHeaderSearchForm" class="shell-header-search" action="https://social.msdn.microsoft.com/search/zh-cn/windows" method="GET" autocomplete="off" onsubmit=" return window.msCommonShell.onSearch(this) ">
                        <label for="cli_shellHeaderSearchInput" class="sr-only">Search Microsoft</label>
                        <input id="cli_shellHeaderSearchInput" type="search" name="query" data-bi-dnt="" placeholder="" maxlength="200"/>

                            <input type="hidden" name="Refinement"
                                   data-bi-dnt="" value="183"/>

                        <button type="submit" title="搜索" data-bi-dnt="">
                            <i class="shell-icon-search"></i>
                            <span class="sr-only">Search</span>
                        </button>
                        <div id="cli_searchSuggestionsContainer" class="shell-header-search-dropdown-container">
                            <div class="search-dropdown">
                                <div class="dropdown-item">
                                    <ul id="cli_searchSuggestionsResults"></ul>
                                </div>
                            </div>
                        </div>
                    </form>
                

                <dl class="shell-header-user">
                    <dt>
                        <span id="meControl"></span>
                    </dt>
                </dl>
            </div>

                <h2 class="shell-header-subtitle shell-header-dtop">
                    <span class="shell-header-vertical-bar"></span>
                    <a href="https://dev.windows.com/zh-cn/home" data-bi-name="Segment Title">Windows 开发人员中心</a>
                </h2>

        </div>

        <ul class="shell-header-nav" id="srv_shellHeaderNav" data-bi-area="L1" data-bi-view="Hovermenus">
                            <li id="home" class="shell-header-dropdown-label  ">
                                <a class="top-level-link-text ctl_headerNavLink"
                                   href="https://dev.windows.com/zh-cn" role="menuitem"
                                   data-bi-name="Home" data-bi-slot="1">

                                    主页
                                </a>
                            </li>
                            <li class="shell-header-dropdown   " data-navcontainer="explore_NavContainer">
                                <h2 id="explore" class="shell-header-dropdown-label">
                                    <a href="javascript:void(0)" role="menu"
                                       data-bi-name="Explore" data-bi-slot="2">

                                        浏览
                                        <i class="shell-icon-dropdown"></i>
                                    </a>
                                </h2>





<div class="shell-header-dropdown-content " role="menu">
    <dl class="shell-header-dropdown-tab   active ">

            <dt id="explore_apps" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    应用开发
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="0">





        <a href="https://dev.windows.com/zh-cn/windows-apps" class="shell-header-dropdown-tab-spotlight" data-bi-name="Explore_Apps_TabImage">
                <img data-src="https://compass-ssl.microsoft.com/assets/6b/b8/6bb878ac-467e-4ec9-b10a-b9b6484493a2.jpg?n=explore-apps2.jpg" alt="" />
                <div class="shell-header-dropdown-tab-spotlight-caption">
                            <h4>Universal Windows app 开发</h4>
                    
                            <p>更易于移动，可到达每一个 Windows 屏幕</p>
  
                </div>

        </a>



            </dd>

    </dl>
    <dl class="shell-header-dropdown-tab    ">

            <dt id="explore_games" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    游戏开发
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="0">





        <a href="https://dev.windows.com/zh-cn/games" class="shell-header-dropdown-tab-spotlight" data-bi-name="Explore_Games_TabImage">
                <img data-src="https://compass-ssl.microsoft.com/assets/ca/80/ca809819-432a-4778-a713-0e9e94ba1481.jpg?n=explore-games.jpg" alt="" />
                <div class="shell-header-dropdown-tab-spotlight-caption">
                            <h4>在 Windows 10 上创建游戏</h4>
                    
                            <p>可跨手机、电脑和 Xbox One 接触到数百万玩家</p>
  
                </div>

        </a>



            </dd>

    </dl>
    <dl class="shell-header-dropdown-tab    ">

            <dt id="explore_iot" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    Windows IoT
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="0">





        <a href="https://dev.windows.com/zh-cn/iot" class="shell-header-dropdown-tab-spotlight" data-bi-name="Explore_IoT_TabImage">
                <img data-src="https://compass-ssl.microsoft.com/assets/14/0c/140c526f-ad9d-4372-9c00-7b6cd39993f5.jpg?n=explore-iot.jpg" alt="" />
                <div class="shell-header-dropdown-tab-spotlight-caption">
                            <h4>构建你最关注的内容</h4>
                    
                            <p>物联网</p>
  
                </div>

        </a>



            </dd>

    </dl>
    <dl class="shell-header-dropdown-tab    ">

            <dt id="explore_cortana" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    Cortana
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="0">





        <a href="https://dev.windows.com/zh-cn/cortana" class="shell-header-dropdown-tab-spotlight" data-bi-name="Explore_Cortana_TabImage">
                <img data-src="http://compass.xboxlive.com/assets/a0/de/a0de749a-9103-49cd-8c79-ec9c939ea6c6.jpg?n=explore-cortana.jpg" alt="" />
                <div class="shell-header-dropdown-tab-spotlight-caption">
                            <h4>将你的应用与 Cortana 集成</h4>
                    
                            <p>全世界最好的私人数字助理 </p>
  
                </div>

        </a>



            </dd>

    </dl>
    <dl class="shell-header-dropdown-tab    ">

            <dt id="explore_spartan" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    Web 开发
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="0">





        <a href="https://dev.windows.com/zh-cn/microsoft-edge-for-devs" class="shell-header-dropdown-tab-spotlight" data-bi-name="Explore_Spartan_TabImage">
                <img data-src="https://compass-ssl.microsoft.com/assets/a6/07/a607c651-4076-420b-9a4d-a76621839ace.jpg?n=explore-spartan.jpg" alt="" />
                <div class="shell-header-dropdown-tab-spotlight-caption">
                            <h4>针对 Microsoft Edge 的 Web 开发</h4>
                    
                            <p>并非仅用于浏览</p>
  
                </div>

        </a>



            </dd>

    </dl>

</div>

                            </li>
                            <li class="shell-header-dropdown   " data-navcontainer="docs_NavContainer">
                                <h2 id="docs" class="shell-header-dropdown-label">
                                    <a href="javascript:void(0)" role="menu"
                                       data-bi-name="Docs" data-bi-slot="3">

                                        文档
                                        <i class="shell-icon-dropdown"></i>
                                    </a>
                                </h2>





<div class="shell-header-dropdown-content " role="menu">
    <dl class="shell-header-dropdown-tab  shell-tab-mcol active ">

            <dt id="docs_apps" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    Windows 应用
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="4">



        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
入门                </h3>
            </li>
                <li id="docs_apps_whatsuniversal" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/dn726767.aspx" role="menuitem" data-bi-name="Docs_Apps_WhatsUniversal">
                        什么是 Universal Windows app？
                    </a>
                </li>
                <li id="docs_apps_setup" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/dn726766.aspx " role="menuitem" data-bi-name="Docs_Apps_Setup">
                        准备工作
                    </a>
                </li>
                <li id="docs_apps_signup" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/bg124287.aspx" role="menuitem" data-bi-name="Docs_Apps_SignUp">
                        注册
                    </a>
                </li>
                <li id="docs_apps_first" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/bg124288.aspx " role="menuitem" data-bi-name="Docs_Apps_First">
                        你的第一个应用
                    </a>
                </li>
                <li id="docs_apps_new" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/getstarted/whats-new-windows-10" role="menuitem" data-bi-name="Docs_Apps_New">
                        Windows 10 新用户
                    </a>
                </li>
                <li id="docs_apps_all" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/getstarted" role="menuitem" data-bi-name="Docs_Apps_All">
                        所有入门 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
设计                </h3>
            </li>
                <li id="docs_apps_basics" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/design/design-basics" role="menuitem" data-bi-name="Docs_Apps_Basics">
                        基础知识
                    </a>
                </li>
                <li id="docs_apps_guidelines" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/hh465424.aspx" role="menuitem" data-bi-name="Docs_Apps_Guidelines">
                        指南
                    </a>
                </li>
                <li id="docs_apps_downloads" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/design/assets" role="menuitem" data-bi-name="Docs_Apps_Downloads">
                        下载
                    </a>
                </li>
                <li id="docs_apps_alldesign" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/design" role="menuitem" data-bi-name="Docs_Apps_Alldesign">
                        所有设计 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
开发                </h3>
            </li>
                <li id="docs_apps_howguides" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/xaml/mt244352.aspx" role="menuitem" data-bi-name="Docs_Apps_Howguides">
                        操作方法指南
                    </a>
                </li>
                <li id="docs_apps_apireference" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/bg124285.aspx" role="menuitem" data-bi-name="Docs_Apps_Apireference">
                        API 参考
                    </a>
                </li>
                <li id="docs_apps_services" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/develop/microsoft-services" role="menuitem" data-bi-name="Docs_Apps_Services">
                        服务
                    </a>
                </li>
                <li id="docs_apps_win8_guides" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/mt244353.aspx" role="menuitem" data-bi-name="Docs_Apps_Win8_Guides">
                        Windows 8.x 指南
                    </a>
                </li>
                <li id="docs_apps_wp_sl8_guides" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/ff402535(v=vs.105).aspx" role="menuitem" data-bi-name="Docs_Apps_WP_SL8_Guides">
                        Windows Phone Silverlight 8.x 指南
                    </a>
                </li>
                <li id="docs_apps_alldevelop" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/develop" role="menuitem" data-bi-name="Docs_Apps_Alldevelop">
                        所有开发 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
发布                </h3>
            </li>
                <li id="docs_apps_submitapp" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/hh694062.aspx " role="menuitem" data-bi-name="Docs_Apps_Submitapp">
                        提交你的应用
                    </a>
                </li>
                <li id="docs_apps_promoteandengage" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/mt148526.aspx " role="menuitem" data-bi-name="Docs_Apps_Promoteandengage">
                        推广和宣传
                    </a>
                </li>
                <li id="docs_apps_viewanalytics" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/mt148522.aspx " role="menuitem" data-bi-name="Docs_Apps_Viewanalytics">
                        查看分析
                    </a>
                </li>
                <li id="docs_apps_storepolicies" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/dn764944.aspx " role="menuitem" data-bi-name="Docs_Apps_Storepolicies">
                        应用商店策略
                    </a>
                </li>
                <li id="docs_apps_allpublish" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/publish" role="menuitem" data-bi-name="Docs_Apps_Allpublish">
                        所有发布 &gt;
                    </a>
                </li>

        </ul>



            </dd>

    </dl>
    <dl class="shell-header-dropdown-tab  shell-tab-mcol  ">

            <dt id="docs_games" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    游戏
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="4">



        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
入门                </h3>
            </li>
                <li id="docs_games_windowsinsider" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/dn726766.aspx" role="menuitem" data-bi-name="Docs_Games_WindowsInsider">
                        Windows 会员
                    </a>
                </li>
                <li id="docs_games_windowsuniversalappplatform" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/develop" role="menuitem" data-bi-name="Docs_Games_WindowsUniversalAppPlatform">
                        Universal Windows Platform (UWP)
                    </a>
                </li>
                <li id="docs_games_choosetechnology" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/games/technology" role="menuitem" data-bi-name="Docs_Games_ChooseTechnology">
                        选择技术
                    </a>
                </li>
                <li id="docs_games_signup" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/bg124287.aspx" role="menuitem" data-bi-name="Docs_Games_SignUp">
                        注册
                    </a>
                </li>
                <li id="docs_games_all" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/games/getstarted" role="menuitem" data-bi-name="Docs_Games_All">
                        所有入门 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
设计                </h3>
            </li>
                <li id="docs_games_appdesignbasics" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/design/design-basics" role="menuitem" data-bi-name="Docs_Games_AppDesignBasics">
                        应用设计基础知识
                    </a>
                </li>
                <li id="docs_games_appdesignguidelines" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/hh465424.aspx" role="menuitem" data-bi-name="Docs_Games_AppDesignGuidelines">
                        应用设计准则
                    </a>
                </li>
                <li id="docs_games_all" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/games/design" role="menuitem" data-bi-name="Docs_Games_All">
                        所有设计 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
开发                </h3>
            </li>
                <li id="docs_games_developinggames" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/mt228375.aspx" role="menuitem" data-bi-name="Docs_Games_DevelopingGames">
                        开发游戏
                    </a>
                </li>
                <li id="docs_games_graphicsandgaming" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/ee663279" role="menuitem" data-bi-name="Docs_Games_GraphicsAndGaming">
                        图形和游戏
                    </a>
                </li>
                <li id="docs_games_direct3d12graphics" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/dn903821" role="menuitem" data-bi-name="Docs_Games_Direct3D12Graphics">
                        Direct3D 12 图形
                    </a>
                </li>
                <li id="docs_games_developwindowsapps" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/develop" role="menuitem" data-bi-name="Docs_Games_DevelopWindowsApps">
                        开发 Windows 应用
                    </a>
                </li>
                <li id="docs_games_windowsappreference" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/apps/br211369" role="menuitem" data-bi-name="Docs_Games_WindowsAppReference">
                        Windows app 参考
                    </a>
                </li>
                <li id="docs_games_alldevelop" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/games/develop" role="menuitem" data-bi-name="Docs_Games_AllDevelop">
                        所有开发 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
发布                </h3>
            </li>
                <li id="docs_games_publishwindowsapps" data-mobile="0">
                    <a href="https://dev.windows.com/zh-cn/publish" role="menuitem" data-bi-name="Docs_Games_PublishWindowsApps">
                        发布 Windows 应用
                    </a>
                </li>
                <li id="docs_games_id@xbox" data-mobile="0">
                    <a href="http://www.xbox.com/Developers/id" role="menuitem" data-bi-name="Docs_Games_ID@Xbox">
                        ID@Xbox
                    </a>
                </li>
                <li id="docs_games_all" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/games/publish" role="menuitem" data-bi-name="Docs_Games_All">
                        所有发布 &gt;
                    </a>
                </li>

        </ul>



            </dd>

    </dl>
    <dl class="shell-header-dropdown-tab  shell-tab-mcol  ">

            <dt id="docs_desktop" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    桌面应用程序
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="4">



        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
入门                </h3>
            </li>
                <li id="docs_desktop_technology" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/dn614993.aspx" role="menuitem" data-bi-name="Docs_Desktop_Technology">
                        选择技术
                    </a>
                </li>
                <li id="docs_desktop_whatnew" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/hh848361.aspx" role="menuitem" data-bi-name="Docs_Desktop_Whatnew">
                        新增内容
                    </a>
                </li>
                <li id="docs_desktop_prog" data-mobile="0">
                    <a href="https://msdn.microsoft.com/windows/desktop/ee663266.aspx" role="menuitem" data-bi-name="Docs_Desktop_Prog">
                        桌面编程
                    </a>
                </li>
                <li id="docs_desktop_allgetstarted" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/desktop/getstarted" role="menuitem" data-bi-name="Docs_Desktop_Allgetstarted">
                        所有入门 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
设计                </h3>
            </li>
                <li id="docs_desktop_principles" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/dn742446.aspx" role="menuitem" data-bi-name="Docs_Desktop_principles">
                        设计准则
                    </a>
                </li>
                <li id="docs_desktop_guidelines" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/dn688964.aspx" role="menuitem" data-bi-name="Docs_Desktop_Guidelines">
                        指南
                    </a>
                </li>
                <li id="docs_desktop_visual" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/dn688966.aspx" role="menuitem" data-bi-name="Docs_Desktop_Visual">
                        视觉索引
                    </a>
                </li>
                <li id="docs_desktop_alldesign" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/desktop/design" role="menuitem" data-bi-name="Docs_Desktop_Alldesign">
                        所有设计 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
开发                </h3>
            </li>
                <li id="docs_desktop_desktoptech" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/bg126469.aspx" role="menuitem" data-bi-name="Docs_Desktop_Desktoptech">
                        桌面技术
                    </a>
                </li>
                <li id="docs_desktop_serversystem" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/bg125390.aspx" role="menuitem" data-bi-name="Docs_Desktop_Serversystem">
                        服务器和系统
                    </a>
                </li>
                <li id="docs_desktop_apireference" data-mobile="0">
                    <a href="https://msdn.microsoft.com/library/windows/desktop/hh920508.aspx" role="menuitem" data-bi-name="Docs_Desktop_Apireference">
                        API 参考
                    </a>
                </li>
                <li id="docs_desktop_certify" data-mobile="0">
                    <a href="https://msdn.microsoft.com/windows/desktop/jj134964.aspx" role="menuitem" data-bi-name="Docs_Desktop_Certify">
                        认证
                    </a>
                </li>
                <li id="docs_desktop_alldevelop" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/desktop/develop" role="menuitem" data-bi-name="Docs_Desktop_Alldevelop">
                        所有开发 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
测试和部署                </h3>
            </li>
                <li id="docs_desktop_deploy" data-mobile="0">
                    <a href="http://msdn.microsoft.com/windows/desktop/dn640662.aspx" role="menuitem" data-bi-name="Docs_Desktop_Deploy">
                        部署
                    </a>
                </li>
                <li id="docs_desktop_debug" data-mobile="0">
                    <a href="http://msdn.microsoft.com/windows/desktop/dn640617.aspx" role="menuitem" data-bi-name="Docs_Desktop_Debug">
                        调试
                    </a>
                </li>
                <li id="docs_desktop_instrument" data-mobile="0">
                    <a href="http://msdn.microsoft.com/windows/desktop/dn640663.aspx" role="menuitem" data-bi-name="Docs_Desktop_Instrument">
                        检测
                    </a>
                </li>
                <li id="docs_desktop_tools" data-mobile="0">
                    <a href="http://msdn.microsoft.com/windows/desktop/dn640664.aspx" role="menuitem" data-bi-name="Docs_Desktop_Tools">
                        工具
                    </a>
                </li>
                <li id="docs_desktop_alltest" data-mobile="1">
                    <a href="https://dev.windows.com/zh-cn/desktop/test-deploy" role="menuitem" data-bi-name="Docs_Desktop_Alltest">
                        所有测试 &gt;
                    </a>
                </li>

        </ul>



            </dd>

    </dl>
    <dl class="shell-header-dropdown-tab  shell-tab-mcol  ">

            <dt id="docs_iot" class="shell-header-dropdown-tab-label">
                <a href="javascript:void(0)" role="menuitem"
                   data-bi-dnt="">
                    Windows IoT
                </a>
            </dt>
            <dd class="shell-header-dropdown-tab-content" data-col="4">



        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
入门                </h3>
            </li>
                <li id="docs_iot_platformoverview" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532975" role="menuitem" data-bi-name="Docs_IoT_Platformoverview">
                        平台概述
                    </a>
                </li>
                <li id="docs_iot_register" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532947" role="menuitem" data-bi-name="Docs_IoT_Register">
                        注册
                    </a>
                </li>
                <li id="docs_iot_setup" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532974" role="menuitem" data-bi-name="Docs_IoT_Setup">
                        设置你的设备
                    </a>
                </li>
                <li id="docs_iot_firstapp" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532945" role="menuitem" data-bi-name="Docs_IoT_FirstApp">
                        编写你的第一个应用
                    </a>
                </li>
                <li id="docs_iot_all" data-mobile="1">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532957" role="menuitem" data-bi-name="Docs_IoT_All">
                        所有入门 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
开发                </h3>
            </li>
                <li id="docs_iot_atbuild" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532963" role="menuitem" data-bi-name="Docs_IoT_AtBuild">
                        Windows IoT 版本 2015
                    </a>
                </li>
                <li id="docs_iot_codesamples" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532976" role="menuitem" data-bi-name="Docs_IoT_CodeSamples">
                        代码示例
                    </a>
                </li>
                <li id="docs_iot_faq" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532965" role="menuitem" data-bi-name="Docs_IoT_Faq">
                        常见问题解答
                    </a>
                </li>
                <li id="docs_iot_all" data-mobile="1">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532961" role="menuitem" data-bi-name="Docs_IoT_All">
                        所有开发 &gt;
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
了解详细信息                </h3>
            </li>
                <li id="docs_iot_projectgallery" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532977" role="menuitem" data-bi-name="Docs_IoT_ProjectGallery">
                        IoT 项目库
                    </a>
                </li>
                <li id="docs_iot_downloads" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?LinkID=532967" role="menuitem" data-bi-name="Docs_Iot_Downloads">
                        下载
                    </a>
                </li>
                <li id="docs_iot_community" data-mobile="1">
                    <a href="http://go.microsoft.com/fwlink/p/?LinkID=532968" role="menuitem" data-bi-name="Docs_Iot_Community">
                        社区
                    </a>
                </li>

        </ul>
        <ul class="shell-header-dropdown-tab-list shell-l3-group">
            <li>
                <h3>
IoT 硬件                </h3>
            </li>
                <li id="docs_iot_getstartedguide" data-mobile="0">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532966" role="menuitem" data-bi-name="Docs_IoT_GetStartedGuide">
                        IoT 入门指南
                    </a>
                </li>
                <li id="docs_iot_hardware" data-mobile="1">
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=532948" role="menuitem" data-bi-name="Docs_IoT_Hardware">
                        IoT 硬件 &gt;
                    </a>
                </li>

        </ul>



            </dd>

    </dl>

</div>

                            </li>
                            <li id="downloads" class="shell-header-dropdown-label  ">
                                <a class="top-level-link-text ctl_headerNavLink"
                                   href="https://dev.windows.com/zh-cn/downloads" role="menuitem"
                                   data-bi-name="Downloads" data-bi-slot="4">

                                    下载
                                </a>
                            </li>
                            <li id="samples" class="shell-header-dropdown-label  ">
                                <a class="top-level-link-text ctl_headerNavLink"
                                   href="https://dev.windows.com/zh-cn/samples" role="menuitem"
                                   data-bi-name="Samples" data-bi-slot="5">

                                    示例
                                </a>
                            </li>
                            <li id="community" class="shell-header-dropdown-label  ">
                                <a class="top-level-link-text ctl_headerNavLink"
                                   href="https://dev.windows.com/zh-cn/community" role="menuitem"
                                   data-bi-name="Community" data-bi-slot="6">

                                    社区
                                </a>
                            </li>
                            <li id="programs" class="shell-header-dropdown-label  ">
                                <a class="top-level-link-text ctl_headerNavLink"
                                   href="https://dev.windows.com/zh-cn/programs" role="menuitem"
                                   data-bi-name="Programs" data-bi-slot="7">

                                    程序
                                </a>
                            </li>
                            <li id="dashboard" class="shell-header-dropdown-label  rightAlignedMenu">
                                <a class="top-level-link-text ctl_headerNavLink"
                                   href="https://dev.windows.com/overview?from=UHF" role="menuitem"
                                   data-bi-name="Dashboard" data-bi-slot="8">

                                    仪表板
                                </a>
                            </li>

        </ul>


    </div>
</div>



<script type="text/javascript">

    var shellInitOptions = {
        lcaDisclaimerEnabled: false,
        suggestedProductTitle : 'Suggested products'
    };

    
    var meControlInitOptions = {
        containerId: 'meControl',
        custom: {chevHtml:'<i class="msame_chev_uhf shell-icon-dropdown"></i>'},

        
            
        market: 'zh-CN',
        

            
        mobileBreakpoints:
    {
        shortHeader: 1084,
        mobile: 540
        },
        

        rpData:
        {
            msaInfo:
                {
                        
                    signInUrl: '/zh-cn/store/signin',
                    signOutUrl: '/zh-cn/store/signout',
                    accountSettingsUrl: 'https://account.microsoft.com/',
                    switchUrl: '',
                    meUrl: 'https://login.live.com/me.srf?wa=wsignin1.0',
                    isSupported: true
                    
                },
            aadInfo:
                {
                },
            preferredIdp: 'msa',
        },
        signInText: '登录',
        signOutText: '注销'
    };
</script>