<!--[if lte IE 8]>
    <script src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-18012/shell/common/js/shell_ie8.js"></script>
<![endif]-->



<script src="https://mem.gfx.ms/meversion?partner=dev-center-win-apps"></script>
<script src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-18012/shell/generated/shellservice.v3.min.js"></script>

<script src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-18012/store/blender/js/blender.js"></script>
<div class="shell-footer" data-bi-area="Footer" data-bi-view="3xLinks">
    <div class="shell-footer-wrapper" role="contentinfo">

            <div class="shell-footer-menugroups">
                    <div class="sfm-group">
                        <div class="grp-title">
                            下载和工具 <i class="shell-icon-dropdown"></i>
                        </div>
                        <ul>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?linkid=280676" role="menuitem" ms.title="Windows 10 开发工具" data-bi-name="footer_DownloadsAndTools_Win10DevTools" data-bi-slot="1" data-bi-source="Compass">
                                            Windows 10 开发工具
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?LinkId=618475" role="menuitem" ms.title="Visual Studio" data-bi-name="Footer_DownloadsAndTools_VS" data-bi-slot="2" data-bi-source="Compass">
                                            Visual Studio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?linkid=616887" role="menuitem" ms.title="Windows SDK" data-bi-name="Footer_DownloadsAndTools_WinSDK" data-bi-slot="3" data-bi-source="Compass">
                                            Windows SDK
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?LinkId=534236" role="menuitem" ms.title="Windows 应用商店锁屏提醒" data-bi-name="Footer_DownloadsAndTools_Badges" data-bi-slot="4" data-bi-source="Compass">
                                            Windows 应用商店锁屏提醒
                                        </a>
                                    </li>

                        </ul>
                    </div>
                    <div class="sfm-group">
                        <div class="grp-title">
                            基础知识 <i class="shell-icon-dropdown"></i>
                        </div>
                        <ul>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?LinkId=534192" role="menuitem" ms.title="API 参考（Windows 应用）" data-bi-name="Footer_Essentials_WinAppsAPIRef" data-bi-slot="1" data-bi-source="Compass">
                                            API 参考（Windows 应用）
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?linkid=285627" role="menuitem" ms.title="API 参考（桌面应用）" data-bi-name="Footer_Essentials_DesktopAppsAPIRef" data-bi-slot="2" data-bi-source="Compass">
                                            API 参考（桌面应用）
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=280677" role="menuitem" ms.title="代码示例" data-bi-name="FooterEssentialsCodeSamples" data-bi-slot="3" data-bi-source="Compass">
                                            代码示例
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://msdn.microsoft.com/library/windows/apps/xaml/mt244352.aspx" role="menuitem" ms.title="操作方法指南（Windows 应用）" data-bi-name="Footer_Essentials_HowToWinApps" data-bi-slot="4" data-bi-source="Compass">
                                            操作方法指南（Windows 应用）
                                        </a>
                                    </li>

                        </ul>
                    </div>
                    <div class="sfm-group">
                        <div class="grp-title">
                            学习资源 <i class="shell-icon-dropdown"></i>
                        </div>
                        <ul>
                                    <li>
                                        <a href="http://www.microsoftvirtualacademy.com/" role="menuitem" ms.title="Microsoft Virtual Academy" data-bi-name="Footer_MS_Virtual_Academy" data-bi-slot="1" data-bi-source="Compass">
                                            Microsoft Virtual Academy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://channel9.msdn.com/" role="menuitem" ms.title="频道 9" data-bi-name="Footer_Ch9" data-bi-slot="2" data-bi-source="Compass">
                                            频道 9
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?LinkId=534190" role="menuitem" ms.title="视频库" data-bi-name="Footer_VidGallery" data-bi-slot="3" data-bi-source="Compass">
                                            视频库
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://blogs.windows.com/buildingapps/2015/08/05/build-better-apps-windows-10-by-10-development-series/" role="menuitem" ms.title="Windows 10 by 10 博客系列" data-bi-name="Footer_LearningResources_WIN10x10blog" data-bi-slot="4" data-bi-source="Compass">
                                            Windows 10 by 10 博客系列
                                        </a>
                                    </li>

                        </ul>
                    </div>
                    <div class="sfm-group">
                        <div class="grp-title">
                            程序 <i class="shell-icon-dropdown"></i>
                        </div>
                        <ul>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?LinkId=534191" role="menuitem" ms.title="获取开发人员帐户" data-bi-name="Footer_Programs_DevAcct" data-bi-slot="1" data-bi-source="Compass">
                                            获取开发人员帐户
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://go.microsoft.com/fwlink/p/?LinkID=246847" role="menuitem" ms.title="应用开发人员协议" data-bi-name="Footer_Programs_DevAgreement" data-bi-slot="2" data-bi-source="Compass">
                                            应用开发人员协议
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://insider.windows.com/" role="menuitem" ms.title="Windows 预览体验计划" data-bi-name="Footer_Programs_WinInsider" data-bi-slot="3" data-bi-source="Compass">
                                            Windows 预览体验计划
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://go.microsoft.com/fwlink/p/?LinkId=529768" role="menuitem" ms.title="Microsoft 联盟计划" data-bi-name="Footer_Programs_MsftAffliatePgrm" data-bi-slot="4" data-bi-source="Compass">
                                            Microsoft 联盟计划
                                        </a>
                                    </li>

                        </ul>
                    </div>

            </div>

        <div class="shell-footer-lang">
                <ul>
                    <li>
                        <i class="shell-icon-globe"></i>
                    </li><li>
                        <a id="locale-picker-link" href="https://dev.windows.com/locale"
                           data-bi-name="LocalePicker">
                            中文(中华人民共和国)&lrm;
                        </a>
                    </li>
                </ul>
        </div>
        <div class="shell-footer-copyright">
            <ul>
                            <li>
                                <a id="privacyandcookies" href="//go.microsoft.com/fwlink/p/?LinkId=521839" class="ctl_footerNavLink" data-bi-name="PrivacyAndCookies" data-bi-slot="1">
                                    隐私和 Cookie
                                </a>
                            </li>
                            <li>
                                <a id="termsofuse" href="//go.microsoft.com/fwlink/p/?linkid=248155" class="ctl_footerNavLink" data-bi-name="TermsOfUse" data-bi-slot="2">
                                    使用条款
                                </a>
                            </li>
                            <li>
                                <a id="trademarks" href="//go.microsoft.com/fwlink/p/?linkid=248154" class="ctl_footerNavLink" data-bi-name="Trademarks" data-bi-slot="3">
                                    商标
                                </a>
                            </li>

                <li class="ctl_footerCopyright">
                    &copy; 2015 Microsoft
                </li>
            </ul>
        </div>
    </div>
</div>