<link href="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-18012/shell/v3/scss/shell.min.css" rel="stylesheet" type="text/css" />

<!--[if lte IE 8]>
    <link href="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-18012/shell/common/respond-proxy.html" id="respond-proxy" rel="respond-proxy"/>
<![endif]-->
<div id="shell-header" class="shell-header shell-responsive" ms.pgarea="header">
    <div class="shell-header-wrapper">
        <div class="shell-header-top" data-bi-area="HeaderL0" data-bi-view="L0V1">

            <div class="shell-header-brand" ms.cmpgrp="logo" role="banner">
                <a id="srv_shellHeaderMicrosoftLogo" href="https://www.microsoft.com" ms.cmpnm="MicrosoftBrandLogo" ms.title="Microsoft"
                   title="Microsoft" data-bi-name="BrandLogo" tabindex="10">
                    <img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-18012/shell/v3/Resources/images/logo/microsoft.png" alt="Microsoft" />
                </a>
            </div>

            <div class="shell-header-nav-wrapper" ms.cmpgrp="nav" role="navigation">
                <ul class="shell-header-nav" id="srv_shellHeaderNav" data-bi-area="L1" data-bi-view="Hovermenus">
                        <li class="shell-header-user-mobile-container">
                        </li>
                                    <li class="shell-header-dropdown  " data-navcontainer="developer_technologies_NavContainer">
                                        <div id="developer_technologies" class="shell-header-dropdown-label">
                                            <a href="javascript:void(0)" role="menu" ms.title="Developer technologies" data-bi-name="DeveloperTechnologies" data-bi-slot="1" tabindex="20">
                                                Developer technologies
                                            </a>
                                        </div>





<div class="shell-header-dropdown-content " role="menu">
                <dl class="shell-header-dropdown-tab  " ms.cmpnm="Developer technologies; Windows">

                            <dt id="developer_tech_windows" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link-withL3">
                                <a href="https://dev.windows.com/en-us/ " role="menuitem" ms.title="Windows" tabindex="20"
                                   data-bi-name="DeveloperTech_Windows">Windows</a>
                                <i class="shell-icon-dropdown"></i>
                            </dt>
                            <dd class="shell-header-dropdown-tab-content" data-col="0">



    <ul class="shell-header-dropdown-tab-list">
                    <li id="developer_tech_windows_windows_apps">
                        <a href="https://dev.windows.com/en-us/windows-apps " role="menuitem" ms.title="Windows apps" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_WindowsApps">
                            Windows apps
                        </a>
                    </li>
                    <li id="developer_tech_windows_classic_desktop">
                        <a href="https://dev.windows.com/en-us/desktop" role="menuitem" ms.title="Classic desktop" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_ClassicDesktop">
                            Classic desktop
                        </a>
                    </li>
                    <li id="developer_tech_windows_IoT">
                        <a href="https://dev.windows.com/en-us/iot" role="menuitem" ms.title="Internet of Things" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_IoT">
                            Internet of Things
                        </a>
                    </li>
                    <li id="developer_tech_windows_games">
                        <a href="https://dev.windows.com/en-us/games" role="menuitem" ms.title="Games" tabindex="20"
                           data-bi-name="DeveloperTech_Games">
                            Games
                        </a>
                    </li>
                    <li id="developer_tech_windows_edge">
                        <a href="https://dev.windows.com/en-us/microsoft-edge" role="menuitem" ms.title="Microsoft Edge" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Edge">
                            Microsoft Edge
                        </a>
                    </li>
                    <li id="developer_tech_windows_hardware ">
                        <a href="https://msdn.microsoft.com/windows/hardware/gg236587.aspx" role="menuitem" ms.title="Hardware" tabindex="20"
                           data-bi-name="DeveloperTech_Hardware">
                            Hardware
                        </a>
                    </li>

    </ul>



                            </dd>

                </dl>
                <dl class="shell-header-dropdown-tab  " ms.cmpnm="Developer technologies; Services">

                            <dt id="developer_tech_services" class="shell-header-dropdown-tab-label">
                                <a href="javascript:void(0)" role="menuitem" ms.title="Services" ms.interactiontype="14" tabindex="20"
                                   data-bi-dnt="">
                                    Services
                                    <i class="shell-icon-dropdown facing-right"></i>
                                </a>
                            </dt>
                            <dd class="shell-header-dropdown-tab-content" data-col="0">



    <ul class="shell-header-dropdown-tab-list">
                    <li id="developer_tech_windows_office 365">
                        <a href="http://dev.office.com/" role="menuitem" ms.title="Office 365" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Office365">
                            Office 365
                        </a>
                    </li>
                    <li id="developer_tech_windows_one_drive">
                        <a href="https://dev.onedrive.com/ " role="menuitem" ms.title="OneDrive" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_OneDrive">
                            OneDrive
                        </a>
                    </li>
                    <li id="developer_tech_windows_skype">
                        <a href="http://www.skype.com/developer/ " role="menuitem" ms.title="Skype" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Skype">
                            Skype
                        </a>
                    </li>
                    <li id="developer_tech_windows_bing">
                        <a href="http://www.bing.com/dev " role="menuitem" ms.title="Bing" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Bing">
                            Bing
                        </a>
                    </li>
                    <li id="developer_tech_windows_cortana">
                        <a href="https://dev.windows.com/en-us/cortana " role="menuitem" ms.title="Cortana" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Cortana">
                            Cortana
                        </a>
                    </li>

    </ul>



                            </dd>

                </dl>
                <dl class="shell-header-dropdown-tab  " ms.cmpnm="Developer technologies; Visual Studio">

                            <dt id="developer_tech_visual_studio" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link-withL3">
                                <a href="https://www.visualstudio.com/" role="menuitem" ms.title="Visual Studio" tabindex="20"
                                   data-bi-name="DeveloperTech_VisualStudio">Visual Studio</a>
                                <i class="shell-icon-dropdown"></i>
                            </dt>
                            <dd class="shell-header-dropdown-tab-content" data-col="0">



    <ul class="shell-header-dropdown-tab-list">
                    <li id="developer_tech_windows_visual_studio_2015">
                        <a href="https://www.visualstudio.com/features/ " role="menuitem" ms.title="Visual Studio 2015" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_VisualStudio2015">
                            Visual Studio 2015
                        </a>
                    </li>
                    <li id="developer_tech_windows_visual_studio_online">
                        <a href="https://www.visualstudio.com/products/what-is-visual-studio-online-vs " role="menuitem" ms.title="Visual Studio Online" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_VisualStudioOnline">
                            Visual Studio Online
                        </a>
                    </li>
                    <li id="developer_tech_windows_visual_studio_code">
                        <a href="https://code.visualstudio.com/docs " role="menuitem" ms.title="Visual Studio Code" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_VisualStudioCode">
                            Visual Studio Code
                        </a>
                    </li>

    </ul>



                            </dd>

                </dl>
                <dl class="shell-header-dropdown-tab  " ms.cmpnm="Developer technologies; MSDN">

                            <dt id="developer_tech_msdn" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link-withL3">
                                <a href="https://msdn.microsoft.com/" role="menuitem" ms.title="MSDN" tabindex="20"
                                   data-bi-name="DeveloperTech_MSDN">MSDN</a>
                                <i class="shell-icon-dropdown"></i>
                            </dt>
                            <dd class="shell-header-dropdown-tab-content" data-col="0">



    <ul class="shell-header-dropdown-tab-list">
                    <li id="developer_tech_windows_subscription">
                        <a href="https://msdn.microsoft.com/subscriptions" role="menuitem" ms.title="Subscription" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Subscription">
                            Subscription
                        </a>
                    </li>
                    <li id="developer_tech_windows_community">
                        <a href="https://social.msdn.microsoft.com/Forums/" role="menuitem" ms.title="Community" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Community">
                            Community
                        </a>
                    </li>
                    <li id="developer_tech_windows_blogs">
                        <a href="http://blogs.msdn.com/b/developer-tools/" role="menuitem" ms.title="Blogs" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Blogs">
                            Blogs
                        </a>
                    </li>
                    <li id="developer_tech_windows_magazine">
                        <a href="https://msdn.microsoft.com/magazine/dd767791" role="menuitem" ms.title="Magazine" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Magazine">
                            Magazine
                        </a>
                    </li>

    </ul>



                            </dd>

                </dl>
                <dl class="shell-header-dropdown-tab  " ms.cmpnm="Developer technologies; Office">

                            <dt id="developer_tech_office" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link-withL3">
                                <a href="https://dev.office.com/" role="menuitem" ms.title="Office" tabindex="20"
                                   data-bi-name="DeveloperTech_Office">Office</a>
                                <i class="shell-icon-dropdown"></i>
                            </dt>
                            <dd class="shell-header-dropdown-tab-content" data-col="0">



    <ul class="shell-header-dropdown-tab-list">
                    <li id="developer_tech_windows_office365_apis">
                        <a href="http://dev.office.com/getting-started/office365apis" role="menuitem" ms.title="Office 365 APIs" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Office365APIs">
                            Office 365 APIs
                        </a>
                    </li>
                    <li id="developer_tech_windows_office_addins">
                        <a href="http://dev.office.com/getting-started/addins" role="menuitem" ms.title="Office add-ins" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_OfficeAddIns">
                            Office add-ins
                        </a>
                    </li>
                    <li id="developer_tech_windows_sharepoint_addins">
                        <a href="https://msdn.microsoft.com/library/office/fp179930.aspx" role="menuitem" ms.title="SharePoint add-ins" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_SharePointAddIns">
                            SharePoint add-ins
                        </a>
                    </li>
                    <li id="developer_tech_windows_office365_for_iOS">
                        <a href="http://dev.office.com/ios" role="menuitem" ms.title="Office 365 for iOS" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Office365ForiOS">
                            Office 365 for iOS
                        </a>
                    </li>
                    <li id="developer_tech_windows_office365_for_android">
                        <a href="http://dev.office.com/Android" role="menuitem" ms.title="Office 365 for Android" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_Office365ForAndroid">
                            Office 365 for Android
                        </a>
                    </li>

    </ul>



                            </dd>

                </dl>
                <dl class="shell-header-dropdown-tab  " ms.cmpnm="Developer technologies; Azure">

                            <dt id="L2_Azure" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link-withL3">
                                <a href="https://azure.microsoft.com/en-us/" role="menuitem" ms.title="Azure" tabindex="20"
                                   data-bi-name="DeveloperTech_Azure">Azure</a>
                                <i class="shell-icon-dropdown"></i>
                            </dt>
                            <dd class="shell-header-dropdown-tab-content" data-col="0">



    <ul class="shell-header-dropdown-tab-list">
                    <li id="developer_tech_windows_web_apps">
                        <a href="https://azure.microsoft.com/en-us/documentation/scenarios/web-app/" role="menuitem" ms.title="Web apps" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_WebApps">
                            Web apps
                        </a>
                    </li>
                    <li id="developer_tech_windows_mobile_apps">
                        <a href="https://azure.microsoft.com/en-us/documentation/scenarios/mobile-app/ " role="menuitem" ms.title=" Subscription" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_MobileApps">
                             Subscription
                        </a>
                    </li>
                    <li id="developer_tech_windows_virtual_machines">
                        <a href="https://azure.microsoft.com/en-us/documentation/scenarios/virtual-machines/ " role="menuitem" ms.title="Virtual machines" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_VirtualMachines">
                            Virtual machines
                        </a>
                    </li>
                    <li id="developer_tech_windows_data_analytics">
                        <a href="https://azure.microsoft.com/en-us/documentation/scenarios/data-analytics/ " role="menuitem" ms.title="Data analytics" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_DataAnalytics">
                            Data analytics
                        </a>
                    </li>
                    <li id="developer_tech_windows_high_performance_computing">
                        <a href="https://azure.microsoft.com/en-us/documentation/scenarios/high-performance-computing/ " role="menuitem" ms.title="High performance computing" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_HighPerformanceComputing">
                            High performance computing
                        </a>
                    </li>
                    <li id="developer_tech_windows_iot">
                        <a href="https://azure.microsoft.com/en-us/documentation/scenarios/internet-of-things/ " role="menuitem" ms.title="Internet of Things" tabindex="20"
                           data-bi-name="DeveloperTech_Windows_IoT">
                            Internet of Things
                        </a>
                    </li>

    </ul>



                            </dd>

                </dl>

</div>
                                    </li>

                </ul>
            </div>
                <div class="shell-header-user-container">
                    <dl class="shell-header-user">
                        <dt>
                            <span id="meControl">
                                <div class="msame_Header" tabindex="60" style="display: inline-block; height: 48px; font-size: 14px; border: 1px solid transparent; border-bottom-style: none; width: 100%;">
                                    <div class="msame_Header_name" style="line-height: 48px; max-width: 160px; display: inline-block; vertical-align: top; font-size: 86%; color: #505050; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all">Sign in </div>
                                </div>
                            </span>
                        </dt>
                    </dl>
                </div>
            
            <div class="shell-header-nav-toggle " ms.cmpgrp="nav">
                <button class="shell-header-toggle-menu" ms.cmpnm="mobile global nav toggle button" ms.title="Toggle menu" title="Toggle Menu" type="button" data-bi-name="Toggle Menu" tabindex="55">
                    <i class="shell-icon-menu"></i>
                </button>
            </div>

            <ul class="shell-header-toggle" ms.cmpgrp="header actions">
                    <li>
                        <button class="shell-header-toggle-search" type="button" data-bi-name="Toggle Search Icon" ms.title="search toggle" title="Toggle Search" tabindex="45">
                            <i class="shell-icon-search"></i>
                        </button>
                    </li>
                            </ul>

            <div class="shell-header-actions" ms.cmpgrp="header actions">
                    <form id="srv_shellHeaderSearchForm" class="shell-search" role="search" action="https://social.msdn.microsoft.com/search/windows" method="GET" autocomplete="off" onsubmit=" return window.msCommonShell.onSearch(this) " ms.cmpnm="search">
                        <div class="shell-search-wrapper">
                            <label for="cli_shellHeaderSearchInput" class="sr-only">Search Microsoft</label>
                            <input id="cli_shellHeaderSearchInput" type="search" title="" name="query" data-bi-dnt="" placeholder="" maxlength="200" tabindex="30" />

                                <input type="hidden" name="Refinement"
                                       data-bi-dnt="" value="183" />

                            <button type="submit" title="Search" data-bi-dnt="" tabindex="40">
                                <i class="shell-icon-search"></i>
                                <span class="sr-only">Search</span>
                            </button>
                            <div id="cli_searchSuggestionsContainer" class="shell-search-dropdown-container">
                                <div class="search-dropdown">
                                    <div class="dropdown-item">
                                        <ul id="cli_searchSuggestionsResults" data-bi-name="Search Suggestions" data-bi-source="UnifiedSearch" ms.cmpgrp="search suggestions"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

            </div>

        </div>
    </div>
</div>
<div class="fixed-global-nav-buffer"></div>






<!--[if lt IE 9]>
<div class="shell-category-header lt-ie9 cat-theme-blue" ms.pgarea="categoryheader">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<div class="shell-category-header cat-theme-blue" ms.pgarea="categoryheader">
    <!--<![endif]-->
    <div role="navigation" aria-label="Category level navigation" class="shell-category-nav" ms.cmpgrp="cat nav" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="C0">
        <div class="c-nav-pagination c-nav-pagination-prev">
            <i class="shell-icon-dropdown facing-left"></i>
        </div>
        <ul class="shell-category-top-level shell-category-brand">
            <li class="c-logo-item">
                        <a id="shell-cat-header-logo" class="c-logo c-top-nav-link" href="https://dev.windows.com/en-us" title="" ms.title="Windows Dev Center" data-bi-name="Category logo" tabindex="70">
                            <span class="logo-text-label">Windows Dev Center</span>
                        </a>
                        <a id="shell-cat-header-logo-mobile" class="c-logo-mobile c-top-nav-link c-nav-dropdown" href="javascript:void(0);" ms.title="Windows Dev Center" ms.interactiontype="14" data-bi-name="Mobile category logo" tabindex="70">
                            <span class="logo-text-label">Windows Dev Center</span>
                            <i class="shell-icon-dropdown"></i>
                        </a>
                <ul class="c-nav-dropdown-menu" role="menu" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="C1">



        <li class="c-top-nav-item">
                <a id="iot_iot_home-mobile" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/p/?LinkId=698488" ms.title="Windows IoT" role="menuitem" data-bi-name="IoT_IoT_Home" data-bi-slot="1" data-show-cta="True" tabindex="70">
                    <span>
                        Windows IoT
                    </span>
                </a>
            </li>
        <li class="c-top-nav-item">
            <a id="iot_explore-mobile" class="c-top-nav-link c-nav-link c-nav-dropdown" href="javascript:void(0);" ms.title="Explore" role="menu" ms.interactiontype="14" data-bi-name="IoT_Explore" data-bi-slot="2" data-show-cta="True" tabindex="70">
                    <span>
                        Explore
                        <i class="shell-icon-dropdown"></i>
                    </span>
                </a>
                <ul class="c-nav-dropdown-menu" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="IoT_Explore-C2" ms.cmpnm="Explore" role="menu">




        <li class="c-nav-item ">
            <a id="iot_explore_learnwin10iotcore-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkID=698484" ms.title="Learn about Windows 10 IoT Core" role="menuitem" data-bi-name="IoT_Explore_LearnWin10IoTCore" data-bi-slot="1" tabindex="70">
                <span>
                    Learn about Windows 10 IoT Core
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_explore_projects-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkID=532977" ms.title="Projects" role="menuitem" data-bi-name="IoT_Explore_Projects" data-bi-slot="2" tabindex="70">
                <span>
                    Projects
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_explore_hack_the_home-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698485" ms.title="Hack the home" role="menuitem" data-bi-name="IoT_Explore_HackTheHome" data-bi-slot="3" tabindex="70">
                <span>
                    Hack the home
                </span>
            </a>



        </li>


            </ul>
                        </li>
        <li class="c-top-nav-item">
            <a id="iot_develop-mobile" class="c-top-nav-link c-nav-link c-nav-dropdown" href="javascript:void(0);" ms.title="Develop" role="menu" ms.interactiontype="14" data-bi-name="IoT_develop" data-bi-slot="3" data-show-cta="True" tabindex="70">
                    <span>
                        Develop
                        <i class="shell-icon-dropdown"></i>
                    </span>
                </a>
                <ul class="c-nav-dropdown-menu" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="IoT_develop-C2" ms.cmpnm="Develop" role="menu">




        <li class="c-nav-item ">
            <a id="iot_explore_get_started-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532957" ms.title="Get started" role="menuitem" data-bi-name="IoT_Explore_GetStarted" data-bi-slot="1" tabindex="70">
                <span>
                    Get started
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_develop_compatible_hardware-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532948 " ms.title="Compatible hardware" role="menuitem" data-bi-name="IoT_Develop_CompatibleHardware" data-bi-slot="2" tabindex="70">
                <span>
                    Compatible hardware
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_develop_docs_and_samples-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532961" ms.title="Docs and samples" role="menuitem" data-bi-name="IoT_Develop_DocsAndSamples" data-bi-slot="3" tabindex="70">
                <span>
                    Docs and samples
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_develop_win_iot_on_github-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698486" ms.title="Windows IoT on GitHub" role="menuitem" data-bi-name="IoT_Develop_WinIoTonGitHub" data-bi-slot="4" tabindex="70">
                <span>
                    Windows IoT on GitHub
                </span>
            </a>



        </li>


            </ul>
                        </li>
        <li class="c-top-nav-item">
                <a id="iot_downloads-mobile" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/p/?linkID=532967" ms.title="Downloads" role="menuitem" data-bi-name="IoT_Downloads" data-bi-slot="4" data-show-cta="True" tabindex="70">
                    <span>
                        Downloads
                    </span>
                </a>
            </li>
        <li class="c-top-nav-item">
                <a id="iot_projects-mobile" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/p/?LinkID=532977" ms.title="Projects" role="menuitem" data-bi-name="IoT_Projects" data-bi-slot="5" data-show-cta="True" tabindex="70">
                    <span>
                        Projects
                    </span>
                </a>
            </li>
        <li class="c-top-nav-item">
            <a id="iot_community-mobile" class="c-top-nav-link c-nav-link c-nav-dropdown" href="javascript:void(0);" ms.title="Community" role="menu" ms.interactiontype="14" data-bi-name="IoT_Community" data-bi-slot="6" data-show-cta="True" tabindex="70">
                    <span>
                        Community
                        <i class="shell-icon-dropdown"></i>
                    </span>
                </a>
                <ul class="c-nav-dropdown-menu" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="IoT_Community-C2" ms.cmpnm="Community" role="menu">




        <li class="c-nav-item ">
            <a id="iot_community_faqs-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532965" ms.title="FAQs" role="menuitem" data-bi-name="IoT_Community_FAQs" data-bi-slot="1" tabindex="70">
                <span>
                    FAQs
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_community_win_iot_on_github-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698486" ms.title="Windows IoT on GitHub" role="menuitem" data-bi-name="IoT_Community_WinIoTonGitHub" data-bi-slot="2" tabindex="70">
                <span>
                    Windows IoT on GitHub
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_community_dev_forum-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698487" ms.title="Developer forum" role="menuitem" data-bi-name="IoT_Community_DevForum" data-bi-slot="3" tabindex="70">
                <span>
                    Developer forum
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_community_feedback_more-mobile" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532968" ms.title="Feedback and more" role="menuitem" data-bi-name="IoT_Community_FeedbackMore" data-bi-slot="4" tabindex="70">
                <span>
                    Feedback and more
                </span>
            </a>



        </li>


            </ul>
                        </li>
        <li class="c-top-nav-item">
                <a id="dashboard-mobile" class="c-top-nav-link c-nav-link" href="https://dev.windows.com/overview?from=UHF" ms.title="Dashboard" role="menuitem" data-bi-name="Dashboard" data-bi-slot="7" data-show-cta="True" tabindex="70">
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
        <li class="c-top-nav-item">
                <a id="iot_commercialize-mobile" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/?LinkId=708649" ms.title="Commercialize" role="menuitem" data-bi-name="IoT_Commercialize" data-bi-slot="8" data-show-cta="True" tabindex="70">
                    <span>
                        Commercialize
                    </span>
                </a>
            </li>

                </ul>
            </li>

        </ul>
        <ul class="shell-category-top-level shell-category-nav-wrapper" role="menu" data-bi-area="CategoryMenuItems-Windows Dev Center" data-bi-view="C1">



        <li class="c-top-nav-item">
                <a id="iot_iot_home" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/p/?LinkId=698488" ms.title="Windows IoT" role="menuitem" data-bi-name="IoT_IoT_Home" data-bi-slot="1" data-show-cta="True" tabindex="70">
                    <span>
                        Windows IoT
                    </span>
                </a>
            </li>
        <li class="c-top-nav-item">
            <a id="iot_explore" class="c-top-nav-link c-nav-link c-nav-dropdown" href="javascript:void(0);" ms.title="Explore" role="menu" ms.interactiontype="14" data-bi-name="IoT_Explore" data-bi-slot="2" data-show-cta="True" tabindex="70">
                    <span>
                        Explore
                        <i class="shell-icon-dropdown"></i>
                    </span>
                </a>
                <ul class="c-nav-dropdown-menu" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="IoT_Explore-C2" ms.cmpnm="Explore" role="menu">




        <li class="c-nav-item ">
            <a id="iot_explore_learnwin10iotcore" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkID=698484" ms.title="Learn about Windows 10 IoT Core" role="menuitem" data-bi-name="IoT_Explore_LearnWin10IoTCore" data-bi-slot="1" tabindex="70">
                <span>
                    Learn about Windows 10 IoT Core
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_explore_projects" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkID=532977" ms.title="Projects" role="menuitem" data-bi-name="IoT_Explore_Projects" data-bi-slot="2" tabindex="70">
                <span>
                    Projects
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_explore_hack_the_home" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698485" ms.title="Hack the home" role="menuitem" data-bi-name="IoT_Explore_HackTheHome" data-bi-slot="3" tabindex="70">
                <span>
                    Hack the home
                </span>
            </a>



        </li>


            </ul>
                        </li>
        <li class="c-top-nav-item">
            <a id="iot_develop" class="c-top-nav-link c-nav-link c-nav-dropdown" href="javascript:void(0);" ms.title="Develop" role="menu" ms.interactiontype="14" data-bi-name="IoT_develop" data-bi-slot="3" data-show-cta="True" tabindex="70">
                    <span>
                        Develop
                        <i class="shell-icon-dropdown"></i>
                    </span>
                </a>
                <ul class="c-nav-dropdown-menu" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="IoT_develop-C2" ms.cmpnm="Develop" role="menu">




        <li class="c-nav-item ">
            <a id="iot_explore_get_started" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532957" ms.title="Get started" role="menuitem" data-bi-name="IoT_Explore_GetStarted" data-bi-slot="1" tabindex="70">
                <span>
                    Get started
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_develop_compatible_hardware" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532948 " ms.title="Compatible hardware" role="menuitem" data-bi-name="IoT_Develop_CompatibleHardware" data-bi-slot="2" tabindex="70">
                <span>
                    Compatible hardware
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_develop_docs_and_samples" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532961" ms.title="Docs and samples" role="menuitem" data-bi-name="IoT_Develop_DocsAndSamples" data-bi-slot="3" tabindex="70">
                <span>
                    Docs and samples
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_develop_win_iot_on_github" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698486" ms.title="Windows IoT on GitHub" role="menuitem" data-bi-name="IoT_Develop_WinIoTonGitHub" data-bi-slot="4" tabindex="70">
                <span>
                    Windows IoT on GitHub
                </span>
            </a>



        </li>


            </ul>
                        </li>
        <li class="c-top-nav-item">
                <a id="iot_downloads" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/p/?linkID=532967" ms.title="Downloads" role="menuitem" data-bi-name="IoT_Downloads" data-bi-slot="4" data-show-cta="True" tabindex="70">
                    <span>
                        Downloads
                    </span>
                </a>
            </li>
        <li class="c-top-nav-item">
                <a id="iot_projects" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/p/?LinkID=532977" ms.title="Projects" role="menuitem" data-bi-name="IoT_Projects" data-bi-slot="5" data-show-cta="True" tabindex="70">
                    <span>
                        Projects
                    </span>
                </a>
            </li>
        <li class="c-top-nav-item">
            <a id="iot_community" class="c-top-nav-link c-nav-link c-nav-dropdown" href="javascript:void(0);" ms.title="Community" role="menu" ms.interactiontype="14" data-bi-name="IoT_Community" data-bi-slot="6" data-show-cta="True" tabindex="70">
                    <span>
                        Community
                        <i class="shell-icon-dropdown"></i>
                    </span>
                </a>
                <ul class="c-nav-dropdown-menu" data-bi-area="CategoryHeader-Windows Dev Center" data-bi-view="IoT_Community-C2" ms.cmpnm="Community" role="menu">




        <li class="c-nav-item ">
            <a id="iot_community_faqs" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532965" ms.title="FAQs" role="menuitem" data-bi-name="IoT_Community_FAQs" data-bi-slot="1" tabindex="70">
                <span>
                    FAQs
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_community_win_iot_on_github" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698486" ms.title="Windows IoT on GitHub" role="menuitem" data-bi-name="IoT_Community_WinIoTonGitHub" data-bi-slot="2" tabindex="70">
                <span>
                    Windows IoT on GitHub
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_community_dev_forum" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?LinkId=698487" ms.title="Developer forum" role="menuitem" data-bi-name="IoT_Community_DevForum" data-bi-slot="3" tabindex="70">
                <span>
                    Developer forum
                </span>
            </a>



        </li>
        <li class="c-nav-item ">
            <a id="iot_community_feedback_more" class="c-nav-dropdown-item c-nav-link " href="http://go.microsoft.com/fwlink/p/?linkID=532968" ms.title="Feedback and more" role="menuitem" data-bi-name="IoT_Community_FeedbackMore" data-bi-slot="4" tabindex="70">
                <span>
                    Feedback and more
                </span>
            </a>



        </li>


            </ul>
                        </li>
        <li class="c-top-nav-item">
                <a id="iot_commercialize" class="c-top-nav-link c-nav-link" href="http://go.microsoft.com/fwlink/?LinkId=708649" ms.title="Commercialize" role="menuitem" data-bi-name="IoT_Commercialize" data-bi-slot="8" data-show-cta="True" tabindex="70">
                    <span>
                        Commercialize
                    </span>
                </a>
            </li>

        </ul>
                <div class="shell-category-nav-featured">
                    <a id="dashboard" class="c-nav-link c-top-nav-link" ms.title="Dashboard" href="https://dev.windows.com/overview?from=UHF" role="menuitem" data-bi-name="Dashboard" data-bi-slot="8">
                        <span>
                            Dashboard
                        </span>
                    </a>
                </div>

        <div class="c-nav-pagination c-nav-pagination-next">
            <i class="shell-icon-dropdown facing-right"></i>
        </div>
    </div>

</div>
<div class="fixed-category-nav-buffer"></div>


<script type="text/javascript">

    var shellInitOptions = {
        lcaDisclaimerEnabled: false,
        suggestedProductTitle : 'Suggested products'
    };

    
    var meControlInitOptions = {
        containerId: 'meControl',
            enabled: true,
        headerHeight: 48,
        custom: {chevHtml:'<i class="msame_chev_uhf shell-icon-dropdown"></i>'},
        
            
        market: 'en-US',
        

        mobileBreakpoints: {
            shortHeader: 1084
            },

        rpData:
    {
        msaInfo:
            {
                        
                signInUrl: '/en-us/store/signin',
                signOutUrl: '/en-us/store/signout',
                accountSettingsUrl: 'https://account.microsoft.com/',
                switchUrl: '',
                meUrl: 'https://login.live.com/me.srf?wa=wsignin1.0',
                isSupported: true
                
            },
        aadInfo:
            {
            },
        preferredIdp: 'msa',
    },
        signInStr: 'Sign in',
        signOutStr: 'Sign out'
    };
</script>