---
layout: default
title: Windows 10 IoT 核心版软件包制造商工具包
permalink: /zh-CN/win10/AdafruitWelcome.htm
step: win10/AdafruitWelcome.htm
lang: zh-CN
deviceName: RPI2
kit: Adafruit Starter Pack for Windows 10 IoT Core on Raspberry Pi2
---
<ol class="breadcrumb">
  <li><a href="{{site.baseurl}}/{{page.lang}}/AdafruitMakerKit.htm">初学者包概述</a></li>
  <li class="active">欢迎使用 Windows 10 IoT 核心版</li>
</ol>

<h1 class="thin-header">第 1 课： 简介和设置</h1>
{% include kit-steps.html device=page.deviceName %}

<hr>

<div class="row">
  <div class="col-md-10 col-xs-24">
    <p class="maker-kit">
    Windows 10 IoT 核心版是新版本的 Windows，面向小型嵌入式设备和制造商开发板，例如 Raspberry Pi2。
    IoT 核心版旨在适用于低级别的总线接口，如 I2C、SPI、USB。可以使用 Visual Studio 中的多种编程语言编写通用 Windows 应用程序来快速创建制造商项目。
    </p>
    <p class="maker-kit">
    Windows 10 IoT 核心版可用于读取传感器数据、控制传动装置、连接到云、创建 IoT 应用程序等。Adafruit 中的初学者包包括入门部分。
    </p>
    <p class="maker-kit">
    查看包含在工具包中的部分、设置电脑和编程环境、设置 Raspberry Pi 2 开发板，然后你可以随时创建你的第一个项目。
    </p>
    <p class="maker-kit">
    让我们开始吧！
    </p>
  </div>
  <div class="col-md-14 col-xs-24">
    <img class="maker-kit" src="{{site.baseurl}}/Resources/images/AdafruitStarterPack/AdafruitMakerKitClosed.jpg">
  </div>
</div>


{% include kit-nextsteps.html device=page.deviceName %}
