---

layout: default

title: Windows Remote Arduino

description:  了解如何设置 Windows Remote Arduino 以及如何生成你的第一个 Windows 10 IoT 核心版应用。

keyword: arduino, windows iot, windows remote, app

permalink: /zh-cn/win10/WRA.htm

lang: zh-CN

deviceName: WRA

---
<div class="row">
  <div class="col-xs-24">
    <ol class="breadcrumb">
      <li><a href="https://developer.microsoft.com/zh-cn/windows/iot">IoT 主页</a></li>
      <li><a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">入门</a></li>
      <li>Windows Remote Arduino</li>
      <li class="active">开发</li>
    </ol>
    <header class="page-title-header">
      <h1 class="page-title">使用 Windows Remote Arduino 进行开发</h1>
      <h2 class="page-subtitle">设置你的硬件和软件以使用 Windows Remote Arduino 库进行开发。</h2>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-xs-24">
    <p>Windows Remote Arduino 是一个开源 <a href="https://msdn.microsoft.com/zh-cn/magazine/jj651567.aspx?utm_source=rss&utm_medium=rss&utm_campaign=windows-runtime-reimagining-app-development-with-the-windows-runtime">Windows 运行时组件</a>库，可允许制造商通过蓝牙、USB、WLAN 或以太网连接控制 Arduino！ 它适用于希望使用 Windows 运行时语言控制 Arduino 硬件强大功能的 <a href="https://msdn.microsoft.com/zh-cn/library/windows/apps/br211369.aspx">Windows 运行时 (WinRT)</a> 开发人员。在其项目中包含此组件的开发人员将自动获得使用任何 WinRT 语言（C++/CX、C# 和 JavaScript）访问其功能的权限。库在 <a href="https://github.com/firmata/protocol">Firmata 协议</a>的基础之上进行生成，该协议已在预打包的 <a href="http://arduino.cc/en/reference/firmata">Firmata 库</a>（包含在从 <a href="http://arduino.cc">http://arduino.cc</a> 获取的 Arduino 软件中）中实现。</p>
    <h3>概述</h3>
    <p>Windows Remote Arduino 库可轻松入门 - 按照以下指南开始使用此技术进行开发。若要入门，有三个简单的步骤需要遵循：</p>
    <ul>
      <li>设置 Windows 10 设备</li>
      <li>设置 Arduino</li>
      <li>开始开发</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-24">
    <h2>1.设置 Windows 10 设备<span class="pull-right"><a id="pc-content-toggle" class="toggle-button" onClick="hideDiv('pc-content')">隐藏</a></span></h2>
    <hr />
    <div id="pc-content" class="toggle-section">
      {% include setup-pc-wra.md %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-24">
    <h2>2.设置 Arduino<span class="pull-right"><a id="setup-content-toggle" class="toggle-button" onClick="hideDiv('setup-content')">显示</a></span></h2>
    <hr />
    <div id="setup-content" class="toggle-section hidden">
      {% include setup-arduino-wra.htm %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-24">
    <h2>3.开发<span class="pull-right"><a id="app-content-toggle" class="toggle-button" onClick="hideDiv('app-content')">显示</a></span></h2>
    <hr />
    <div id="app-content" class="setup-content-list toggle-section hidden">
      {% include samples/basic-wra.md %}
    </div>
  </div>
</div>

<script>
  function hideDiv(div) {
    var div = "#" + div,
        button = div + "-toggle",
        currentState = $(button)[0].innerHTML;
    for(var i = 0; i < 3 ; i ++){
        $(".toggle-button")[i].innerHTML = "Show";
      }
    if(currentState === "Hide") {
      $(div).toggle('slow');
    }
    else
    {
      $(".hidden").removeClass("hidden");
      $(".toggle-section").hide();
      $(div).toggle('slow');
      $(button)[0].innerHTML = "Hide";
    }
  }
</script>
