---

layout: default

title: Windows Remote Arduino 体验
description: 了解如何设置 Windows Remote Arduino 和浏览此库提供的功能。

keyword: arduino, windows iot, windows remote, app

permalink: /zh-cn/win10/WRAE.htm

lang: zh-cn

deviceName: WRAE

---
<ol class="breadcrumb">
  <li>
    <a href="https://developer.microsoft.com/zh-cn/windows/iot">IoT 主页</a>
  </li>
  <li>
    <a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">入门</a>
  </li>
  <li>
  Windows Remote Arduino
  </li>
  <li class="active">
  Windows Remote Arduino 体验
  </li>
</ol>
<h1 class="page-title"> Windows Remote Arduino 体验</h1>
<div class="row">
  <div class="col-md-6 col-sm-12 col-no-padding">
    <h2 class="subtext">浏览具有此端到端 UI 体验的 Windows Remote Arduino 库的功能。</h2>
  </div>
</div>

<div class="row">

<h3>概述</h3>
Windows Remote Arduino 体验应用程序能够很好地了解 Windows Remote Arduino 库的功能。 若要入门，有三个简单的步骤需要遵循：
<ul>
  <li>
  设置 Windows 10 设备
  </li>
  <li>
  设置 Arduino
  </li>
  <li>
  开始浏览
  </li>
</ul>
</div>

<h2>1.设置 Windows 10 设备<span class="pull-right"><a id="pc-content-toggle" class="toggle-button" onClick="hideDiv('pc-content')">隐藏</a></span></h2>
<hr>
<div id="pc-content" class="toggle-section">
  {% include setup-pc-wrae.md %}
</div>

<h2>2.设置 Arduino<span class="pull-right"><a id="setup-content-toggle" class="toggle-button" onClick="hideDiv('setup-content')">显示</a></span></h2>
<hr>
<div id="setup-content" class="toggle-section hidden">
  {% include setup-arduino-wra.htm %}
</div>

<h2>3.浏览<span class="pull-right"><a id="app-content-toggle" class="toggle-button" onClick="hideDiv('app-content')">显示</a></span></h2>
<hr>
<div id="app-content" class="setup-content-list toggle-section hidden">
  {% include samples/basic-wrae.md %}
</div>

<script>
  function hideDiv(div) {
    var div = "#" + div,
        button = div + "-toggle",
        currentState = $(button)[0].innerHTML;
    for(var i = 0; i < 3 ; i ++){
        $(".toggle-button")[i].innerHTML = "Show";
      }
    if(currentState === "Hide") {
      $(div).toggle('slow');
    }
    else
    {
      $(".hidden").removeClass("hidden");
      $(".toggle-section").hide();
      $(div).toggle('slow');
      $(button)[0].innerHTML = "Hide";
    }
  }
</script>
