.c-video iframe#iframe-video,
.c-dialog iframe#iframe-video {
    min-height: 600px;
    width:100%;
    height:100%
}
@media screen and (max-width: 1399px) and (min-width: 1084px) {
    .c-video iframe#iframe-video,
    .c-dialog iframe#iframe-video {
        min-height: 500px
    }
}
@media screen and (max-width: 767px) {
    .c-video iframe#iframe-video,
    .c-dialog iframe#iframe-video {
        min-height: 200px
    }
}
@media only screen and (max-width: 1083px) and (min-width: 540px) {
    .c-video iframe#iframe-video,
    .c-dialog iframe#iframe-video {
        min-height: 300px
    }
}
@media only screen and (min-width: 540px) and (max-width: 1083px) {
    .c-feature.f-align-left>div,
    .c-feature.f-align-right>div {
        width: 490px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateY(0);
        margin-top: 20px
    }
}
@media screen and (max-width: 1083px) {
    .c-feature.f-align-right>div,
    .c-feature.f-align-right.f-image-priority>div {
        left: 0
    }
    .c-feature .c-video,
    .c-feature picture,
    .c-feature.f-align-left picture,
    .c-feature.f-align-right picture {
        display: block;
        width: 100%;
        max-width: 100%
    }
    img {
    border: 0 !important
    }

    img.c-image, picture.c-image img{
        margin: 0 auto
    }

    .c-feature.f-align-left .c-video,
    .c-feature.f-align-left picture,
    .c-feature.f-align-right .c-video,
    .c-feature.f-align-right picture {
        float: none
    }
    .c-feature.f-align-right>div,
    .c-feature.f-align-right.f-image-priority>div {
        left: 0
    }
    .c-feature .c-pivot>header {
        display: inline-block;
        margin-top: 20px
    }
}
@media only screen and (min-width: 1027px) and (max-width: 1083px) {
    .c-feature picture img,
    .c-carousel li>picture.c-image img {
        width: 100%
    }
}
.pad-thin {
    margin-top: 40px
}
.pad-medium {
    margin-top: 50px
}

.c-call-to-action.c-glyph,
.mscom-link.c-call-to-action {
    text-transform: uppercase;
    white-space: wrap
}
a.mscom-link.c-call-to-action.c-glyph {
    font-weight: 700
}

#getStarted-action{
    color:white; 
    font-size:18px
}
 .m-supplemental-nav>nav {
    margin-top: 60px;
}

@media only screen and (min-width: 1084px){
.m-typographic-intro.f-transparent {
    height: 280px;
}
}
.m-typographic-intro>div>div .c-subheading {
    columns:1
}
.c-drawer .f-toggle:focus,
.c-drawer>button:focus,
.c-drawer>header .f-toggle:focus,
.c-drawer>header>button:focus,
.c-flipper:focus {
    outline: #000 dashed 1px
}
  .m-product-placement-item .iconimagesheading li img.active {
    display: none;
  }
  
  .m-product-placement-item .iconimagesheading li img.inactive {
    display: block;
  }
  
 .m-product-placement-item .iconimagesheading li.active img.active {
    display: block;
  }
  
 .m-product-placement-item .iconimagesheading li.active img.inactive {
    display: none;
  }
  
  .m-product-placement-item .c-badge {
    display: none;
  }
  
  .m-product-placement-item .c-badge {
    display: inline-block;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 767px) {
   .m-product-placement-item ul.c-list {
      height: auto !important;
    }
   }
  
   .m-product-placement-item ul.iconimagesheading {
    float: none;
    padding-top: 0px;
    padding-left: 10px;
  }
  
   .m-product-placement-item .svgimg {
    height: 24px;
    display: inline-block;
    margin-right: 15px;
  }
  
   .m-product-placement-item p.c-group {
    margin-top: 15px;
    height: 42px;
  }
  
   .m-product-placement-item .iconimagesheading {
    display: block;
  }
  
   .m-product-placement-item .iconimagesheading .svgimg img.mscom-image {
    width: 24px;
    height: 24px;
  }
  
   .m-product-placement-item .c-list {
    clear: both;
  }
  
  body  picture.c-image img[data-src] {
    display: none;
  }
  
  body  .m-product-placement-item .f-default-image:hover {
    outline: none !important;
  }
    
  body  .m-product-placement-item picture img {
    height: auto !important;
  }
  
   .m-product-placement-item.f-size-large .f-default-image {
      background: none;
  }
 
    .iconimagesheading a:focus
  {
    outline: 1px dashed#000 !important;
    display: inline-block;
  }

  .m-typographic-intro.f-transparent{
    height:150px
}

/* glyph after text */

.c-glyph-after.glyph-chevron-right:after {
    content: "Óù¨";
}
.c-glyph-after:after {   
    font-family: MWF-MDL2;
    display: inline-block;
}
a.c-action-trigger.c-glyph-after:after {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.c-glyph-after:after, .c-glyph-after:hover:after {
    text-decoration: none;
}

*, :after {
    box-sizing: inherit;
}


