---
layout: default
title: Set up your device
permalink: /en-US/win10/GetStarted/SetUpYourDevice.htm
lang: en-US

---
<div class="row">
  <div class="col-xs-24">
    <ol class="breadcrumb">
      <li><a href="https://developer.microsoft.com/en-us/windows/iot">IoT Home</a></li>
      <li><a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">Get Started</a></li>
      <li class="active">Set up your device</li>
    </ol>
    <header class="page-title-header">
      <h1 class="page-title">Set up your device</h1>
      <h2 class="page-subtitle">Download, flash and install Windows 10 IoT Core onto your board using the IoT Core Dashboard.</h2>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-xs-24">
    <p>The instructions on this page are for Windows 10 IoT Core RTM (no sign up required), but if you are a member of the Insider Program (or want to signup) you can:</p>
  </div>
  <div class="col-md-12 col-xs-24 col-no-padding">
    <p>
      <span><a href="{{site.baseurl}}/{{page.lang}}/win10/GetStarted/SetUpYourDeviceManually.htm" class="button-blue button-flat">Get the latest Insider Preview for your Raspberry Pi 2 or 3.</a></span>
    </p>
  </div>
</div>

<div class="row">
    <p><span class="pull-right">
        <a href="{{site.baseurl}}/{{page.lang}}/win10/GetStarted/SetUpVisualStudio.htm" class="button-blue button-flat">Next: Set up Visual Studio</a>
    </span></p>
</div>
 
<h2>Download and flash <span class="pull-right"><a id="download-and-flash-toggle" class="toggle-button" onClick="hideDiv('download-and-flash')">Hide</a></span></h2>
<hr />
<div id="download-and-flash" class="toggle-section">
  <div class="row">
    {% include_relative DownloadAndFlash.md %}
  </div>
</div>
<br>

<h2>Connect the board to the network <span class="pull-right"><a id="connect-to-network-toggle" class="toggle-button" onClick="hideDiv('connect-to-network')">Hide</a></span></h2>
<hr />
<div id="connect-to-network" class="toggle-section">
  <div class="row">
    {% include_relative ConnectToNetwork.md %}
  </div>
</div>
<br>

<h2>Configure your board <span class="pull-right"><a id="configure-board-toggle" class="toggle-button" onClick="hideDiv('configure-board')">Hide</a></span></h2>
<hr />
<div id="configure-board" class="toggle-section">
  <div class="row">
    {% include_relative ConfigureBoard.md %}
  </div>
</div>
<br>

<h2>Quick-run samples <span class="pull-right"><a id="quick-run-samples-toggle" class="toggle-button" onClick="hideDiv('quick-run-samples')">Hide</a></span></h2>
<hr>
<div id="quick-run-samples" class="toggle-section">
  <div class="row">
    {% include_relative QuickRunSamples.md %}
  </div>
</div>
<br>
<br>

<div class="row">
    <p><span class="pull-right">
        <a href="{{site.baseurl}}/{{page.lang}}/win10/GetStarted/SetUpVisualStudio.htm" class="button-blue button-flat">Next: Set up Visual Studio</a>
    </span></p>
</div>


<script>
    function hideDiv(div) {
        var pdiv = "#" + div,
            button = pdiv + "-toggle"

        if ($(pdiv).css('display') == 'none') {
            $(pdiv).toggle('slow');
            $(button).html('Hide');
        }
        else {
            $(pdiv).toggle('slow');
            $(button).html('Show');
        }
    }
</script>