---
layout: default
title: Windows 10 IoT Core Essentials Maker Kit
permalink: /en-US/win10/AdafruitWelcome.htm
step: win10/AdafruitWelcome.htm
lang: en-US
deviceName: RPI2
kit: Adafruit Starter Pack for Windows 10 IoT Core on Raspberry Pi2
---
<ol class="breadcrumb">
  <li><a href="{{site.baseurl}}/{{page.lang}}/AdafruitMakerKit.htm">Overview of Starter Pack</a></li>
  <li class="active">Welcome to Windows 10 IoT Core</li>
</ol>

<h1 class="thin-header">Lesson 1: Introduction and Setup</h1>
{% include kit-steps.html device=page.deviceName %}

<hr>

<div class="row">
  <div class="col-md-10 col-xs-24">
    <p class="maker-kit">
    Windows 10 IoT Core is a new edition of Windows targeted towards small embedded devices and maker boards such as Raspberry Pi2.
    IoT core is designed to work with low-level bus interfaces such as I2C, SPI, USB. You can write a Universal Windows Application using a variety of programming languages in Visual Studio to rapidly create maker projects.
    </p>
    <p class="maker-kit">
    You can use Windows 10 IoT Core to read sensor data, control actuators, connect to the cloud, create IoT applications and much more. The Starter Pack from Adafruit includes parts to get you started.
    </p>
    <p class="maker-kit">
    Check out the parts included in the Kit, set up your PC and Programming Environment, set up your Raspberry Pi 2 Board and you'll be ready to make your first project.
    </p>
    <p class="maker-kit">
    Let's get started!
    </p>
  </div>
  <div class="col-md-14 col-xs-24">
    <img class="maker-kit" src="{{site.baseurl}}/Resources/images/AdafruitStarterPack/AdafruitMakerKitClosed.jpg">
  </div>
</div>


{% include kit-nextsteps.html device=page.deviceName %}
