---
layout: default
title: Windows 10 IoT Core Essentials Maker Kit
permalink: /en-US/win10/AdafruitWelcome.htm
step: win10/AdafruitWelcome.htm
lang: en-US
deviceName: RPI2
kit: Adafruit Starter Pack for Windows 10 IoT Core on Raspberry Pi2
---
<ol class="breadcrumb">
  <li><a href="{{site.baseurl}}/{{page.lang}}/AdafruitMakerKit.htm">Adafruit Starter Pack for Windows 10 IoT Core on Raspberry Pi2</a></li>
  <li class="active">Welcome to Windows 10 IoT Core</li>
</ol>

<h1 class="maker-kit">Lesson 1: Introduction to Starter Pack for Windows 10 IoT Core on Raspberry Pi2</h1>
{% include kit-steps.html device=page.deviceName %}

<h3 class="maker-kit">Welcome to the Adafruit Starter Pack for Windows 10 IoT Core on Raspberry Pi2.</h3>

<p class="maker-kit">
Windows 10 IoT Core is a new edition of Windows targeted towards small, embedded devices and maker boards such as Raspberry Pi2 with or without screens. With Windows 10 IoT Core, you can write a Universal Windows app that is the interface and “personality” for your device. IoT core is designed to work level bus interfaces such as I2C, SPI, USB and enables you to use a variety of programming languages in Visual Studio to rapidly create maker projects on Raspberry Pi2.
</p>
<p class="maker-kit">
Oh, and you can use it to build a light and color sensor, an internet-connected weather sensor and more. The Adafruit Starter Pack with Windows 10 IoT Core includes all you need to get started.
</p>
<p class="maker-kit">
Check out your parts, set up your PC and Programming Environment, set up your Raspberry Pi 2 Board and you'll be ready to make your first project.
</p>
<p class="maker-kit">
Let's get started with the Adafruit Starter Pack for Windows 10 IoT Core on Raspberry Pi2...
</p>

{% include kit-nextsteps.html device=page.deviceName %}
