---
layout: default
title: Windows Remote Arduino
permalink: /en-US/win10/WRA.htm
lang: en-US
deviceName: WRA
---

<h1> Windows Remote Arduino </h1>

<h2>Get your computer ready to develop for Windows Remote Arduino and Windows 10 IoT Core and Build your first Windows IoT Core app.</h2>


<h2>1. Set up your PC <span class="pull-right"><a id="pc-content-toggle" onClick="hideDiv('pc-content')">Hide</a></span></h2>

<hr>
<div id="pc-content">
  {% include_relative SetupPCWRA.md %}
</div>

<h2>2. Set up your Arduino and how to add the Windows Remote Arduino library to your Windows projects <span class="pull-right"><a id="setup-content-toggle" onClick="hideDiv('setup-content')">Hide</a></span></h2>
<hr>
<div id="setup-content">
  {% include_relative SetupWRA.htm %}
</div>

<h2>3. Develop   <span class="pull-right"><a id="app-content-toggle" onClick="hideDiv('app-content')">Hide</a></span>  </h2>
<hr>
  <div id="app-content" class="setup-content-list">
    {% include_relative samples/BasicWRA.md %}
  </div>


<script>
  function hideDiv(div) {
    var div = "#" + div;
    var button = div + "-toggle"
    $(div).toggle('slow');
    var currentState = $(button)[0].innerHTML;
    $(button)[0].innerHTML = currentState === "Hide" ? "Show" : "Hide"
  }
</script>