---
layout: default
title: Setup WVSA
permalink: /en-US/win10/WVSA.htm
lang: en-US
deviceName: WVSA
---

<h1> Set Up Windows Virtual Shields for Arduino  </h1>
<h2 class="subtext">Get your computer ready for the Windows Developer Proram for IoT, set up your Raspberry Pi 2 and Build your first Windows IoT Core app.</h2>


<h2>1. Get your PC ready for developing IoT applications using Virtual Shields for Arduino. <span class="pull-right"><a id="pc-content-toggle" onClick="hideDiv('pc-content')">Hide</a></span></h2>

<hr>
<div id="pc-content">
{% include_relative SetupPCWVSA.htm %}
</div>

<h2>2. Set up your Arduino to run with Virtual Shields for Arduino <span class="pull-right"><a id="setup-content-toggle" onClick="hideDiv('setup-content')">Hide</a></span></h2>
<hr>
<div id="setup-content">
  {% include_relative SetupWVSA.htm %}
</div>

<h2>3. Write your first app: Hello, Blinky!   <span class="pull-right"><a id="app-content-toggle" onClick="hideDiv('app-content')">Hide</a></span>  </h2>
<hr>
  <div id="app-content" class="setup-content-list">

  </div>


<script>
  function hideDiv(div) {
    var div = "#" + div;
    var button = div + "-toggle"
    $(div).toggle('slow');
    var currentState = $(button)[0].innerHTML;
    $(button)[0].innerHTML = currentState === "Hide" ? "Show" : "Hide"
  }
</script>