<div class="row">
  <div class="col-xs-24 col-md-12">
    <p>Once you have successfully connected your board to the network, you can return to the "My devices" tab to configure the board</p>
    <ol class="inline-list">
	  <li><b>Find your device in the list, and click the edit symbol (pencil symbol)</b>. This will take you to settings page. You can rename your device from this page</li>
	  <li><b>Find your device in the list and right click on it to get option menu</b>. You can launch Windows Device Portal or connect using PowerShell. You can change the device name, password and various other settings using Windows Device Portal/Powershell</li> 
    </ol>
  </div>
  <div class="col-xs-24 col-md-11">
    <p><img src="{{site.baseurl}}/Resources/images/IoTDashboard/IoTDashboard_Settings.PNG" /></p>
	<p><img src="{{site.baseurl}}/Resources/images/IoTDashboard/IoTDashboard_RightClickMenu.PNG" /></p>
  </div>
</div>
