<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li>
        <p><b>Open the Windows 10 IoT Core Dashboard</b> you downloaded and installed from the <a href="GetStartedStep1.htm">Get the tools</a> page.</p>
      </li>
      <li>
        <p><b>Click "Set up a new device".</b></p>
      </li>
      <li>
        <p><b>Select {% include_relative board-name.inc %} from the dropdown.</b></p>
        <p class="win-color-fg-secondary">Each board has its own specialized image.</p>
      </li>
      <li>
        <p><b>Make sure your SD card is compliant.</b></p>
        <p class="win-color-fg-secondary">
          SD cards need to be at least 8 GB in size. Slower and older cards are inconsistent when flashing and may fail to work. Class 4 SD cards are not supported and at a minimum Class 10 SD cards should be used.<br/>
          View the <a href="https://developer.microsoft.com/en-us/windows/iot/docs/hardwarecompatlist#Storage" target="_blank">list of recommended cards</a>.
        </p>
      </li>
      <li>
        <p><b>Enter device name, password and Wi-Fi network to connect to.</b></p>
        <p class="win-color-fg-secondary">
          Choose a unique name for your device and a new Administrator password for the device. You can also choose a Wi-Fi access point that you want the device to connect to when it starts up. <br/>
          Note that only wireless networks that have already been connected to by your Windows 10 PC will appear in the network list. 
        </p>
      </li>

      <li>
        <p><b>Download and install Windows 10 IoT Core on your board.</b></p>
        <p class="win-color-fg-secondary">A window will pop up to show you the progress. This step can take several minutes depending on the speed of your SD card.</p>
      </li>
      <li>
        <p><b>Plug the SD card into your board and power on.</b></p>
        <p class="win-color-fg-secondary">
          You have the option to plug in a display, but it is not necessary. For best results, plug it in before you power on the device.
          First boot will take several minutes as the operating system does its initial installation. If you have specified a different device name from default (minwinpc) will cause a restart to happen automatically. 
        </p>
      </li>
    </ol>
  </div>
  <div class="col-xs-24 col-md-11">
    <p><img src="{{site.baseurl}}/Resources/images/IoTDashboard/IoTDashboard_SetupPage.PNG"/></p>
  </div>
</div>
