<div class="row">
  <div class="col-xs-24 col-md-12">
    <h3> Hook Up Your Board</h3>
    <ol class="inline-list" ">
      <li><b>Connect a USB keyboard</b> to one of the USB ports on the board.</li>
      <li><b>Connect an HDMI monitor</b> to the microHDMI port on the board.</li>
      <li>
        <b>Connect a network cable</b> to the Ethernet port on the board. Make sure your development PC is on the same network.
        <ul>
          <li><b>NOTE:</b> If you don't have a local wired network, see <a href="{{site.baseurl}}/{{page.lang}}/Docs/ConnectToDevice.htm "
              target="_blank ">here</a> for additional connection options.</li>
        </ul>
      </li>
     </ol>
  </div>
  <div class="col-xs-24 col-md-11 ">
    <p><img alt="minnowboard max connections " src="{{site.baseurl}}/Resources/images/mbm.bmp " class="device-images " /></p>
  </div>
</div>
  <div class="row ">
    <div class="col-xs-24">
    <h3>Update Your Device Firmware</h3>
    <ol class="inline-list "">
      <li>Install the latest 64-bit Firmware by following instructions from <a href="https://minnowboard.org/tutorials/updating-the-firmware/" target="_blank">the official Minnowboard site.</a></li> 
      When you get to step 4 of the instructions, skip them and come back here for further details.
    </ol>

  </div>
</div>
  <div class="row ">
    <div class="col-xs-24">
    <h3>Set Required BIOS Settings</h3>
    <p> If your MinnowBoard does not boot to Windows 10 Iot Core, you may need to update the BIOS settings. </p>
    <ol class="inline-list "">
      <li>Insert your newly flashed SD Card into your MBM. At any point, if you turn on your MBM without an SD card inserted, you will be required to configure the boot order again.</li>
      <li>Hook up a physical keyboard to the USB port on MBM. For display, you can either connect an HDMI monitor or use the serial port.</li>
      <li>When you boot, press F2 to get to the BIOS settings. </li>
      <li>Navigate to Device Manager -> System Setup -> South Cluster Configuration -> LPSS & SCC Configuration 
          <ul>
              <li>Set "LPSS & SCC Device Mode" to "ACPI Mode" </li>
              <li>Set "DDR50 Capability Support for SDCard" to "Disable" </li>
          </ul>
      </li>
      <li>Navigate back to top level and select Boot Mainenance Manager-> Boot Options -> Change Boot Order </li>
      <li>Highlight the boot order list (when it is highlighted, you will see "Change the order" on the right side of the screen) and press enter </li>
      <li>Highlight "EFI Misc Device" and press '+' to move it to the top of the list </li>
      <li>Commit these changes and exit. </li>
      <li>
          <p>The MBM should automatically boot to the card (this initial boot may take up to 2 minutes, subsequent boots should take less than 30 seconds). If it does not, it will boot to the UEFI shell, and you will have to execute the following in the UEFI shell to boot Windows:</p>
          <ul>
              <kbd>Shell> fs1:</kbd><br/>
              <kbd>fs1:\> efi\boot\bootia32.efi</kbd><br/>
          </ul>
          <p/>
      </li>
    </ol>
  </div>
</div>
