<h4> What you need </h4>
<p>
    <ul>
        <li>From Step 1: A PC running Windows 10 </li>
        <li>From Step 1: A prepared USB drive with the JouleAutoInstaller, ACPITABL.dat, and FFU</li>
        <li>Joule Development Platform </li>
        <li>12V, 3A power adapter (power adapter must be Listed LPS or Class 2 output rated, 12Vdc, 3A minimum) with barrel jack for powering the expansion board. The barrel dimensions are 5.5mm outer diameter, and 2.1mm inner diameter. The barrel length is ~9-10mm. The plug is positive center.</li>
        <li>Micro HDMI cable and monitor </li>
        <li><b>POWERED</b> USB 3.0 hub. The development platform has only one Type A USB port. The Type B and C ports should not be used unless directed. </li>
        <li>USB keyboard and Mouse </li>
        <li>Other cords and peripherals as <a href="https://software.intel.com/en-us/getting-started-on-joule" target="_blank">documented by Intel.</a></li>
    </ul>

<h4>Update the firmware and install Windows 10 IoT Core</h4>
  <ol class="setup-content-list">
    <li>First, we must update the firmware on the Joule device. While you may have just purchased the device, Intel has made recent firmware updates to improve the functionality and support Windows. Follow the process on <a href="https://software.intel.com/en-us/flashing-the-bios-on-joule" target="_blank">Intel's website</a> to download and install the latest firmware for Joule.</li>
    <li>If you haven't already, through the USB hub, connect the USB drive you created in Step 1, a USB keyboard, and a USB mouse.</li>
    <li>After you've flashed the device, power it up. When you see the Intel logo splash screen, immediately press F2 to enter the firmware setup. If you miss the prompt, reboot and try again.</li>
    <li>Confirm the firmware has been updated. It should read GTPPA16A.X64.0143.B30.1608112014</li>
    <li>From the firmware setup screen, Select Boot Manager -> EFI USB Device. Press Enter. The system will restart.</li>
    <li>When the system reboots, the JouleAutoInstaller will run from the USB and flash the FFU to Joule eMMC.</li>
    <li>When promoted, press any key to continue. This will take you the the WinPE prompt.</li>
    <li>From the WinPE prompt, switch to the USB drive. Usually, this is "d:", but you may need to try other drive letters.
    <li>Type: "copy ACPITABL.dat c:\windows\system32".<li>
    <li>If asked, orerwrite the existing ACPITABL.dat file. This will copy the ACPITABL.dat file from your USB drive to your Windows 10 IoT Core file system on the eMMC.</li>
    <li>From the WinPE prompt, type: "wpeutil reboot"</li>
    <li>Press F2 to enter the firmware again.</li>
    <li>Go to Device Manager -> System Setup -> Boot and set "OS Selection" to Windows.</li>
    <li>Press F4 to save.</li>
    <li>Press ESC to go back one screen. Select Commit changes and exit.</li>
    <li>The system will boot to Windows 10 IoT Core, start the configuration process, and load the <a href="{{site.baseurl}}/{{page.lang}}/samples/iotdefaultapp.htm" target="_blank">default app</a>. You may remove the USB flash drive. You will no longer need it.</li>
  </ol>