<div class="row">
  <div class="col-xs-24 col-md-12">
    <h3> Hook Up Your Board</h3>
    <ol class="inline-list" ">
      <li><b>Connect a USB keyboard</b> to one of the USB ports on the board.</li>
      <li><b>Connect an HDMI monitor</b> to the microHDMI port on the board.</li>
      <li>
        <b>Connect a network cable</b> to the Ethernet port on the board. Make sure your development PC is on the same network.
        <ul>
          <li><b>NOTE:</b> If you don't have a local wired network, see <a href="{{site.baseurl}}/{{page.lang}}/Docs/ConnectToDevice.htm "
              target="_blank ">here</a> for additional connection options.</li>
        </ul>
      </li>
     </ol>
  </div>
  <div class="col-xs-24 col-md-11 ">
    <p><img alt="minnowboard max connections " src="{{site.baseurl}}/Resources/images/mbm.bmp " class="device-images " /></p>
  </div>
</div>
  <div class="row ">
    <div class="col-xs-24">
    <h3>Update Your Device Firmware</h3>
    <ol class="inline-list "">
      <li>Download the latest 32-Bit Release pre-built BIOS firmware from <a href="http://firmware.intel.com/projects/minnowboard-max"
          target="_blank"> firmware.intel.com/projects/minnowboard-max </a> <br>For the current release, only 32 bit is supported,
        however if you have a new board or are currently running the 64-bit firmware you will need to download <u>both</u>        the 64 and the 32 bit versions and use the 64 bit instructions below. </li>
      <li>
        Unzip the downloaded file and copy the following files to a FAT formatted USB stick
        <ul>
          <li>*.efi</li>
          <li>*.bin</li>
        </ul>
      </li>
      <li>Power off your MinnowBoard</li>
      <li>Remove any SD cards and external hard drives</li>
      <li>Plug in the USB stick to the MinnowBoard</li>
      <li>Power on your MinnowBoard</li>
      <li>
        You should see the UEFI prompt. Run the following commands at the UEFI prompt:
      </li>
      <li>
        <p>If your current firmware is 64 bit (this is how the MinnowBoard ships)</p>
        <ul>
            <kbd>fs0:</kbd><br/>
            <kbd>.\MinnowBoard.MAX.FirmwareUpdateX64.efi _filename_.bin</kbd><br/>
        </ul>
        <p> If your current firmware is 32 bit (if you have already modified the original firmware to be 32 bit) </p>
        <ul>
            <kbd>fs0:</kbd><br/>
            <kbd>.\MinnowBoard.MAX.FirmwareUpdateIA32.efi _filename_.bin</kbd>
        </ul>
        <p> e.g. </p>
        <ul>
            <kbd>Shell> fs0:</kbd><br/>
            <kbd>fs0:\> .\MinnowBoard.MAX.FirmwareUpdateIA32.efi MinnowBoard.MAX.I32.079.R01.bin</kbd><br/>
        </ul>
        <p/>
      </li>
      <li>
        The system should shut down automatically after the firmware update is complete.
        <ul>
          <li> NOTE: If you are not able to go to the fs0: partition, try a different flash drive. Certain flash drives won't
            be bootable even after you copy efi/bin files.</li>
        </ul>
      </li>
    </ol>
    <p> You might wonder why you need to invoke 'MinnowBoard.MAX.FirmwareUpdateX64.efi' even if we're only supporting a 32 bit
      version of Windows 10 IoT Core. The board usually comes with 64-bit firmware pre-installed on it. The bitness of the
      EFI has to match the bitness of the current firmware. Additionally, the bitness of the bin file has to match the desired
      bitness of the firmware after updating. So the first time you will likely need to use 64-bit EFI and 32-bit BIN. The
      second time and every other time you need to use 32-bit EFI and 32-bit BIN. The reason the bitness of the firmware
      has to match the bitness of the OS is that there is an EFI in the OS image that gets loaded to bootstrap the OS, and
      that EFI has to be the same bitness as the firmware as well.
    </p>
  </div>
</div>
  <div class="row ">
    <div class="col-xs-24">
    <h3>Set Required BIOS Settings</h3>
    <p> If your MinnowBoard does not boot to Windows 10 Iot Core, you may need to update the BIOS settings. </p>
    <ol class="inline-list "">
      <li>Insert your newly flashed SD Card into your MBM. At any point, if you turn on your MBM without an SD card inserted, you will be required to configure the boot order again.</li>
      <li>Hook up a physical keyboard to the USB port on MBM. For display, you can either connect an HDMI monitor or use the serial port.</li>
      <li>When you boot, press F2 to get to the BIOS settings. </li>
      <li>Navigate to Device Manager -> System Setup -> South Cluster Configuration -> LPSS & SCC Configuration 
          <ul>
              <li>Set "LPSS & SCC Device Mode" to "ACPI Mode" </li>
              <li>Set "DDR50 Capability Support for SDCard" to "Disable" </li>
          </ul>
      </li>
      <li>Navigate back to top level and select Boot Mainenance Manager-> Boot Options -> Change Boot Order </li>
      <li>Highlight the boot order list (when it is highlighted, you will see "Change the order" on the right side of the screen) and press enter </li>
      <li>Highlight "EFI Misc Device" and press '+' to move it to the top of the list </li>
      <li>Commit these changes and exit. </li>
      <li>
          <p>The MBM should automatically boot to the card (this initial boot may take up to 2 minutes, subsequent boots should take less than 30 seconds). If it does not, it will boot to the UEFI shell, and you will have to execute the following in the UEFI shell to boot Windows:</p>
          <ul>
              <kbd>Shell> fs1:</kbd><br/>
              <kbd>fs1:\> efi\boot\bootia32.efi</kbd><br/>
          </ul>
          <p/>
      </li>
    </ol>
  </div>
</div>