
<h4>Connecting to Your Device</h4>
<ol class="setup-content-list">
  <li>
    <p>You can use <a href="{{site.baseurl}}/{{page.lang}}/Docs/tools/DevicePortal.htm" target="_blank">Windows Device Portal</a> to connect to your device through your favorite web browser. The device portal provides configuration and device management capabilities, in addition to advanced diagnostic tools to help you troubleshoot and view the real time performance of your Windows IoT Device. <a href="{{site.baseurl}}/{{page.lang}}/Docs/tools/DevicePortal.htm" target="_blank">Click here to learn how to connect to Windows Device Portal!</a></p>
    <p><img alt="screenshot: device portal to connect to dragonboard 410c" class="device-images" src="{{site.baseurl}}/Resources/images/deviceportal/deviceportal_small_db.png" /></p>
  </li>
  <li>
    <p>You can also use PowerShell to connect to your device through a command shell. Follow the <a href="{{site.baseurl}}/{{page.lang}}/Docs/PowerShell.htm" target="_blank">PowerShell documentation</a> to use PowerShell to connect to your running device.  You can also follow the <a href="{{site.baseurl}}/{{page.lang}}/Docs/SSH.htm" target="_blank">SSH instructions</a> to use SSH to connect to your device.</p>
    <p><img alt="screenshot: use powershell to connect to your dragonboard 410c" class="device-images" src="{{site.baseurl}}/Resources/images/powershell/connection.png" /></p>
  </li>
</ol>

<p>It is highly recommended that you update the default password for the Administrator account. Instructions are included in the relevant documentation for <a href="{{site.baseurl}}/{{page.lang}}/Docs/tools/DevicePortal.htm" target="_blank">Windows Device Portal</a> or <a href="{{site.baseurl}}/{{page.lang}}/Docs/PowerShell.htm" target="_blank">Powershell</a>.</p>

<h3> Additional Resources </h3>
<p><a href="{{site.baseurl}}/{{page.lang}}/Docs/HardwareCompatList.htm" target="_blank">Supported Peripheral Interfaces and Devices</a></p>
