<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li value="1">
        <p><b>Download the most recent Insider Preview image</b>.</p>
        <div class="btn-group">
          <a href="http://go.microsoft.com/fwlink/?LinkID=733603" target="_blank" id="insider-preview-link" class="btn btn-primary">Get Windows 10 IoT Core Insider Preview</a>
        </div>
        <p>You need to have a valid Microsoft Account and need to be signed up for the Windows Insider Program to be able to download the Insider Preview.
        Visit the downloads page <a href="http://go.microsoft.com/fwlink/p/?linkID=532967" target="_blank">here</a> for more details.</p>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li value="2">
        <p><b>Click the desired image under the "Windows 10 IoT Core Insider Preview".</b> You are required to have a Microsoft account and must be part of the Windows Insider Program to gain access to this image. Joining the Windows Insider Program is free and anyone can join.
        Once you're signed up, select the build version (a higher number indicates a newer build) and your device, click "Download Now".</p> 
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li value="3">
        <p><b>Find the downloaded .ISO and double click on it.</b></p>
      </li>
    </ol>
  </div>
  <div class="col-xs-24 col-md-11">
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-1.png"></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li value="4">
        <p>
          <b>Double click the Windows Installer Package (.MSI) and follow the installation steps</b><br/>
          Note that there is a single .MSI file for all Raspberry Pi boards called Windows_10_IoT_Core_for_RPi2.msi. This .MSI file will work for both Raspberry Pi 2 and Raspberry Pi 3.
        </p>
    </ol>
  </div>
  <div class="col-xs-24 col-md-11">
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-2.png"></p>
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-3.png"></p>
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-4.png"></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li value="5">
        <p><b>Launch the IoT Dashboard.</b> The Windows 10 IoT Core dashboard will allow you to flash the downloaded image onto your SD card. You can install the IoT Dashboard from <a href="http://go.microsoft.com/fwlink/?LinkID=708576" target="_blank">here.</a></p>
      </li>
      <li value="6">
        <p><b>Click "Set up a new device".</b> Once there, select "Custom" from the "Device type" drop down. Click the "Browse" button to find your image (.ffu) </p>
      </li>
    </ol>
  </div>
  <div class="col-xs-24 col-md-11">
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-5.png"></p>
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-6.png"></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li value="7">
        <p>
          <b>Navigate to "C:\Program Files (x86)\Microsoft IoT\FFU\<i>DeviceType</i>" and select Flash.ffu.</b><br/>
          Note that there is a single Flash.ffu file for all Raspberry Pi boards. This Flash.ffu file will work for both Raspberry Pi 2 and Raspberry Pi 3 (even if it's located in the "C:\Program Files (x86)\Microsoft IoT\FFU\RaspberryPi2" folder).
        </p>
      </li>
    </ol>
  </div>
  <div class="col-xs-24 col-md-11">
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-7.png"></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-24 col-md-12">
    <ol class="inline-list">
      <li value="8">
        <p><b>Click "Install". </b> Note that you must have a compliant SD card to successfully flash. We recommend a Class 10 SD card with a size of at least 8 GB or more. Once done flashing, you can remove the SD card and plug it into your device.</p>
      </li>  
    </ol>
  </div>
  <div class="col-xs-24 col-md-11">
    <p><img src="{{site.baseurl}}/Resources/images/manual-setup/manual-step-8.png"></p>
  </div>
</div>

