<p>The DragonBoard410c has onboard WiFi, but you may also choose to use a USB Ethernet Adapter to connect toa local network with an Ethernet cable.</p>

<h4> Connecting to a Wireless Network </h4>
  <ol class="setup-content-list">
    <li>Click the Settings button next to the clock on the Win10 IoT Core default application.</li>
    <li>On the Settings page, select "Network & Wi-Fi" via the menu on the left.</li>
    <li>Your DragonBoard will automatically begin scanning for wireless networks.</li>
    <li>Once your network appears in the list, select it and click the "Connect" button to connect.</li>
  </ol>
  
<h4> Using a USB Ethernet Adapter </h4>
<p>DragonBoard supports the <a href="http://www.trendnet.com/products/proddetail.asp?status=view&prod=280_TU2-ET100" target="_blank">TRENDnet TU2-ET100 </a> USB ethernet adapter. All you need to do is connect the adapter via USB and then to your local network using a standard ethernet cable.</p>
<p>Other network adapters may also be compatable with DragonBoard, although they may not have been tested.</p>
<li>
  Follow the PowerShell documentation<a href="{{site.baseurl}}/{{page.lang}}/Docs/PowerShell.htm" target="_blank"> here</a> to use PowerShell to connect to your running device.  You can also follow the instructions <a href="{{site.baseurl}}/{{page.lang}}/Docs/SSH.htm" target="_blank">here</a> to use SSH to connect to your device.
</li>
