<h4> What you need </h4>
<p>
    <ul>
        <li> A PC running Windows 10 - as prepared in the previous step. </li>
        <li> DragonBoard 410c </li>
        <li> 12V power supply with at least 1.0A current.  If you plan on using several power-hungry USB peripherals, use a higher current power supply instead (>2.0A) </li>
        <li> HDMI cable and monitor (HDMI monitors with a native resolution of 16:9 at 1280x720 are recommended) </li>
        <li> USB keyboard and Mouse - <a href="{{site.baseurl}}/{{page.lang}}/Support/Faqs.htm#dragonboard" target="_blank"> Having issues with USB? </a> </li>
        <li>
            Logic-level shifter - recommended - Many peripheral devices require 3.3v or 5v logic level voltages. The DragonBoard 410c supplies 1.8v logic and therefore may require a logic level shifter when connecting your DragonBoard to these types of peripheral devices. Some example shifters include: <a href="https://www.adafruit.com/products/395" target="_blank">Adafruit 8-channel Logic Level Converter</a> and <a href="https://www.sparkfun.com/products/11771" target="_blank">SparkFun 4-channel Voltage-Level Translator</a>.

            We will show you how to use these shifters in any of our samples that require them for DragonBoard. To see an example of one such sample, refer to the DragonBoard section of the <a href="{{site.baseurl}}/{{page.lang}}/Samples/SPIAccelerometer.htm" target="_blank">SPI Accelerometer Sample</a>.  You may also refer to <a href="https://learn.sparkfun.com/tutorials/txb0104-level-shifter-hookup-guide?_ga=1.63563695.1225669924.1446058808" target="_blank"> SparkFun's Hookup Guide</a>. You will not require this device in order to get started with the DragonBoard.<br />
        </li>
    </ul>

<h4> Note: </h4>
  <p>Unlike the Raspberry Pi 2 or 3 and Minnowboard Max, you <em> do not </em> need an SD card to load the Windows IoT Core image to your DragonBoard. The image will be directly uploaded to the board!</p>

<h4> Connect the DragonBoard to the Host PC</h4>
  <ol class="setup-content-list">
    <li>
      <p>First, we must enable download mode by setting the first boot switch on the back of the board to: "USB Boot". Refer to the image below for a demonstration of the proper configuration.</p>
      <p><img alt="set first boot switch on board to usb boot" class="image-border" src="{{site.baseurl}}/Resources/images/SetupDB410c/dragonboard_usbboot.png" /></p>
      <p>The first of the four switches is set to ON, and the other 3 switches are set to OFF.</p>
    </li>
    <li>
      <p>Connect a USB cable to the DragonBoard’s micro USB port and connect the other end to an empty USB port on the Host PC, as shown below.</p>
      <p><img src="{{site.baseurl}}/Resources/images/SetupDB410c/usb_connection.jpg" class="image-border" alt="connect a usb cable to your DragonBoard" /></p>
    </li>
    <li>Connect the DragonBoard to the Power supply.</li>

  </ol>
<h4>Download the Windows 10 IoT Core Image to the DragonBoard</h4>
<ol class="setup-content-list">
  <li>
    <p>Start the DragonBoard Update Tool you installed during the previous step.</p>
    <p><img alt="screenshot: launch dragonboard update tool" class="image-border" src="{{site.baseurl}}/Resources/images/SetupDB410c/DB410c_UpdateTool.png" height="200" /></p>
  </li>
  <li>The Update Tool should detect the DragonBoard and the Connection Status should show: "Connected".</li>
  <li>In the DragonBoard Update Tool click the "Browse" button and locate the Win10 IoT Core Image file you downloaded during the HostPC setup.</li>
  <li>
    <p>Click the "Program" Button and wait for the image to be downloaded to the board.</p>
    <p>NOTE: The download will overwrite any previous content of the eMMC memory.</p>
  </li>
  <li>Once the download is complete, disconnect the power supply and micro-USB cable from the board and change the boot switches back to the OFF position.</li>
  <li>The DragonBoard is now ready to boot into Win10 IoT Core OS.</li>
</ol>

<h4> First Boot </h4>
  <ol class="setup-content-list">
    <li>
	  <p>Connect Mouse, Keyboard and Display to the DragonBoard and plug in the power supply.</p>
	  <p>NOTE: Make sure that the micro-USB cable is not plugged-in, otherwise the USB devices will not be detected.</p>
	</li>
    <li>
      <p>After a few seconds you should see the Win10 IoT boot-logo and shortly after you should see the Win10 IoT Core default application:</p>
      <p><img alt="defaultapp at boot up for dragonboard 410c" class="image-border" src="{{site.baseurl}}/Resources/images/SetupDB410c/DB410c_DefaultApp.jpg" height="200" /></p>
    </li>
  </ol>