<p>The Joule has onboard WiFi that you may have already configured during the initial bootup of the default app. You can use the steps below to change wi-fi settings. If you prefer using wired Ethernet, you can connect using a USB Ethernet dongle.</p>

<h4> Connecting to a Wireless Network </h4>
  <ol class="setup-content-list">
    <li>Click the Settings button next to the clock on the Win10 IoT Core default application.</li>
    <li>On the Settings page, select "Network & Wi-Fi" via the menu on the left.</li>
    <li>Your Joule will automatically begin scanning for wireless networks.</li>
    <li>Once your network appears in the list, select it and click the "Connect" button to connect.</li>
  </ol>