---

layout: default

title: 设置设备

permalink: /zh-cn/win10/GetStarted/SetUpYourDeviceManually.htm

lang: zh-CN


---
<div class="row">
  <div class="col-xs-24">
    <ol class="breadcrumb">
      <li><a href="https://developer.microsoft.com/zh-cn/windows/iot">IoT 主页</a></li>
      <li><a href="{{site.baseurl}}/{{page.lang}}/GetStarted.htm">入门</a></li>
      <li class="active">手动设置设备</li>
    </ol>
    <header class="page-title-header">
      <h1 class="page-title">手动设置设备</h1>
      <h2 class="page-subtitle">使用 IoT 核心版仪表板在开发板上下载、刷入和安装 Windows 10 IoT 核心版。</h2>
    </header>
  </div>
</div>

<div class="row">
    <p><span class="pull-right">
        <a href="{{site.baseurl}}/{{page.lang}}/win10/GetStarted/SetUpVisualStudio.htm" class="button-blue button-flat">下一步： 设置 Visual Studio</a>
    </span></p>
</div>

<div class="row">
  <div class="col-xs-24">
    <h2>手动下载并刷入自定义映像<span class="pull-right"><a id="download-and-flash-toggle" class="toggle-button" onClick="hideDiv('download-and-flash')">隐藏</a></span></h2>
    <hr>
    <div id="download-and-flash" class="toggle-section">
      {% include_relative SetupBoardManually.md %}
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-xs-24">
    <h2>将开发板连接到网络<span class="pull-right"><a id="connect-to-network-toggle" class="toggle-button" onClick="hideDiv('connect-to-network')">隐藏</a></span></h2>
    <hr>
    <div id="connect-to-network" class="toggle-section">
      {% include_relative ConnectToNetwork.md %}
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-xs-24">
    <h2>配置开发板<span class="pull-right"><a id="configure-board-toggle" class="toggle-button" onClick="hideDiv('configure-board')">隐藏</a></span></h2>
    <hr>
    <div id="configure-board" class="toggle-section">
    {% include_relative ConfigureBoard.md %}
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-xs-24">
    <h2>快速运行示例<span class="pull-right"><a id="quick-run-samples-toggle" class="toggle-button" onClick="hideDiv('quick-run-samples')">隐藏</a></span></h2>
    <hr>
    <div id="quick-run-samples" class="toggle-section">
    {% include_relative QuickRunSamples.md %}
    </div>
  </div>
</div>
<br />

<div class="row">
    <p><span class="pull-right">
        <a href="{{site.baseurl}}/{{page.lang}}/win10/GetStarted/SetUpVisualStudio.htm" class="button-blue button-flat">下一步： 设置 Visual Studio</a>
    </span></p>
</div>


<script>
    function hideDiv(div) {
        var pdiv = "#" + div,
            button = pdiv + "-toggle"

        if ($(pdiv).css('display') == 'none') {
            $(pdiv).toggle('slow');
            $(button).html('Hide');
        }
        else {
            $(pdiv).toggle('slow');
            $(button).html('Show');
        }
    }
</script>