<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <!-- Body -->
    <div class="container">
        <div class="row">
            <div class="col-xs-5 side-nav-wrap doc-samples-sidebars">
              <nav role="navigation" class="side-nav">
                {% include TOC.html %}
              </nav>
            </div>
            <div class="col-xs-15">
                {{ content }}
            </div>
            <div class="col-xs-4 doc-samples-sidebars"> <!-- This is for the sidebar -->
              {% include docsSidebar.html %}
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include script.html %}
    {% include sock.html %}
</body>
</html>
