<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <!-- Body -->
    <div class="container">
        <div class="row">
            <div class="col-xs-5 side-nav-wrap">
              <nav role="navigation" class="side-nav">
                {% include TOC.md %}
              </nav>
            </div>
            <div class="col-xs-15">
                {{ content }}
            </div>
            <div class="col-xs-4"> <!-- This is for the sidebar -->
              <p><a href="https://github.com/"><span class="win-icon win-icon-Edit"></span>Edit this page on GitHub</a></p>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include script.html %}
    {% include sock.html %}
</body>
</html>
