<!DOCTYPE html>
<html>
    {% include default-head.html %}
<body >
   <div>
        <main id="mainContent">
            <section class="m-getstarted-head">
            <div>
                <h1 class="c-subheading-1">Get Started</h1>
            </div>
            </section>
            <div data-grid="container" id="mainContent">     
            {% include getStarted-sideNav.html %}
            <section class="m-style-wrapper" data-grid="col-9">
                {{ content }}  
            </div>    
            </section>
        </main>
        <div data-grid="col-12">
            <hr class="c-divider f-pad-vertical-6x">
        </div>
        </div> 
   {% include landing-footer.html %}
   {% include sock.html %}
</body>
</html>
