---
layout: getstarted-steps-prototype
title: Windows 10 IoT Core Official Website | Developer Resource
description: Windows 10 IoT Core for your Internet of Things. 
keyword: windows iot, get started, home page, iot
permalink: /en-US/GetStarted/Prototype/SetupDevice.htm
lang: en-US
---

<header data-grid="col-12">
    <h1  class="c-subheading-1">Set up your device</h1>
    <p class="c-paragraph-3">For any device you choose to set up, check to make sure your development machine is running Windows build 10.0.14393 or newer and has <a href="https://docs.microsoft.com/en-us/windows/uwp/get-started/enable-your-device-for-development" class="c-hyperlink">developer mode</a> enabled. </p>
</header>

<section data-grid="col-12">
    <div data-grid="col-12" class="m-feature c-pivot">
        <button class="c-flipper f-previous" aria-hidden="true" tabindex="-1"></button>
        <header role="tablist" style="justify-content: normal;">
            <a role="tab" aria-controls="pivot-target-1" class="f-active" href="#" aria-selected="true" style="margin-left: 0px;">SD card-based device</a>
            <a role="tab" aria-controls="pivot-target-2" href="#" aria-selected="false" class="" tabindex="-1">eMMC (Intel devices)</a>
            <a role="tab" aria-controls="pivot-target-3" href="#" aria-selected="false" class="" tabindex="-1">eMMC (Qualcomm devices)</a>
            <a role="tab" aria-controls="pivot-target-4" href="#" aria-selected="false" class="" tabindex="-1">NOOBS</a>
        </header>
        <button class="c-flipper f-next" aria-hidden="true" tabindex="-1"></button>
        <section role="tabpanel" id="pivot-target-1" aria-hidden="false">
            <section>
               <br><br><h2>SD card-based devices</h2>
               <p class="c-paragraph-3">SD card-based devices include <b>Raspberry Pi 2 and Raspberry 3 boards</b>, <b>MinnowBoard Turbot/MAX boards</b>, and <b>Intel Compute Sticks</b>. For Intel Compute Sticks, use the Minnowboard Turbot/MAX FFU. You may also need to download a few drivers (Wi-Fi/Bluetooth) externally.
                <br><br>
            For any of these devices, please ensure that you have the <b>latest firmware update</b>. The latest firmware for Minnowboard Turbot/MAX boards can be found on <a class="c-hyperlink" href="https://minnowboard.org/tutorials/updating-the-firmware" target="_blank">the MinnowBoard website</a>. </p><br><br>
                <h3 class="c-subheading-2">Flashing IoT Core</h3> 
                <p class="c-paragraph-3">1. Download the <a href="https://docs.microsoft.com/en-us/windows/iot-core/connect-your-device/iotdashboard" target="_blank">Windows 10 IoT Core Dashboard</a> from the <a href="https://developer.microsoft.com/en-us/windows/iot/Downloads" target="_blank">Downloads page</a>.</p> 
                    <p class="c-paragraph-3">2. Insert a <a class="c-hyperlink" href="https://developer.microsoft.com/en-us/windows/iot/docs/hardwarecompatlist#Storage">compatible</a> micro-SD card into your device, then open the Dashboard and click on the <b>Set up a new device</b> tab. Go through and populate the fields for <b>Device Type</b> and <b>OS Build</b>.</p>
                    <blockquote class="c-blockquote">
                    <p class="c-paragraph">NOTE: To use the Insider Preview version of Windows 10 IoT Core, select <b>Windows Insider Preview</b> from the <b>OS Build</b> dropdown box and sign in with your Insider Program credentials. If you aren't a Windows Insider, sign up for Windows Insider Preview <a class="c-hyperlink" href="https://insider.windows.com/">here</a>.</p>
                    </blockquote>
		    <br><br>
		    <img src="{{site.baseurl}}/Resources/images/IoTDashboard/IoTDashboard-16299.jpg"> 
		    <br><br>
                    <p class="c-paragraph-3">3. Ensure that your SD card is selected in the  <b>Drive</b>  dropdown box and enter a unique name for your device as well as an administrator password. If available, choose a wireless network to which your device will connect.</p>
                    <blockquote class="c-blockquote">
                    <p class="c-paragraph"> NOTE: The default name and password is <b>minwinpc</b> and <b>p@ssw0rd</b>. To best secure your device, we highly recommend you change this.</p>
                    </blockquote>
                    <p class="c-paragraph-3">4. Click  <b>Download and Install</b> after accepting the software license terms. Once the Dashboard has flashed the SD card, plug the card into your device, optionally plug in an HDMI display, and power on the device. After a few minutes you should see the IoT Core default application appear on the display.</p>
            </section><br>
            {% include setup-steps.html%}         
        </section>
        <section role="tabpanel" id="pivot-target-2" aria-hidden="true">
            <section>
                <br><br><h2>eMMC (Intel devices)</h2>
                <p class="c-paragraph-3">Intel devices that use eMMC include the <b>Intel Joule</b>. </p><br><br>
                <h3 class="c-subheading-2">Flashing IoT Core</h3> 
                <p class="c-paragraph-3">1. Download and install the <a href="https://developer.microsoft.com/en-us/windows/hardware/windows-assessment-deployment-kit" class="c-hyperlink">Windows Assessment and Deployment Kit</a> with the correlating version of Windows 10 that you're running.</p>
                <p class="c-paragraph-3">2. Insert a USB drive into your machine, then create a USB-bootable WinPE image on it by following these instructions:</p>
                        <ul class="c-list">
                            <li>Start the Deployment and Imaging Tools Environment(DandISetEnv.bat) normally found in <b>C:\Program Files (x86)\Windows Kits\10\Assessment and Deployment Kit\Deployment Tools</b> as an administrator.</li>
                            <li>Create a working copy of the Windows PE files. Specify either x86, amd64, or arm:
                                <blockquote class="c-blockquote">
                                    <p class="c-paragraph"><xmp>copype amd64 C:\WinPE_amd64</xmp></p>
                                </blockquote>
                            </li>
                            <li>Install Windows PE to the USB flash drive, specifying the WinPE drive letter below. You can find more information <a href="https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/winpe-create-usb-bootable-drive" class="c-hyperlink">here</a>.    
                                <blockquote class="c-blockquote">
                                    <p class="c-paragraph"><xmp>MakeWinPEMedia /UFD C:\WinPE_amd64 P:</xmp></p>
                                </blockquote>
                            </li>
                        </ul>
                    <p class="c-paragraph-3">3. Download the <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/downloads">Windows 10 IoT Core Image</a>, double-click on the downloaded ISO file, and locate the mounted Virtual CD-drive. This drive will contain an installer file (.msi); double-click on it. This creates a new directory on your PC under C:\Program Files (x86)\Microsoft IoT\FFU\ in which you should see an image file, "flash.ffu".</p>
                    
                    <blockquote class="c-blockquote">
                    <p class="c-paragraph">NOTE: To use the Insider Preview version of Windows 10 IoT Core, download it from the <a class="c-hyperlink"href="https://www.microsoft.com/en-us/software-download/windowsiot" target="_blank">Windows Insider site</a>. You will need sign in with your Insider Program credentials. If you aren't a Windows Insider, you can sign up for Windows Insider Preview <a class="c-hyperlink" href="https://insider.windows.com/">here</a>.</p>
                    </blockquote>

                    <p class="c-paragraph-3">4. Download, unzip and copy the <a class="c-hyperlink" href="https://github.com/ms-iot/content/blob/develop/Resources/eMMCInstaller.zip">eMMC Installer script (eMMCInstaller.cmd)</a> to the USB device's root directory, along with the device's FFU.</li>
                    <p class="c-paragraph-3">5. Connect the USB drive, mouse, and keyboard to the USB hub.  Attach the HDMI display to your device, the device to the USB hub, and the power cord to the device.</p>
                    <p class="c-paragraph-3">6. Go to the BIOS setup of the device. Select  <b>Windows</b>  as the Operating System, and set the device to boot from your USB drive. When the system reboots, you will see the WinPE command prompt. Switch the WinPE prompt to the USB drive. This is usually C: or D:, but you may need to try other drive letters.</p>
                    <p class="c-paragraph-3">7. Run <b>eMMCInstaller.cmd</b>, which will install the Windows 10 IoT Core image to the device's eMMC memory. When it completes, press any key and run  <b>wpeutil reboot</b>. The system should boot into Windows 10 IoT Core, start the configuration process, and load the default application.</p>   
                    
                    <blockquote class="c-blockquote">
                    <p class="c-paragraph">NOTE: Make sure the device is now booting from the eMMC memory by entering the BIOS Setup again and switching the Boot Drive Order to load from the Hard Drive instead of from the USB Drive.</p>
                    </blockquote>

            </section><br>
            {% include setup-steps.html%}
        </section>
        <section role="tabpanel" id="pivot-target-3" aria-hidden="true">
            <section>
                <br><br><h2>eMMC (Qualcomm devices)</h2>
                <p class="c-paragraph-3">Qualcomm devices that use eMMC include the <b>Dragonboard</b>. </p><br><br>
                <h3 class="c-subheading-2">Flashing IoT Core</h3> 
                    <p class="c-paragraph-3">1. Download and install the Dragonboard Update Tool for your  <a class="c-hyperlink" href="https://developer.qualcomm.com/download/db410c/windows-10-iot-update-tool-dragonboard-410c-x86.zip">x86</a> or  <a class="c-hyperlink" href="https://developer.qualcomm.com/download/db410c/windows-10-iot-update-tool-dragonboard-410c-x64.zip">x64</a> machine.</p>
                    <p class="c-paragraph-3">2. Download the  <a href="http://go.microsoft.com/fwlink/?LinkId=733603" class="c-hyperlink">Windows 10 IoT Core Dragonboard FFU</a>.</p>

                    <blockquote class="c-blockquote">
                    <p class="c-paragraph">NOTE: To use the Insider Preview version of Windows 10 IoT Core, download it from the <a class="c-hyperlink" href="https://www.microsoft.com/en-us/software-download/windowsiot" target="_blank">Windows Insider site</a>. You will need sign in with your Insider Program credentials. If you aren't a Windows Insider, you can sign up for Windows Insider Preview <a class="c-hyperlink" href="https://insider.windows.com/">here</a>.</p>
                    </blockquote>

                    <p class="c-paragraph-3">3. Double-click on the downloaded ISO file, and locate the mounted Virtual CD-drive. This drive will contain an installer file (.msi); double-click on it. This creates a new directory on your PC under C:\Program Files (x86)\Microsoft IoT\FFU\ in which you should see an image file, "flash.ffu".</p>
                    <p class="c-paragraph-3">4. Ensure your dragonboard is in download mode by setting the first boot switch on the board to USB Boot, as shown below. Then, connect the Dragonboard and the host PC via a microUSB cable, then plug in the Dragonboard to a 12V (> 1A) power supply.</p><br>
                    <img class="c-image" style="width:75%" src="{{site.baseurl}}/Resources/images/SetupDB410c/dragonboard_usbboot.png" alt="Set dragonboard in download mode">
                    <p class="c-paragraph-3">5. Start the Dragonboard Update Tool, which should detect that the Dragonboard is connected to your PC with a green circle. "Browse" to the Dragonboard's FFU that you downloaded, then click the <b>Program</b> button.</p><br>
                    <img class="c-image" src="{{site.baseurl}}/Resources/images/SetupDB410c/DB410c_UpdateTool.png" alt="Dragonboard update tool">
                    <p class="c-paragraph-3">6. Once the download is complete, disconnect the power supply and microUSB cable from the board and toggle the USB Boot switch back to  <b>OFF</b>. Connect an HDMI display, a mouse, and a keyboard to the Dragonboard and re-connect the power supply. After a few minutes you should see the Windows 10 IoT Core default application.</p><br>
                    <img class="c-image" style="width:75%" src="{{site.baseurl}}/Resources/images/SetupDB410c/DB410c_DefaultApp.jpg" alt="Dragonboard default app">
            </section><br>
          {% include setup-steps.html%}
        </section>
            <section role="tabpanel" id="pivot-target-4" aria-hidden="true">
            <section>
                <br><br><h2>NOOBS</h2>
                <p class="c-paragraph-3">Devices that can be flashed using NOOBS include Raspberry Pi 2 and 3 boards.<br><br>
                    To install Windows 10 IoT Core onto your boards (Raspberry Pi) using NOOBS, you'll need to have a micro SD card formatted with NOOBS. If you already have a SD card pre-imaged with NOOBS, you can skip to learning more about connecting to a network. Otherwise, you'll need to download the latest version of NOOBS from the <a class="c-hyperlink" href="https://projects.raspberrypi.org/en/projects/noobs-install">official NOOBS download</a> site.
                </p><br><br>
                <h3 class="c-subheading-2">Flashing IoT Core and connecting to a network</h3> 
                    <p class="c-paragraph-3">1. Download NOOBS and copy it onto your SD card. To do so, you'll need to mount your SD card onto your machine and format it. The <a class="c-hyperlink" href="https://www.sdcard.org/downloads/formatter_4/">SD Formatter 4.0 tool</a> is the suggested tool to use when formatting your SD card for NOOBS.</p>
                    <p class="c-paragraph-3">2. Then, extract the NOOBS archive onto your newly formatted SD card. Insert your NOOBS-ready micro SD card into your device. Ensure a monitor, keyboard, and mouse are connected.</p>
                    <p class="c-paragraph-3">3. Connect your device to the Internet by Ethernet cable and boot your device. Otherwise, follow the on-screen instructions to connect to your wi-fi network. Select <b>Windows 10 IoT Core</b> from the list of available options on the NOOBS screen, and then click install.</p><br>
                        <img class="c-image" src="{{site.baseurl}}/Resources/images/NOOBS/NOOBS on PI2 IoT Core.JPG" alt="Install Windows 10 IoT Core with NOOBS">
                    <p class="c-paragraph-3">4. NOOBS will ask you to confirm if you wish to overwrite the contents of the SD card before installing Windows 10 IoT Core. Unless you have data on the card you wish to save, press yes. This action cannot be undone.</p>
                    <p class="c-paragraph-3">5. Once you've selected your build, you should get the following screen. After a few minutes, the installation should be complete and you will have rebooted into Windows 10 IoT Core.</p><br>
                        <img class="c-image" src="{{site.baseurl}}/Resources/images/NOOBS/noobs-downloading.jpg" alt="Using NOOBS to install Windows 10 IoT Core on a device"><br><br>    
            </section>
            <section>
                <h3 class="c-subheading-2">Connecting to your developer machine</h3>                        
                <h4 style="padding-top:36px;" class="c-subheading-4">Windows Device Portal</h4>
                <p class="c-paragraph-4">Use <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/deviceportal">Windows Device Portal</a> to connect to your device through a web browser. The device portal provides configuration and device management capabilities, as well as advanced diagnostic tools.  </p>
                <h4 style="padding-top:36px;" class="c-subheading-4"> Others</h4>
                <p class="c-paragraph-4">You also can use <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/powershell">PowerShell</a> to connect to your device through a command shell. You can also follow the <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/ssh">SSH</a> instructions to use SSH to connect to your device.</p>
                <blockquote class="c-blockquote">
                <p class="c-paragraph">It is highly recommended that you update the default password for the Administrator account. Instructions are included in the relevant documentation for <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/deviceportal">Windows Device Portal</a> or <a class="c-hyperlink" href="{{site.baseurl}}/{{page.lang}}/docs/powershell">Powershell</a>.</p>
                </blockquote>  
            </section>   
        </section>
    </div>  
</section>
<section data-grid="col-12" class="pad-thin">
	<div data-grid="col-4">
	<a class="c-action-trigger c-glyph glyph-chevron-left" href="{{site.baseurl}}/{{page.lang}}/GetStarted/Prototype/SelectDevice.htm">Previous: Select your Device</a>
	</div>
	<div data-grid="col-6"></div>
	<div data-grid="col-2">
	<a class="c-action-trigger c-glyph-after glyph-chevron-right" href="{{site.baseurl}}/{{page.lang}}/GetStarted/Prototype/GetTools.htm">Next: Get your Tools</a>
</div>
</section>
